[2019-07-01 11:18] mhow2 commented on #276
+1 @creat89

BTW I bumped into the issue with project https://github.com/RocketChat/Rocket.Chat (all metrics enabled). It's stuck on:

[code]

The last line in metric-platform logs is:

`INFO  [MetricListExecutor (RocketChat, 20180102)] (09:34:27): Ending execution AnalysisTask 'RocketChat:task' with MetricExecution 'style.spreadOfStyleViolations.historic' done in 9 ms`

[2019-07-01 13:00] mhow2 opened #308 "ProjectsRelationsTransMetricProvider : unexpected IO exception while measuring"
First notice it can be a side effect of #276 as there is a stuck `git pull` in the container.
I've been running a task on year 2018 on project https://github.com/RocketChat/Rocket.Chat.git, all metrics enabled.

[code]

[2019-07-01 13:02] mhow2 commented on #110
I didn't observe this behavior recently. Closing.

[2019-07-01 13:02] #110 closed

[2019-07-02 06:44] mhow2 commented on #176
I just tested again and get the same error. As far as I can tell It only happened to me with Atlassian's SaaS. I'm running the analysis with all metrics enabled over year 2018. Original issue description is still valid.

[2019-07-02 06:57] creat89 commented on #176
Are you using authentication for the JIRA Reader? If so, can you check your credentials? Especially your username. When I tested them, I didn't use any authentication.

https://community.atlassian.com/t5/Jira-questions/JIRA-Rest-API-authentication-always-returns-401-unauthorized/qaq-p/187181

[2019-07-02 07:01] mhow2 commented on #176
Thanks.

... So it might be the issue for SaaS. I'll test that.

but we need both to work at the end :)

[2019-07-02 07:29] mhow2 commented on #176
Now I bump on #276 so I suppose for the current issue it's a good news : it means the API token works :)

[2019-07-02 07:29] #176 closed

[2019-07-02 08:19] mhow2 opened #309 "error in NewVersionMavenTransMetricProvider"
Project: https://github.com/bonitasoft/bonita-studio
Timespan : 2018
Metrics: all enabled

(The same seems to happen with `metricprovider.trans.newversion.osgi.NewVersionOsgiTransMetricProvider`)

[code]

[2019-07-02 08:20] mhow2 commented on #309
Hi @tdegueul, are you the one this issue ?

[2019-07-02 10:12] creat89 opened #310 "RESTMULE very verbose"
Hello @kb634 and @patrickneubauer,

With the last version of RESTMULE, we have observed that our GitHub BTS Reader has become very verbose. In some cases,  it prints the texts from messages and issues giving the aspect that Scava has encountered an issue, but in fact is the text of an issue posted in GitHub. Thus, is there any way to avoid the verbose feature of RESTMULE? or maybe to have differen

[2019-07-02 11:19] kb634 commented on #310
thank you for the suggestion, we will try adding an option to limit the logger messages when we can.

[2019-07-02 11:29] Danny2097 commented on #297
In https://github.com/crossminer/scava/commit/f204c8c8a63f5a00bbfac4746653b365880a69a2, I  removed the 'fall back' mechanism which creates a local client (which connects to a local ES cluster) - since this was only used during development. This should prevent the error above.

However this mechanism should only be triggered when the client is unable to connect to the ES cluster deployed with platf

[2019-07-02 11:42] MarcioMateus commented on #297
Hi @Danny2097 thanks for the feedback. Actually when I saw this behaviour, the ES container was not running.

So for the this metric-provider to work as expected he should also deploy the ES instance? Or is only required for testing?

[2019-07-02 12:14] Danny2097 commented on #297
@MarcioMateus for the indexing to work, ES should already be running.

[2019-07-02 12:21] #297 closed

[2019-07-02 13:46] Danny2097 opened #311 "Metric Provider 'Kind' is missing 'INDEXING' in the UI"
Currently in the latest build of the platform, the UI shows that there are two types of metric providers `TRANSIENT` and `HISTORIC`. However, there is also a third type known as `INDEXING`. This collection of metric providers do not compute metrics based on the content of the delta, but rather stores the output of transient metric providers within Elasticsearch.

Internally, they are their own typ

[2019-07-03 07:06] mhow2 opened #312 "java.net.SocketTimeoutException and task interrupted"
Project: https://gitlab.ow2.org/sat4j/sat4j
Time Span : 2018
Metrics : narrowed to the list below (eg. our Project Scenario).

As an user, I would expect the system not to stop the task but at least to retry X times the last operation or something like that before throwing in the towel.

[code]

Exception:
[code]

[2019-07-03 07:07] mhow2 commented on #312
in addition @ambpro : the task is showing "completed" with 100% which is not true. It should be catched at some point.

[2019-07-03 09:33] mhow2 commented on #312
I think it has no relation with the heart of this issue but I just realized that the metric provider array above doesn't include the related needed dependencies...

[2019-07-03 11:47] Danny2097 commented on #312
The default time out period for OKHTTP is 10 seconds. In commit d7444f9df3c48c480412d30d9235beb959d4d631 I increased the period of time before a timeout  is triggered from 10 seconds to:
- '30' Seconds for Connection
- '1' Minute for Read
- '1' Minute for Write

 Let me know if this change helps with this issue.

[2019-07-03 12:40] blueoly commented on #309
Hi @mhow2 ! I am responsible for this. Could you please tell me the address of the CROSSMINER instance, where the error happened, if of course the instance is public.

[2019-07-03 12:41] blueoly commented on #308
Hi @mhow2 ! It is exactly the same issue with #309. Did this error happen in the same CROSSMINER instance as the one described in #309?

[2019-07-03 14:08] mhow2 opened #314 "GitHub Reader not retrieving all the issues (Pagination problem)"
With recent build, I tried to analyse https://github.com/eclipse-ee4j/glassfish.git on Jan/2018 with the following metrics enabled:

![2019-07-03_16-06](https://user-images.githubusercontent.com/9987241/60598198-90c0c900-9dac-11e9-927b-ddd7f798cb2c.png)

But I don't get any result for `bugs.bugs`.
As you can see there are bugs on Jan/3 : https://github.com/eclipse-ee4j/glassfish/issues?utf8=%E2%9C

[2019-07-03 14:14] mhow2 commented on #309
@blueoly : Hi ! I'm afraid that I have wiped the instance since then. In the log pasted above you have the day of analysis when it happened. Can you tell me what you need exactly ?

[2019-07-03 14:15] mhow2 commented on #308
yes

[2019-07-03 14:39] creat89 commented on #314
I have seen a similar behavior in repositories with large number of issues. But I wasn't sure of the reason until now. The reader seems to not doing the pagination, but I don't know if the error comes from RESTMULE or the GitHub reader.

Currently, I'm seeing a range of only 100 issues, while the number it is much greater.

@Danny2097, I couldn't find where the pagination should be done. Could you

[2019-07-03 18:28] Danny2097 commented on #314
Pagination should be handled by the Github Client generated by RESTMULE. @creat89  I don't know what version of RESTMULE you packaged and included with the Github reader.
Perhaps this issue has been fixed in a recent version of RESTMULE and it is this that just needs updating since this reader was built over 12 months ago. Maybe it is worth checking that before contacting York.

[2019-07-03 18:31] creat89 commented on #314
The version is the last one of one month or maybe two months ago. As I had to update it for the issue with the reader breaking if Github servers were faulty.

[2019-07-03 18:34] creat89 commented on #314
And no, RESTMULE has not been updated since then.

[2019-07-04 07:18] mhow2 commented on #312
Thanks @Danny2097. the timeout delay is one thing. Now, as mentioned in my initial comment, what's done after it has been triggered ? Is there a retry ?

[2019-07-04 07:54] ambpro commented on #312
The metrics providers above still incomplete. Within the metric-platform, each metric could have or not a set of dependencies: take a look on the http://scava-dev.ow2.org:8182/analysis/metricproviders.
Right now, the validation of the dependencies is done on admin-ui front end and not on the backend endpoint `/analysis/task/create`.

By looking on the list you have provided, I figure out that it c

[2019-07-04 08:45] mhow2 commented on #312
Yes I am aware, and noticed what you mentioned.
I did wrote a system to resolve the dependencies in my provisionning script.
This being said I'm not sure it's related to the current issue. I'll do another test.

[2019-07-04 11:16] mhow2 commented on #312
The easy way to reproduce is to issue the following, from the box hosting the docker stack when the task runs:
`$ sudo iptables -I FORWARD 1 -d gitlab.ow2.org -j DROP`

And my other comment above is still valid:

If needed I can open a new issue for the later.

[2019-07-04 15:20] blueoly commented on #309
I need an instance that this error happens because I cannot reproduce this issue. At my instances, it runs fine.

[2019-07-08 09:32] #283 closed

[2019-07-08 09:36] #189 closed

[2019-07-08 10:01] Danny2097 commented on #312
Hi @mhow2, sorry for the delay I have just returned from annual leave. The answer to your question quoted above is no. None of our readers have retry mechanisms built into them as this feature was not requested during discussions in L'Aquila.

[2019-07-08 14:38] #198 closed

[2019-07-09 10:12] geryxyz opened #316 "GitHub integration server and description"

[2019-07-09 10:35] #316 closed

[2019-07-09 13:25] Danny2097 commented on #314
@patrickneubauer have you experienced any issues regarding pagination when using the Github RESTMULE Client?

[2019-07-10 07:40] mhow2 commented on #312
No requested ok, but does it sound logical to you to have a retry ? What doesn't sound good to me is when it fails, it is perfectly silent. The end user should know, at least from the UI (@ambpro) that a task got interrupted and ended prematurely, ** along with the reason to it**.

[2019-07-10 07:42] mhow2 commented on #276
What I can say is the metric providers in the original description of #312 don't look concerned.

[2019-07-12 15:05] nnamokon opened #318 "Register Project: nntp as a source"
Hi @ambpro
The fields required to register NNTP project on the UI is incomplete. Please see the full parameters below:

Mandatory parameters:
`URL` - `String` - URL of the project repository
`NewsGroupName` - `String` - The newsgroup name
`Port` - `int` - The port number
Note: `Port` should be set to `119` by default but user can enter a different value.

Optional parameters:
`Interval` - `int` -

[2019-07-18 10:35] mhow2 opened #319 "Very slow task"
**I don't have a clue how it can be reproduced yet.** (Understand that I need help)
This one is different than #276

I've been adding some projects:
https://github.com/docdoku/docdoku-plm
https://github.com/ow2-proactive/scheduling
https://github.com/INRIA/spoon

With analysis task on year 2018 with the following metrics (vizs only are listed):

[code]

I'm running 3 workers with one task each as

[2019-07-18 10:51] creat89 commented on #319
Could it be related to #210? I know for fact that applications with great verbosity, at least when executed on console, can be slower than non verbose ones. Do you see large amounts of lines printed from Restmule?

[2019-07-18 10:57] creat89 commented on #319
Sorry, I didn't see before the images. The problem seems to be at restmule level or the link between restmule and github reader. Still, the verbosity might be still the cause, as I guess the program needs to print everything before it is allowed to continue.

[2019-07-18 11:00] mhow2 commented on #319
@creat89 : the problem is there is no log activity, that's the point. The tasks are sleeping.

[2019-07-18 11:04] creat89 commented on #319
Do you have a valid token? Or is the reader being executed with a public access instead of the token based one? This should appear in the logs. If this is the case, that would explain why it needs to wait several minutes, the calls are being used too fast.

[2019-07-18 11:08] mhow2 commented on #319
I'm using a valid github token, at least as far as I can see from the admin ui.

[2019-07-18 11:11] mhow2 commented on #319
JMX available on scava-dev.ow2.org port 8192

[2019-07-18 14:11] creat89 commented on #319
Seeing this log, I guess the number of calls are running quite fast and the

[2019-07-19 10:31] mhow2 opened #320 "sonar metric ID"
Currently we have metric ID as random key in ES
![2019-07-19_11-01](https://user-images.githubusercontent.com/9987241/61528949-5ef06900-aa20-11e9-87fe-61d6e12424ab.png)

We should have something like `sonar_critical_violations`. it's a matter of concat `sonar_` with the metric keys we pass to the script it https://github.com/crossminer/scava-deployment/blob/dev/dashboard/importer-sonar-metrics.sh

[2019-07-23 08:16] mhow2 commented on #320
@valeriocos : could we have the metric ID with `sonar_` prefix as above ? So it's easier to search in a large list

[2019-07-23 08:32] valeriocos commented on #320
Sure, the code in the PR already includes it: https://github.com/crossminer/scava/pull/322/files#diff-23b677ffd5993ad8b4df7b9ef80db806R183

[2019-07-25 09:32] mhow2 opened #324 "warning in Kibiter "Visualize: No mapping found for [datetime] in order to sort on""
I'm facing this with my instance only on dashboard `scava-overview`. @valeriocos I would need help to sort out what's the cause.

[2019-07-25 09:32] mhow2 commented on #320
It works !

[2019-07-25 09:32] #320 closed

[2019-07-25 09:33] mhow2 commented on #319
I can't reproduce. Will reopen if it happens again.

[2019-07-25 09:33] #319 closed

[2019-07-25 09:40] mhow2 commented on #311
Additionally , notice that there is not **quick** way to see what are active indexers on a specific task in the UI. Currently the UI can only show MP with viz:
![image](https://user-images.githubusercontent.com/9987241/61863842-b1260400-aed0-11e9-8ad7-f2e41b033ea8.png)

If one wants to know which indexers are associated with a task, he would need to edit the task and review the metrics list seekin

[2019-07-26 11:25] blueoly opened #325 "Cannot create analysis tasks in certain projects"
I have tried to create analysis tasks in the public beta instance http://beta.crossminer.org:5601 but in some projects this was impossible, for example grimoirelab-elk.

The log from the oss-app container gives back this:

Jul 26, 2019 11:11:33 AM org.restlet.engine.log.LogFilter afterHandle
INFO: 2019-07-26	11:11:33	172.18.0.11	-	172.18.0.7	8182	GET	/analysis/tasks/project/grimoirelabelk	-	500	48

[2019-07-26 14:25] valeriocos opened #326 "Problems to get projects analysed"
I have recently started using the beta.crossminer instance and I'm facing some difficulties to analyse some project. One the issue found is reported by @blueoly https://github.com/crossminer/scava/issues/325.

It also seems that using more than a worker causes problems. When adding a second task, the system seems to freeze/crash and the workers disappear (I still have to identify the right steps t

[2019-07-26 14:26] valeriocos commented on #326
@ambpro do you have any idea of what is happening?

[2019-07-26 15:21] valeriocos commented on #125
ping @tdegueul

[2019-07-26 23:51] valeriocos commented on #324
The problem is due to the fact that the index scava-factoids is empty (see screenshot of `scava-facts` dashboard at [1], however the same error is prompted also on `scava-overview` ). I executed scava2es against the ow2 instance with the conf at [2] and see that strangely no factoid is returned by the scava API [3].

[1]
![captura_5](https://user-images.githubusercontent.com/6515067/61986610-bab68

[2019-07-28 11:22] valeriocos opened #328 "Analysis on Augur freezed"
I'm trying to analyse the repo https://github.com/chaoss/augur (all metrics, from 01/01/2018 - 31/12/2018) but the analysis seems dead. The last date analysed has been 02/01/2018 and the worker's heartbeat stopped at 10h35 (see figure below for details).
![captura_6](https://user-images.githubusercontent.com/6515067/62005931-70c9be80-b13a-11e9-885a-eb111ccfe36c.png)

Any thoughts @tdegueul @blueol

[2019-07-29 09:52] MarcioMateus commented on #328
Can you find anything on the logs of the `oss-app`? Or any relevant information in the `Stack Traces` section of the Administration Dashboard?

[2019-07-29 13:40] valeriocos commented on #328
Thank you @MarcioMateus to take the time to check this issue.
The issue happened again but with a different repo (https://github.com/chaoss/grimoirelab-cereslib).

The logs retrieved from the oss-app doesn't seem to say too much about the error:
[code]

I also checked the other logs, they are clean of errors except the api-server, which contains a time out error. However the latter doesn't seem to

[2019-07-29 15:20] MarcioMateus commented on #328
I believe that the error on `trans.rascal.readability.fileReadability` metric is not the reason for the blocking to worker. @tdegueul may say otherwise.

I will do a local test on my machine with that projects and see if I can replicate the behaviour.

[2019-07-29 19:39] valeriocos commented on #328
The problem seems to be related to the UI (it happened again with another repo, cereslib). Basically all sections are empty (the projects section should list more than 20 projects). I attach a gif of what I see, the error in the log is the one reported above (`com.netflix.zuul.exception.ZuulException: Read timed out`)
![Peek 29-07-2019 21-29](https://user-images.githubusercontent.com/6515067/62076

[2019-07-29 19:41] valeriocos commented on #328
@mhow2 did you experience some similar problems in the past? If so, which steps did you follow to get some (>5) projects analysed? thanks!

[2019-07-29 19:42] valeriocos commented on #324
@mhow2 how do you want to proceed on this issue?

[2019-07-29 20:14] MarcioMateus commented on #328
I left my instancr running. It was already on March 5th. Can you check if the oss-app is still running?

[2019-07-29 20:55] valeriocos commented on #328
I restarted the container, delete the previous analysis and started again. I'll check it tomorrow morning, for the moment it isn't freezing (the heartbeat gets updated, see the gif) but an error popped out
[code]

![Peek 29-07-2019 22-51](https://user-images.githubusercontent.com/6515067/62081893-e07f9c80-b253-11e9-946d-2399f54efd72.gif)

[2019-07-30 06:08] mhow2 commented on #324
Sorry for the late answer. There is no factoids because I didn't run any factoid metric as I don't need them for the UC. So now we have explained everything :)
PS: not running all metric is also a way to speed up the analysis

[2019-07-30 06:08] #324 closed

[2019-07-30 06:59] valeriocos commented on #328
Freezed again, last log in `oss-app` is the following:
[code]

`http://localhost:8182/` doesnt' seem to work, the page is loading since a couple of minutes

Memory consumption of my machine is:
[code]

http://localhost:5601/#/worker shows the image below, and when clicking on other tabs, no info is loaded (see gif at https://github.com/crossminer/scava/issues/328#issuecomment-516133367)
![captura_

[2019-07-30 07:02] valeriocos commented on #324
Thank you for the tip :)

[2019-07-31 12:19] MarcioMateus commented on #328
I was able to analyse the project https://chaoss.github.io/augur for the whole year of 2018. It took some time and the analysis stopped/paused for some times (I manually restarted it some times and other times it resumed by itself).

After the analysis several errors were shown on the stack traces. Most of errors seems to be generate by the puppet and docker configuration analysis but there are al

[2019-07-31 14:57] valeriocos commented on #328
thank you @MarcioMateus for the info. When you say that you manually restarted the analysis, you mean you restarted the container?
For how long the analysis stopped/paused? 10 mins, 1 hour or more(a rough estimation would be enough)?

Thanks

[2019-07-31 15:09] MarcioMateus commented on #328
Yes, the manual restart consists in the restart of the container and the stop a start of the analysis task.

It was stopped for some hours, I left it in that state yestarday's afternoon buy this morning the task said it was completed.

[2019-07-31 15:16] valeriocos commented on #328
I'll check it as soon as I'm back from vacations (August 8th).

[2019-08-01 06:54] mhow2 commented on #328
Please @MarcioMateus , @valeriocos , whenever you feel a task is stuck, please perform the steps described in #276

[2019-08-01 09:36] mhow2 opened #329 "average sentiment metric followup"
( This is about the project https://github.com/docdoku/docdoku-plm/issues in year 2018 )

Hi @creat89, @Danny2097, @yannisKork

So as far as I understood from the mail thread about this metric, you committed the changes that makes the reader not to put value `0` when no message occur.

Now about this:

I don't understand because I'm seeing many comments issued before May:

https://github.com/docdo

[2019-08-01 10:00] MarcioMateus commented on #276
After running project https://github.com/chaoss/augur with all metrics, to address https://github.com/crossminer/scava/issues/328, I runned `ps axf` within the `oss-app` container and got the following output

[code]

It seems we are still not properly closing some of the git connections.

[2019-08-01 10:35] mhow2 commented on #75
I'm going to reopen this issue. It looks essential to me to have a commit hash reference of the metric-platform build somewhere if we want an efficient workflow in bug fixing and release strategy.
It looks very obvious to me. Please @davidediruscio can you provide your input on this.

[2019-08-01 10:42] creat89 commented on #329
Hello,

I'm guessing this issue is related to the pagination issue, which is preventing us to retrieve all the information.

[2019-08-01 15:54] mhow2 commented on #314
flagging @kb634

[2019-08-01 16:05] mhow2 commented on #314
@kb634 , to speak about the pagination issue, I suppose that the URL used with cURL is inspired from https://developer.github.com/v3/#pagination
For example, https://api.github.com/repos/ow2-proactive/scheduling/issues?per_page=200
Notice that in this example, the number of entries is capped to 100 even if we ask more. It could be a lead to address the issue.

[2019-08-02 14:49] borisbaldassari commented on #104
still up too. :-)

[2019-08-02 14:49] borisbaldassari commented on #119
Looks good to me! thanks!

[2019-08-02 14:49] #119 closed

[2019-08-02 14:55] borisbaldassari commented on #79
Not sure it's the same problem, but it's still happening on ci4 (updated today). Only one worker actually works, and no pending task is shown -- although there are pending tasks on another project. I don't know if the worker is stuck on the current analysis -- how could we tell?

![Capture du 2019-08-02 16-53-11](https://user-images.githubusercontent.com/5849071/62378943-2be0c600-b546-11e9-9bd9-92

[2019-08-02 14:57] #81 closed

[2019-08-02 15:46] MarcioMateus commented on #79
Hi @borisbaldassari. If I am not mistaken you only have on worker running (`w1`). The other `worker1` is only a data structure created when you import the dumps without any worker instance associated with it.

When you start the platform with the docker-compose we are only creating the worker `w1`.

If you want to you more workers you need do uncomment the `oss-slave` service, which will create th

[2019-08-04 21:01] mhow2 opened #330 "tasks suddenly not showing up because of error 500"
I'm running a situation I don't have a clue how I got in. I did nothing special but adding, removing and running tasks.
As now I got an error 500 on `/analysis/tasks/project/Lutece` on some others projects (not all of them), which is the reason I don't see the tasks in the Admin UI. In the meantime, all the tasks still exists in DB, in `analysisTasks` collection.
Help required. I don't want to loo

[2019-08-05 08:46] mhow2 opened #331 "removing a task should not delete the metric data if referenced in other(s) remaining task(s)"
When you have several tasks in a project that references the same metric and want to delete one of the them, in the most cases you don't want the metric data to be deleted.

[2019-08-05 08:46] mhow2 commented on #331
Already discussed with @aabherve . Flagging @crossminer/sft

[2019-08-05 16:24] creat89 commented on #329
Hello @mhow2,

I have pushed commit 9d02f6733daa72956d17b8b69370cddf1876d0af which should solve some of the issues that we were observing in the average sentiment and that were discussed in the email. Now, the calculation should only take into account the bugs that contain comments, instead of doing an average of all the bugs even if they don't contain comments. Also, I made some changes in a tran

[2019-08-06 09:00] mhow2 commented on #314
@kolovos please don't forget us. We need this solved asap.

[2019-08-06 09:38] mhow2 opened #332 "missing metrics in ES for a project"
If you look at http://scava-dev.ow2.org:8601/goto/3c12242ffb9e1bf33332a22d907163f5 you won't see `spoon` in the list of projects for the metric `DITJavaQuartilesHistoric_Max`. Which is unexpected because we do have metrics available at http://scava-dev.ow2.org:8182/projects/p/spoon/m/DITJavaQuartilesHistoric

Could you investigate @valeriocos ?

[2019-08-06 09:59] creat89 commented on #328
@MarcioMateus, I have seen that in your stack trace presents an issue with the CommitsIndexingMetric, I'll check it. However, I don't think this metric would be the cause for freezing the process.

[2019-08-06 11:23] kb634 commented on #314
@mhow2 we have replicated the issue and are looking into ways to tackle it, we will let you know when it is solved or if we can use any more input/insight into the matter, cheers.

[2019-08-06 17:29] kb634 commented on #314
@Danny2097 when you can, please incorporate the latest changes into the reader and let us know whether the issue is solved. Please note that for your example query, there are 229 pages (22801-22900 issues) available so it may take a while to run.

[2019-08-06 18:01] creat89 commented on #314
I'll do the changes tomorrow morning

Sent from my phone

________________________________
From: Konstantinos Barmpis <notifications@github.com>
Sent: Tuesday, August 6, 2019 6:29:41 PM
To: crossminer/scava <scava@noreply.github.com>
Cc: Adrián <adrian89_@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [crossminer/scava] GitHub Reader not retrieving all the issues (Pagination probl

[2019-08-07 12:32] creat89 commented on #314
Hello @mhow2,

I have just pushed the modification done by @kb634. It should be available like in one hour after Jenkins has created the builds. I'll test it locally later and see if the issue is solved.

[2019-08-07 13:12] creat89 commented on #314
@mhow2, the update will take longer

[2019-08-07 13:28] creat89 commented on #314
@mhow2, in my last commit 4ac155144c7f63167c5bd10cc6c2d046a01a1368 I have fixed this issue. With the tests that I've been doing, now I can see the bugs of the 3rd January 2018. I will close the issue, but if it occurs again, let us know. The fix should be available in Jenkins around 5pm time of Paris on the 7th August 2019.

Thanks @kb634 for the fix!

[2019-08-07 13:28] #314 closed

[2019-08-07 13:30] creat89 commented on #329
Hello @mhow2,

With issue #314 solved and the modification done in commit 9d02f6733daa72956d17b8b69370cddf1876d0af, this issue should be fixed. I'll close the issue, but if it occurs again, don't hesitate in reopening again.

[2019-08-07 13:30] #329 closed

[2019-08-08 15:31] #248 closed

[2019-08-08 15:44] creat89 commented on #276
Hello everybody,

I found this bug in Eclipse Issue tracker:

https://bugs.eclipse.org/bugs/show_bug.cgi?id=545936

In summary, it says that jgit (the library behind doing the git pull in CROSSMINER) has issues when it is called multiple times if the Java version is the 11. @MarcioMateus and @mhow2, which version of Java are you using?

[2019-08-09 11:33] valeriocos commented on #332
Sure, I'm on it

[2019-08-09 13:01] valeriocos commented on #332
I fetched the data from the OW2 instance and enriched it locally. I didn't detect any error (spoon data was correctly shown). So I enriched the data directly in the OW2 instance, and now I can see the missing spoon data: http://scava-dev.ow2.org:8601/goto/8fa5f78a59e679b5008bff4ee8c0b765

Feel free to close the issue @mhow2

[2019-08-19 13:43] ambpro commented on #325
Hello @blueoly,

By looking on the stacktrace, It seems that the metric-platform rest APIs endpoints failed to start correctly. I got the following 500 errors on the browser devtool console when I entered on the admin-ui projects view.

![beta crossminer-1](https://user-images.githubusercontent.com/35226648/63264165-ae79bd00-c28a-11e9-9eb6-b14cb77e632c.png)

At the same time, I launched a fresh in

[2019-08-19 13:55] ambpro commented on #326
Hello @valeriocos,

please, check out my reply about the issue [#325](https://github.com/crossminer/scava/issues/325#issuecomment-522581696) -:)

In summary, the analysis process data model has been changed a couple months ago. The data dumps from [M24](http://ci3.castalia.camp/dl/M24/) is no longer up-to-date and I suggest you to get ride of it and move to the new one on [M30](http://ci3.castalia

[2019-08-19 14:29] valeriocos commented on #326
Thank you for the pointer @ambpro . I'll remove the dumped data at https://github.com/crossminer/scava-deployment/blob/dev/oss-db/Dockerfile and try it again.

[2019-08-19 17:19] MarcioMateus commented on #276
HI @creat89 ,

We are running the the metric-platform on a docker container based on `openjdk:8-jdk`, so JDK 8.

[2019-08-21 08:30] ambpro commented on #104
@mhow2, I was working on the project edition feature which is available now on the admin-ui.

@borisbaldassari, the commit a542b37 should display the list of the connectors behind an existing project. Moreover, you could also edit the list of the connectors through the project's configuration page.

[2019-08-21 12:49] ambpro commented on #182
Closing the ticket !

[2019-08-21 12:49] #182 closed

[2019-08-21 13:51] valeriocos opened #334 "NPE when calling Number of breaking changes (RascalMetricProvider)"
I'm analysing https://github.com/elastic/elasticsearch (from 01/01/2019 - 01/06/2019) with the following metric providers:
[code]

A NPE popped out on `RascalMetricProvider (Number of breaking changes)` (see below).
[code]

[2019-08-21 13:52] valeriocos commented on #334
Maybe there are no breaking changes @tdegueul ? If this is the case, could you point me to a couple of projects were breaking changes should be detected? thanks

[2019-08-23 12:53] tdegueul opened #336 "Delta creation getting out of hand on large projects"
I recently pushed a commit (d3f855e) that details how much time it takes to compute the deltas for VCS / BTS / communication channels. Here's the result for https://github.com/elastic/elasticsearch (one of the project used in Bitergia's use case):

[code]

This is ~30min for the BTS. The delta creation seems to iterate on a lot of issues:

[code]

I understand that the poor performance is probably

[2019-08-25 16:50] borisbaldassari opened #338 "Workers being stuck in worker"
When creating analysis tasks for projects, they seem to be stuck in the worker. Heartbeat is not updated, and nothing happens (percentage or metric processed don't change, ..).

![Capture du 2019-08-25 18-16-21](https://user-images.githubusercontent.com/5849071/63652786-898eb980-c764-11e9-971a-094fae144af4.png)

Stopping and re-starting the oss-app or the whole stack resumes the analysis but it sh

[2019-08-26 07:24] valeriocos commented on #338
Hi @borisbaldassari , I had the same issue (https://github.com/crossminer/scava-deployment/issues/89). I was able to get tasks analysed by excluding some services from the docker compose and limiting the number of metrics. Please have a look at https://github.com/crossminer/scava-deployment/tree/dev#task-analysis, maybe it will also work for you.

[2019-08-26 07:26] valeriocos commented on #326
It seems that the proble was related to the limited number of resources of my machine, which is not able to handle all services in the docker-compose. What worked for me was to limit the number of services (more details at: https://github.com/crossminer/scava-deployment/tree/dev#task-analysis)

[2019-08-26 07:26] #326 closed

[2019-08-26 07:27] valeriocos commented on #328
It seems that the proble was related to the limited number of resources of my machine, which is not able to handle all services in the docker-compose. What worked for me was to follow the procedure detailed at: https://github.com/crossminer/scava-deployment/tree/dev#task-analysis

[2019-08-26 07:28] valeriocos commented on #328
I close this issue, feel free to reopen it if needed, thanks

[2019-08-26 07:28] #328 closed

[2019-08-26 08:42] borisbaldassari commented on #338
Hi @valeriocos, thanks for the head up! :-)

Yeah, I've seen the issue. Looks like it's not exactly the same symptom: I still have the worker and tasks displayed in the UI, although the heartbeat is staled, and the errors you get when stopping the containers do not happen on my side. Plus, when I stop/start the containers it restarts the computation and then stops shortly afterwards -- which I don

[2019-08-26 09:03] jurgenvinju commented on #334
I just had a quick look out of curiosity (and I woke up with some energy). An unexpected bug is triggered in the Eclipse Java Compiler, possibly because we use it just a bit differently than normally. The bug was reported earlier here: https://bugs.eclipse.org/bugs/show_bug.cgi?id=474080

* Only one file is affected, so we might catch the NPE and continue, returning a dummy M3 model for this file

[2019-08-26 09:15] borisbaldassari commented on #338
Update after doing a down/up:
* registered projects have vanished (I thought they were kept between down/up, but it must be when doing a stop/start)..
* When re-creating the tasks they're processed, i.e. they enter the worker, but then it stop again (no heartbeat)..

[2019-08-26 11:38] tdegueul commented on #334
I could reproduce the bug here.

The workaround in 88dbcf4f231765dd2b8ff4ac63dfb31be1d1068d is to assign a dummy `m3(|unknown:///)` model to the files we couldn't parse, record the error, and let the process continue for the other files. It happens with 3 of the 11k Java files in `elastic/elasticsearch`.

The platform can "successfully" build M3 models for Elasticsearch now, but the creation of de

[2019-08-26 11:55] valeriocos commented on #334
Thank you @tdegueul @jurgenvinju for working on it

[2019-08-26 19:16] borisbaldassari commented on #338
Head up: I've tried to start 2 slaves, and surprisingly enough one of them never freezes. The other still does.

![Capture du 2019-08-26 21-15-52](https://user-images.githubusercontent.com/5849071/63716630-b7e4c580-c846-11e9-9a98-5248572353d5.png)

[2019-08-28 12:47] phkrief opened #339 ""Title is not available" on API documentation & Q&A posts"
Hi,
When I launch the " API documentation & Q&A posts" on any text of my code, I get a list from stackoverflow but non of the title of the post is accessible. We see instead: "Title is not available"
![image](https://user-images.githubusercontent.com/6196602/63856595-53d71400-c9a2-11e9-913c-974b8b5eac2d.png)

Thanks for your help

[2019-08-28 12:58] phkrief opened #340 "Question about API documentation and Q&A posts"
I try to understand how this menu item works.
When I select the code: "JSONParser parser = new JSONParser();" I would expect to receive the same list of posts from StackOverflow as if I was searching directly from StackOverflow.
It is not really the case.
So How should I use this item if I look for example on JSONParser ?

Actually, if I only select JSONParser and ask for "API documentation and Q&

[2019-08-28 14:21] md2manoppello commented on #340
Hi Philippe,
The server properly replies with a list of SO ids. The KB deployed to ci3 works:
For instance, you request
[code]
produces
[code]
SO recommendation results.

ENHANCEMENT: I suggest selecting all the code in the compilation unit (all class code) to get better results:  the KB query-builder uses the import section of the class to generate a good query.

[2019-08-28 15:24] phkrief commented on #340
Indeed ! I just tried taking the whole initial code including the import and the results are much more accurate.
thx a lot

[2019-08-28 15:24] #340 closed

[2019-08-29 21:12] borisbaldassari commented on #338
It happened again, on a different worker (note the heartbeat):

![Capture du 2019-08-29 23-10-16](https://user-images.githubusercontent.com/5849071/63976749-4f9a1c00-cab2-11e9-8628-4e2501cd8855.png)

[2019-08-30 10:01] MarcioMateus commented on #75
I created a pull request on Scava-deployment repository with some new functionalities, including the capability of listing the commitID of the SCAVA software deployed in Docker images.

Anyone interested is invited to see https://github.com/crossminer/scava-deployment/pull/96 and provide some feedback.

Thanks

[2019-08-30 12:10] MarcioMateus commented on #330
HI @mhow2 , were you able solve this problem? We are also having this error in some of our projects

[2019-08-30 15:32] MarcioMateus opened #341 "Error 500 getting /analysis/tasks/project/{project}"
In today's build of the platform (30/8/2019), we are getting a server error when accessing the api {oss-app_address}:8182/analysis/tasks/project/{project}:
[code]
The problem seems to be in handling of the results of the mongodb was you can see in:
[code]

Does anyone else have a similar problem?
Any idea of what may be causing this behaviour?

[2019-08-31 15:45] borisbaldassari commented on #338
@valeriocos I definitely confirm that the task is stuck in the worker independently of the creation of a new task, I've not created a new task since this one was fired. The heartbeat has been staled for more than 7 hours now -- I've used all metrics, but on a limited time of range (from 2018/01/01).
![Capture du 2019-08-31 17-42-25](https://user-images.githubusercontent.com/5849071/64066188-22b349

[2019-08-31 15:48] borisbaldassari commented on #79
Can't be reproduced anymore, closing the issue.

[2019-08-31 15:48] #79 closed

[2019-08-31 15:49] borisbaldassari commented on #82
Seems to work well now, closing the issue.

[2019-08-31 15:49] #82 closed

[2019-08-31 15:51] borisbaldassari commented on #104
Works for me. @mhow2, can we close that now?

[2019-08-31 15:52] borisbaldassari commented on #105
Still in need of that. Not blocking, but highly important still to setup the application for the use case..

[2019-08-31 16:57] valeriocos commented on #338
Hi @borisbaldassari , thank you for the update.
Have you tried to do a docker-compose stop/start and see if the worker goes back to life? Another option is to delete the freezed analysis and create it again. If I'm not wrong these 2 solutions were successful for @MarcioMateus , in my case they never worked.

[2019-09-02 06:30] borisbaldassari commented on #338
Hey @valeriocos, thanks for the feedback! ;-)
Yup, tried the stop/start. The worker comes back to life, works for some time, and then fails (freezes) again. Now that you say it, I never tried to really delete the task -- actually since i cannot 'interupt the analysis' it didn't come to mind to delete the task itself, but I'll give it a try!

[2019-09-02 11:42] MarcioMateus commented on #338
Hi guys, just let me add a small correction.
 I usually stop  the execution of the task and start it again. If i don't do it after the restart of the platform then the tasks keeps in a frozen state. This action does not cause the loss to data.

[2019-09-02 20:11] borisbaldassari opened #342 "API task creation fails silently but still creates unreachable tasks"
When using the API at [1] with a wrong projectId, the requests succeeds (20x), the json answer looks good, but nothing shows up in the UI. It seems the task is actually created, but with no link to the project and thus cannot be shown or used.

[1] https://crossminer.github.io/scava-docs/developers-guide/api-reference-guide/metric-platform-api/

The API should return an error message when somethin

[2019-09-02 20:37] borisbaldassari opened #343 "Project import doesn't manage correctly Eclipse projects with dashes (-) in their identifiers"
When using either the Admin UI or the API to create an Eclipse project, it seems that project EMF Parsley [1] cannot be imported. Nothing happens in the UI, and the API returns a 400 error code.

[1] https://projects.eclipse.org/projects/modeling.emf-parsley

[2019-09-02 21:05] borisbaldassari opened #344 "Wrong task status for project"
Netty is part of the projects automatically imported from the data dumps. It is displayed as "Analysis in progress" and the task is marked as EXECUTION but it isn't running actually, there is no task associated to the project in the workers or in the pending list.

![Capture du 2019-09-02 23-00-42](https://user-images.githubusercontent.com/5849071/64133394-132e2f00-cdd6-11e9-9a17-d669685291c6.png)

[2019-09-03 07:41] tdegueul commented on #338
@all: I think I found where and why the tasks get stuck, but I'll need some time today to come up with a fix. In the meantime, for those who experience the same issue, could you please run the following list of commands when a task gets stuck and copy/paste the result in this thread. ```[...]``` are comments.

[code]

[2019-09-03 09:21] creat89 commented on #343
Hello Boris,

Just by curiosity, I checked the code and I think the reason is because the first line of the importer method does a replacement in the URL:

[code]

Which will generate a completely different URL to the one expected, i.e. https://projects.eclipse.org/projects/modeling.emf\.parsley.

Have you tried to test another project from Eclipse without a dash in the URL?

In all the cases, I'm

[2019-09-03 09:48] creat89 commented on #336
Hello @tdegueul,

Concerning the time necessary to process GitHub BTS, I guess there are some other reasons as well that might affect the performance:

Since the last update of GitHub RESTMULE Client by York (https://github.com/crossminer/scava/commit/7ad1e4730247a3899f5cb14c33dd3d1dd5a1a340), the number of calls that might be necessary to get the data have increased as there was a pagination issu

[2019-09-03 12:44] borisbaldassari commented on #338
Hey Thomas, that would be good news! :-)
Here is mine (attached, the file is quite large), thanks for investigating!
[out.txt](https://github.com/crossminer/scava/files/3569456/out.txt)

[2019-09-03 13:10] borisbaldassari opened #345 "API task creation with list of metrics dependency"
When creating a new analysis task for a project using the [platform API](https://crossminer.github.io/scava-docs/developers-guide/api-reference-guide/metric-platform-api/), one has to provide the list of the metrics she wants, and all their (transitive) dependencies. It is a time-consuming and difficult task, since one has to manually look for dependencies in the metricProviders API call and rebui

[2019-09-03 13:10] borisbaldassari commented on #345
As an example for the `sentiment.SentimentHistoricMetricProvider` metric we have the following tree:

* org.eclipse.scava.metricprovider.historic.bugs.sentiment.SentimentHistoricMetricProvider
  * org.eclipse.scava.metricprovider.trans.bugs.bugmetadata.BugMetadataTransMetricProvider
    * org.eclipse.scava.metricprovider.trans.bugs.bugmetadata.BugMetadataTransMetricProvider
      * org.eclipse.sca

[2019-09-03 13:13] borisbaldassari commented on #343
Hey @creat89, thanks for the feedback. This was my guess too (the dash in the project name), since I've imported a bunch of projects already and it happened only on this one. I'll try another dash-named project to make sure it is reproducible, but I'm quite confident it's somehow related to the dash.

[2019-09-03 13:17] borisbaldassari commented on #343
I confirm that it happens also on `modeling.emft.emf-store`, giving some more credit to the dash story.

[2019-09-03 13:17] creat89 commented on #343
Well, if you have tested other projects that do not contain dashes, then the issue is that the dash is converted into  `\.`, in the first line  which makes the URL different.

[2019-09-03 13:21] tdegueul commented on #336
Thanks for the insights.

I do not think verbosity is at fault here: it takes a reasonable amount of time to make an API call so the logs are printed rather slowly which shouldn't impact performance at all. I do not think it is necessary to print a log message for every step though: just one message stating that the platform is currently retrieving issues from GitHub should be enough.

We may have

[2019-09-03 13:29] creat89 commented on #345
Hello,

I agree with Boris that manually adding the dependencies of metrics is very tiring. In my case, as many things I test them from Eclipse rather than the UI (before pushing them to Jenkins), I have a code that add to MongoDB the metrics as well as their dependencies automatically. Here is the code that I use to get the dependencies:

[code]
So, if, for example, I want to just analyze the his

[2019-09-03 14:27] borisbaldassari opened #346 "List of connectors on a project is wrong"
When trying to delete some of the automatically-generated git connectors from the cdt project, I realise that the list displayed in the "edit" page shows always the same items. Thus I cannot see the full list, neither can I delete some of them (this is needed to speed up the analysis).

In the project page:
![Capture du 2019-09-03 16-26-18](https://user-images.githubusercontent.com/5849071/6418192

[2019-09-04 06:57] mhow2 commented on #135
@borisbaldassari : I realised per your recent screenshots in https://github.com/crossminer/scava/issues/346 that it's possible to create a scava project with several sources... this, 6 months later !
Indeed, in the "create project" form you can click the button several several times...
Are you using the API to do that ? Are you providing an array to `/projects/create` ?

[2019-09-04 12:03] #343 closed

[2019-09-04 12:56] valeriocos commented on #341
Sorry @MarcioMateus for the late reply, I missed this issue.

Sometimes I have a similar problem (no projects listed in the UI). What I do is to delete oss-app container, and if the problem is not fixed I delete the oss-db container too. In my case, once the data is in elasticsearch it's fine, I can delete the oss-db.

[2019-09-04 13:10] creat89 commented on #341
Checking the code of AnalysisTaskService.java, the line that it is having the issue is `AnalysisTask analysisTask = this.repository.getAnalysisTasks().findById(taskRef.getId()).iterator().next();`, which I'm guessing that somehow the query to MongoDB is returning null or an empty iterator. Which would mean that the entry of the project that stores the task has been modified somehow.

I don't have

[2019-09-04 14:57] mhow2 opened #347 "display readable metric provider in the worker status"
![image](https://user-images.githubusercontent.com/9987241/64266180-7930c880-cf34-11e9-8cb2-63ed256a8412.png)
In this screenshot, we see that the current metric is "historic".
I believe it's one of the MP where the identifier finish by `.historic` like in `trans.rascal.api.changedMethods.historic`.
That would help a lot to have either the whole MP Id or anything that would help to identify which M

[2019-09-05 07:18] valeriocos opened #348 "[metric] Server error when fetching numberOfChanges"
I'm analysing https://github.com/orientechnologies/orientdb using OW2 instance (thanks @mhow2).

When fetching the metrics with scava2es, a 500 server error pops up on the following URL: http://scava-dev.ow2.org:8182/projects/p/orientdb/m/numberOfChanges. However the metric is listed on http://scava-dev.ow2.org:8182/metrics/p/orientdb.

@tdegueul do you have any idea about this error? Thanks

[2019-09-05 09:28] tdegueul commented on #338
I observed on different Scava instances that many times the whole platform get stuck because of a `git pull` operation on the remote repository that never completes.

3a93b2b7f3141b37fca4c50c42c493c57699a595 kills and retries `git pull` operations if they do not complete in 5 minutes and let us know what happens in the logs. This is rather arbitrary and definitely not a perfect solution, but it sh

[2019-09-05 09:29] tdegueul commented on #338
@borisbaldassari when you run the `docker ps` command above, the name of the container should tell you who's who.

[2019-09-05 10:45] mhow2 commented on #338
This is a workaround for #276 isn't ?

[2019-09-05 13:36] tdegueul commented on #338
Indeed, I think both problems are due to the same cause; though there might other deadlocks / stuck processes somewhere else.

[2019-09-05 16:49] idarav commented on #339
Thank you for submitting this issue!

We have located the problem and we are working on it.
Currently we have some higher priority tasks, but after those we will get back to this.

[2019-09-06 09:15] valeriocos commented on #348
I rexecuted the analysis for the same repo, the server error doesn't pop up anymore. However the data is empty:
[code]

The same happens for neo4j
[code]

[2019-09-06 13:19] ambpro commented on #345
Hi @borisbaldassari , the commit cc6f24c should fix this issue.

[2019-09-06 13:42] ambpro commented on #344
Hi @borisbaldassari ,
I believe that this behavior is not an analysis issue on the metric-platform component.
What you 're looking above is the state of the project at the moment when I exported the project's dump.
FYI, the way in order to push a task on a free worker is that this task must be in `Pending_Execution` state (which is not the case for this task). Moreover, the project's data dumps is

[2019-09-06 14:09] ambpro commented on #347
Hi @mhow2,
ICYMI, the full name of the current metric provider could be shown once the cursor is hovered on the identifier.

![workers](https://user-images.githubusercontent.com/35226648/64433705-4b2bbf80-d0bf-11e9-9c2d-d6f18f6cbde4.png)

[2019-09-06 16:54] tdegueul commented on #348
@valeriocos, 9190b840d61bc54310243c9462fcb8a8c50d175c should fix the problem; the visualization names contained typos. Note that `changedMethods` doesn't have a visualization attached yet, so it won't be available.

[2019-09-06 16:55] #348 closed

[2019-09-06 16:57] tdegueul commented on #334
@valeriocos I expect this to be fixed; please re-open if it isn't!

[2019-09-06 16:57] #334 closed

[2019-09-06 17:13] valeriocos commented on #348
great, thanks @tdegueul

[2019-09-07 06:49] borisbaldassari commented on #344
Hi @ambpro,
I don't think it is an analysis issue, it's just not consistent. Low priority for sure.
What do you mean when you say it should not be used anymore? I updated the instance recently and the import is still present in the docker-compose file as far as I can tell.

[2019-09-07 06:52] borisbaldassari commented on #135
Hi @mhow2!
I'm using the import eclipse project feature, so I've no idea how to do it through the webui/api..
As a sidenote, I do have the opposite problem: we can afford only one git repo in our case (perf issues) so I need to remove some of the defined repos so only one of them remains..

[2019-09-07 06:53] borisbaldassari commented on #345
Hi @ambpro, you rock! I'll try that asap.
Thanks for the work!

[2019-09-09 07:00] mhow2 commented on #135
:laughing: OK, now I understand. On my side, when I need more control on the properties of a project, I'm using `/projects/create` and I'm passing the related JSON structure from a config file https://github.com/crossminer/third-party-rest-clients/blob/master/provision-projects-list.json.dist, see the `scavaMeta` node. The content of this node is exactly what's the scava API end point mentioned ex

[2019-09-09 09:33] ambpro commented on #344
Hi @borisbaldassari,

The data dumps on [M24](http://ci3.castalia.camp/dl/M24/) is outdated because of the analysis data models refactoring done a few weeks ago. It's recommanded to move to [M30](http://ci3.castalia.camp/dl/M30/).

You should edit the oss-db [Dockerfile](https://github.com/crossminer/scava-deployment/blob/dev/oss-db/Dockerfile#L13) and update the appropriate data dumps links befor

[2019-09-09 09:40] mhow2 commented on #347
thanks. I was far from finding this, really. Let's hope others do :D

[2019-09-09 09:40] #347 closed

[2019-09-09 13:18] ambpro commented on #325
@blueoly, any updates about this issue?
Otherwise, we could close it ?!

[2019-09-09 13:58] ambpro commented on #346
@borisbaldassari , please let me know if 0bfc4a7 could help to fix the the connectors duplication when editing a project ?

[2019-09-09 14:01] ambpro commented on #346
@borisbaldassari

This deletion of a an existing connector is not yet implemented. The edition feature allows just to update exciting properties' values.
If it's helpful for your use case, I could implement it asap!?

[2019-09-09 14:33] tdegueul opened #350 "Admin webapp stopped working"
It seems the `admin-webapp.zip` archive on `ci3` has been updated on Sep 6:

`-rw-r--r-- 1 amin   amin       853288 Sep  6 16:12 admin-webapp.zip`

Since then, I'm unable to access the admin interface after a `docker-compose`; I always end up with a blank white screen. All pages (home, workers, projects, etc.) return the following HTML:

[code]

If that might help to diagnose, I get the following

[2019-09-09 15:50] ambpro commented on #350
Hello @tdegueul ,
I just updated the `ci3 server` with a new version of the `admin-webapp` (containing a patch for the issue).
Please, let me know if that fix the issue in your side ?

[2019-09-09 17:43] tdegueul commented on #350
It works, thank you!

[2019-09-09 17:43] #350 closed

[2019-09-10 05:46] borisbaldassari commented on #346
@ambpro

Yes that would be helpful, please. :-)

[2019-09-10 11:20] borisbaldassari commented on #344
Created [#98 in scava-deployment](https://github.com/crossminer/scava-deployment/issues/98) git repository and fixed the Dockerfile.

[2019-09-10 11:20] #344 closed

[2019-09-10 11:27] mhow2 commented on #332
seems fixed

[2019-09-10 11:27] #332 closed

[2019-09-10 11:28] mhow2 commented on #331
@aabherve , @ambpro : can you please fix ?

[2019-09-10 11:29] mhow2 commented on #330
I cannot reproduce. What about you @MarcioMateus ?

[2019-09-10 11:34] mhow2 commented on #312
@ambpro , @aabherve , @Danny2097 : I suggest we implement a warning somewhere in the UI when a task got interrupted unexpectedly and say why and when. So we can distinguish tasks that have finished with success and tasks that have aborted because of a system error.

[2019-09-10 11:35] mhow2 commented on #309
I'm closing it and will reopen when I get time to reproduce.

[2019-09-10 11:36] mhow2 commented on #308
as for #309, closing and will reopened whenever it's needed

[2019-09-10 11:36] #308 closed

[2019-09-10 11:38] mhow2 commented on #306
Please @ambpro can you check this ? It should be only a matter not to display "up to date" if none of the tasks has ever started.

[2019-09-10 11:39] mhow2 commented on #301
Thanks !

[2019-09-10 11:39] #301 closed

[2019-09-10 11:40] mhow2 commented on #286
Thanks

[2019-09-10 11:40] #286 closed

[2019-09-10 11:43] mhow2 commented on #247
Thanks !

[2019-09-10 11:43] #247 closed

[2019-09-10 11:46] mhow2 commented on #237
@ambpro ; could you tell me what's the official way to update the analysis metric data ? Is the "reload" button is enough ? I'm not sure.

[2019-09-10 11:46] mhow2 commented on #223
bump :)

[2019-09-10 11:49] mhow2 commented on #178
@ambpro , I think the commit above could be the reason of #331

[2019-09-10 11:50] mhow2 commented on #154
Let's close it for now.

[2019-09-10 11:50] #154 closed

[2019-09-10 11:51] mhow2 commented on #153
This is issue is very old. Will close for now.

[2019-09-10 11:51] #153 closed

[2019-09-10 11:52] mhow2 commented on #148
We need to do a check pass on factoids accuracy and the question raised in this issue. Who can help ?

[2019-09-10 11:53] mhow2 commented on #98
this issue is too old to be reproduced. Closing

[2019-09-10 11:53] #98 closed

[2019-09-10 12:00] mhow2 commented on #90
to old to reproduce in good conditions. Closing

[2019-09-10 12:00] #90 closed

[2019-09-10 12:05] mhow2 commented on #57
I think it is fixed. Closing

[2019-09-10 12:05] #57 closed

[2019-09-10 12:08] creat89 commented on #148
@mhow2, I'll discuss this with @nnamokon tomorrow

[2019-09-10 12:17] tdegueul commented on #223
Ineed, this metric is only related to LOC and is language-agnostic. I don't see why it would use languages in the series.

[2019-09-10 12:18] tdegueul commented on #223
Fixed in 489f92e40bf39ed0e9b53e4fb1327793e5dd6878.

[2019-09-10 12:18] #223 closed

[2019-09-10 12:37] #9 closed

[2019-09-10 17:00] mhow2 opened #352 "unversionedOSGiImportedPackages exceptions"
In the latest build, I have the following exceptions. It appears dozen of times.
It seems to slow down the analysis a lot.
The related project is https://github.com/xwiki/xwiki-platform

Flag @tdegueul

[code]

[2019-09-11 07:29] mhow2 opened #353 "Three Rascal Exceptions"
Already discussed with @tdegueul , I have observed those 3 exceptions while analyzing XWiki.

ERROR [RascalMetricProvider (Changed methods)] (05:07:40): metric threw an exception: |std:///Set.rsc|:313,0: EmptySet() at |std:///Set.rsc|(6603,397,<313,0>,<330,54>)
ERROR [RascalMetricProvider (Number of changes)] (05:07:47): metric threw an exception: |std:///Set.rsc|:313,0: EmptySet() at |std:///Set.

[2019-09-11 08:07] mhow2 commented on #309
I just reproduced with project XWIKI.
See the log file [metric-pf.log](https://github.com/crossminer/scava/files/3599665/metric-pf.log) at line ~673

[2019-09-11 10:28] ambpro commented on #331
@mhow2, I just pushed a patch ( https://github.com/crossminer/scava/commit/799bd57468a7ddac1400b6a52a2b837dc827cb09) to prevent removing metricExecutions shared among serveral tasks in the same project.
And a second path (https://github.com/crossminer/scava/commit/ab4e424ea99ea641b04a116e8cf16514d67b2789) to Prevent removing analysis data of metrics shared between tasks in the same project.

Pleas

[2019-09-11 10:30] ambpro commented on #178
@mhow2,

I just pushed a patch (commit https://github.com/crossminer/scava/commit/ab4e424ea99ea641b04a116e8cf16514d67b2789) to  prevent removing the analysis data of metrics shared between tasks in the same project.

[2019-09-11 11:08] ambpro commented on #237
@mhow2

Here, you have two approach:
- The first one is to edit the task and update the `End Date` field to increase the time range (btw, as a workaround of  #178, it's not possible to change the `Start Date` of an existing task). Or, to edit the metric providers.
- The second one is to remove the entire task and to recreate a new one.

Well, the ` Reset button` :arrow_right_hook: is dedicated to

[2019-09-11 13:05] ambpro commented on #306
@mhow2 through the commit 6569ee0, the admin-ui should display a `No Data` status in case of no tasks available on the project.

[2019-09-11 13:16] creat89 commented on #148
Hello @mhow2,

First of all, it seems that at a the day you raised the bug, I didn't understand correctly that there was an issue with the weekly factoid. Now, I have checked and yes, there was an issue with but with the transient metric that was charged of calculating the percentage of comments per day. In this case, the error is that it was setting a percentage of 14.29 when the days did not hav

[2019-09-12 07:09] mhow2 opened #354 "ghost tasks"
It will be hard to tell you how to reproduce, but I guess it is somehow when you play with tasks management, killing task or reordering them:

![image](https://user-images.githubusercontent.com/9987241/64760669-91a77100-d53a-11e9-8ca0-f52340fe23fb.png)

In this screenshot you see that the w1 and w3 workers are displaying the same task. They are perfectly in sync in terms of progression. The only d

[2019-09-12 12:34] creat89 opened #355 "Metrics that measure percentages per day are wrong when zero data happen."
After reading carefully issue #148, I have found that some factoids are affected by some transient metrics from OSSMETER that wrongly set a percentage of 14.29 (100/7) when the sum of data is zero. For example:
[code]

At the beginning I though that only one metric was concerned and fixed with commit https://github.com/crossminer/scava/commit/3a95498638d7164a9ecb99334c4bbf7d90672b58. However, I ha

[2019-09-12 13:08] #355 closed, assigned to creat89

[2019-09-13 07:14] mhow2 commented on #338
Indeed, I think this is not the only cause for stuck task. Here is a case I'm running into, see logs:
[metric-pf-slave.log](https://github.com/crossminer/scava/files/3608751/metric-pf-slave.log)
[oss-slave-container.log](https://github.com/crossminer/scava/files/3608752/oss-slave-container.log)

[code]

It was yesterday and is locked since then.

[2019-09-13 09:38] #45 closed

[2019-09-13 10:27] mhow2 opened #356 "dashboards : gaps and labels"
# gaps #
For ex, on my kibiter instance I have "no data" for "Old and new dependencies versions".
In order to demonstrate the dashboards, we need either to fill all the gaps or provide a good explanation why some viz are empty.

# labels #

About labels, we need better legend for those kind of viz:
![image](https://user-images.githubusercontent.com/9987241/64856098-89763100-d621-11e9-82b4-6dbf7665

[2019-09-13 10:38] mhow2 commented on #354
It seems to mostly happen when you stop/start the instance. Today:

![image](https://user-images.githubusercontent.com/9987241/64856896-66e51780-d623-11e9-8989-c9881353c707.png)

[2019-09-13 10:46] valeriocos commented on #356
wrt to gaps, I have seen the same problem. @blueoly do you have some idea about it?

wrt labels, I'll check how to improve it

thanks

[2019-09-13 10:53] mhow2 commented on #336
I wonder if so many requests are really needed to crawl the issues of such project like https://github.com/docdoku/docdoku-plm/
On the time span of analysis of docdoku, 2018-01-01 to 2019-09-13 we have the following issues that have been "updated":

https://github.com/docdoku/docdoku-plm/issues?utf8=%E2%9C%93&q=is%3Aissue+updated%3A%3E2018-01-01

It is a total 265 issues.

When I look to the MP lo

[2019-09-13 11:54] tdegueul commented on #99
I pushed a standalone Rascal tool that builds M3 models at https://github.com/crossminer/java-m3. The bug that you encountered some months ago should be gone. The tool comes as a standalone JAR that you can include in an Eclipse plug-in and interact with using a simple API to compute the set of method declarations and method invocations of an Eclipse Java project to build the request described abo

[2019-09-13 14:25] kb634 commented on #165
@mhow2 It may be worth having a short call next week, to discuss what the best approach would be for allowing Restmule to use these global properties? Cheers.

[2019-09-13 14:48] kb634 commented on #336
@mhow2 thanks for this info, we will look into it and see if any unnecessary calls are being made.

[2019-09-13 17:11] kb634 commented on #336
A quick test using Restmule for that project does 3 calls to get the 271 issues (as expected, 100 per page) and then a further 271 calls to get the comments per issue (as no issue has over 100 comments). The entire process finishes within less than a minute.

The following code is used for this baseline test:

	private void search() {
		try {
			IDataSet<Issues> ret = GitHubUtils.getOAuthClient().

[2019-09-16 09:16] kb634 commented on #338
@mhow2 regarding your latest logs, looking at the Restmule code, this specific trace should not be blocking/lagging execution, but we will look into it further, for example by adding max retries to fixed-time retry codes.

[2019-09-16 13:54] creat89 commented on #252
Hello,

Checking the UI I have seen these issues for the documentation systematic with login:

![image](https://user-images.githubusercontent.com/17121539/64963793-be88ba80-d891-11e9-9af1-1608ac802bc4.png)

where Password Field Name is considered as a password rather than text.

And, Martin and I, we're seeing that the data is not being passed to Mongo DB, either with or without login.

[2019-09-16 14:17] mhow2 opened #358 "Create project form to validate git URL"
Please @aabherve , @ambpro .  I has discussed this with @creat89 : being a regular git repo URL or github's wiki documentation URL, the system should check if the remote URL is valid.
By valid, I mean it should check it is the repo is available and is accessible.
All of this before leaving the user starting the project tasks and let him search what is the problem while the task is progressing with

[2019-09-16 14:23] creat89 commented on #358
I'll check the code in the model and try to propose a solution for checking whether the URL correspond to a valid git.

[2019-09-16 14:34] creat89 commented on #358
Would something like this in GitRepository.java would work?
[code]
However, I don't know what to return to prevent the addition of the project in MongoDB

[2019-09-16 16:16] blueoly commented on #356
Hi @valeriocos !

About the gaps that have to do with AUEB metrics, the reason behind them is the cause of the #309 . I am working at it. When it is solved, there will no be any gaps

[2019-09-16 16:19] blueoly commented on #356
There is also the case that there are no new versions, for example, in some projects. Even if I solve #309 , I think that there will be gaps.

[2019-09-17 13:43] borisbaldassari commented on #346
@ambpro Following our last meeting, I confirm that feature (delete connector) is required for our use case.

[2019-09-17 13:44] #104 closed

[2019-09-17 13:48] ambpro commented on #346
@borisbaldassari I am working right now on both `add-connector` and `delete-connector` alongside to the exisiting `update-connector` option (the last touches).
I will pushed my works once I finish my local tests.

[2019-09-17 13:55] borisbaldassari opened #361 "Cannot interrupt task in worker"
We need to be able to stop a running task in a worker. There is a button on the worker page for that, but nothing happens when clicked. It seems @mhow2 confirmed the issue on his instance.

[2019-09-17 15:25] ambpro commented on #346
@borisbaldassari the commit (d1e2997) should add support to delete connector from the admin-ui's edition web page.
![captured](https://user-images.githubusercontent.com/35226648/65055761-0c73f000-d970-11e9-8f5e-b98a1ef64dca.gif)

btw, the `add-connector` feature should be ready 100% soon !

[2019-09-19 08:21] borisbaldassari commented on #338
Update: not sure if the workers are stuck or not.. one of them died last night (several workers have been setup so I still have 3 of them running), and the others have a staled heartbeat, as shown on picture.
![Capture du 2019-09-19 10-05-11](https://user-images.githubusercontent.com/5849071/65225887-32aba400-dac6-11e9-91ac-ec4dcc3b0819.png)

[2019-09-19 09:00] mhow2 commented on #338
@borisbaldassari , can you issue a 'ps axf' in the stalled workers as described in #276 . This specific issue shouldn't happen since @tdegueul has implemented a workaround but we never know.
Also I guess you'll be asked for containers logs.
BTW, which build are you using ? (trick question).

[2019-09-19 09:35] mhow2 commented on #338
I'm using a rather "old" build but now that I look into my instance, I also have task with heartbeat stuck since 17/09/2019 15:55:09 on :

`INFO  [ProjectDelta (spoon,20190313)] (13:55:09): Creating Delta`

I'm attaching the container logs. I think the "leaked connection" thing has been tweaked by @kb634 so I need to retry with a newer build.

[oss-app-20190919.log.gz](https://github.com/crossmine

[2019-09-20 08:04] phkrief commented on #339
Dear @idarav
Do you have any update on ths issue?
Thanks a lot

[2019-09-20 10:00] mhow2 commented on #276
I have an intersting case today:
root@75a55e4531a2:/ossmeter# ps aux
[code]
As you see the process `git checkout` is stuck since yesterday.
Below is the related worker:

![image](https://user-images.githubusercontent.com/9987241/65318345-c0a68e00-db9d-11e9-9100-d38ce9db69e1.png)

And the container logs:
[oss-slave-container.log.gz](https://github.com/crossminer/scava/files/3635343/oss-slave-contai

[2019-09-20 12:36] idarav commented on #339
We are about to finish the other feature we are currently working on. After that we are going to focus on your issue.

We ask a little bit more patient
Thank you for your understanding

[2019-09-20 15:14] ambpro commented on #346
@borisbaldassari the commit (f92f470) added support for `adding-connectors` as well from the admin-ui's edition page.

[2019-09-22 14:28] borisbaldassari commented on #338
Update: still stuck after a few days..

![Capture du 2019-09-22 11-08-07](https://user-images.githubusercontent.com/5849071/65389359-926bae80-dd55-11e9-928b-bc0d1bda75b1.png)

@mhow2 output of ps axf is:
[code]

[2019-09-22 14:36] borisbaldassari commented on #338
Well I've just restarted one of the slaves which had stopped, and now all workers have vanished from the UI! They are still running (docker ps) but won't show up...

![Capture du 2019-09-22 16-29-47](https://user-images.githubusercontent.com/5849071/65389415-4b31ed80-dd56-11e9-9fa5-6af852628c3c.png)

[2019-09-22 14:53] borisbaldassari commented on #346
Hi @ambpro I'll need to update the instance in order to validate the fix -- bad luck, your committed it at the same time as my update of the instance.. And since we have other issues to tackle I don't want to update it again right now. Depending on how we make progress on the other issues I'll update it this week. Thanks, cheers! :-)

[2019-09-23 00:07] blueoly commented on #309
Hi @mhow2 . I examined this issue extensively during the previous week. I never achieved to reproduce this bug. In every instance of the platform that I tried, everything ran smoothly. That happened in the two beta instances too. Please, try to reproduce it once again in your instance.

I can make a guess about why you came across at first place. My metric providers about these metrics, call insid

[2019-09-23 00:19] blueoly commented on #325
Hi @ambpro . Sorry for the late answer. Yes, we can close the issue.

[2019-09-23 00:19] #325 closed

[2019-09-23 00:35] blueoly opened #362 "Conflict between tasks with the same name"
I noticed that if I create two (or more) tasks with the same name under the same project, if I try to initiate any action to the second (or later) task, the action affects the first task in order. For example, if I have two tasks with the name "analysis" and I try to start/delete the second task, the first task is started/deleted.

So I propose to add a check that would not allow the creation of a

[2019-09-23 04:39] blueoly commented on #356
@valeriocos I found the two following issues about the devops dashboards, that should be fixed.

In scava-devops-smells the Puppet Smells viz does not showing the puppet smells historic metrics but the Docker Smells metrics.
In scava-devops-deps and scava-deps, the new dependencies viz do not show the data, despite that the data are calculated and stored in mongodb. So, they stay always empty.

Es

[2019-09-23 06:00] valeriocos commented on #356
Thank you @blueoly for reporting these problems.
I'll check the puppet smells in my instance today and let you know.

WRT the scava-devops-deps and scava-deps, did you check if the data is visible through the API endpoints? Scava2es and Perceval don't query the mongoDB.

We can sync on Slack today, if it's OK for you.

[2019-09-23 07:45] mhow2 commented on #309
Thank you for taking care @blueoly.
I have updated to:
[code]
I just created a new project in the admin UI : http://scava-dev.ow2.org:5601/#/project/configure/XWikiTest , and ticket the metrics related to "maven".

I can see the errors. Notice that the task run on a slave. Maybe I'm doing something wrong ?

[code]

[2019-09-23 09:02] ambpro commented on #252
@creat89 I pushed a fix ( commit 7d7fa48) to handle the above issue.
Could you check it again in your side?

[2019-09-23 09:52] creat89 commented on #336
Yes, I have tested with a small project where you can count manually the number of calls and the Github reader works fine. In the sense that it does the exact number of calls that it is expected to do due to the limitations of GitHub API. Related to this, and valid AFAIK to Github and possibly to Eclipse Forums, the larger the project and the older the delta, the number of calls necessary to find

[2019-09-23 11:18] ambpro commented on #362
@blueoly does the patch (344ac11) fix the issue above ?

[2019-09-23 12:52] kb634 commented on #336
@creat89 @mhow2  Indeed caching may help if the server can support the extra resources needed. In this regard note that both Restmule and Crossflow support caching, the former for identical HTTP requests and the latter for data processed/output by Tasks. If either of these may end up being useful and you are unsure how to enable them, let us know.

[2019-09-23 15:21] ambpro commented on #361
@borisbaldassari can you check if the task-interruption works well now?

[2019-09-24 10:07] ambpro commented on #318
@nnamokon  I pushed some fixes for the missing fields of the  NNTP project, could you check it out on your side?

Thanks

[2019-09-24 10:16] mhow2 commented on #361
It seems to work way better now !

[2019-09-24 11:54] blueoly commented on #362
Abolutely! Thank you @ambpro

[2019-09-24 11:54] #362 closed

[2019-09-24 15:33] ambpro commented on #105
@mhow2 @borisbaldassari could you clarify this point with more details?

[2019-09-24 16:36] phkrief opened #365 "Search doesn't show which Project is selected"
Hi
When I launch a Project search, the dialog shows on the left section of a list of resulting Projects. If I click on any of them, I get on the right section, the description of the project.
Unfortunately, I can see on the left section which project was actually selected.
It is confusing.
Could you fix it?

Thanks

[2019-09-24 16:41] creat89 commented on #252
Hello @ambpro,

When I create a Documentation Systematic I get the following error:

[code]
Thus, nothing is stored in Mongo.

And still, I get the password dots in the password field, despite you have changed the file (I have checked and built the platform some minutes ago and used the incognito mode). So, I don't know what's going on.

[2019-09-24 16:54] phkrief opened #366 "Project automatic installation"
Hi,
When we select a project from the Project research dialog and ask to install it, as an Eclipse developer, we expect to have the git repo automatically added to the list of Git repos listed in the Git perspective.
For now, we have to do in 2 steps:
   - Install it with CROSSMINER locally on our machine
  - Then Installed with Eclipse in the IDE
Would it be possible to get rid of the second step

[2019-09-24 16:59] phkrief opened #367 "Project installation base path"
When I try to install a second project, knowing I already defined the Base Path for the first one, the second time I have to change the Base Path again.
Could the plugin keep the last Base Path set by the user?
Thanks

[2019-09-25 08:29] ambpro commented on #252
@creat89

Thus, nothing is stored in Mongo.

The commit (7d28be0) should fix that. Now, I am able to register a project with a `Documentation Systematic` connector.

I am pretty sure that it's a browser cache problem! can you try `Ctrl + F5` on your browser and let me know if it works!

[2019-09-25 13:24] ambpro commented on #134
Hello @valeriocos, do you have any updates about the current issue?
Thanks

[2019-09-25 14:42] valeriocos commented on #134
Everything seems fine @ambpro , thank you for the heads-up

[2019-09-25 14:42] #134 closed

[2019-09-25 17:14] creat89 opened #372 "Updating entries in ES"
Hello,

After the newest update of the Bug Indexer, bugs now can have migration issues linked to them. What happens if a field is updated in a bug post, such as severity or migration issues? AFAICT, the indexer will always overwrite the old entry rather than update it. However, by doing this, this we can miss some data, from the severity, the migration issues or both.

[2019-09-26 07:11] mhow2 opened #373 "performance of the dashboard importer"
Context: Recently, I've noticed that the importer didn't make it to the end because ES was going away with the following error:

`2019-09-24 16:16:18,195 Retrying (Retry(total=20, connect=21, read=7, redirect=5, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))': /scava-metrics/items/_bulk?refresh=true`

I've been

[2019-09-26 07:42] valeriocos commented on #373
why this issue is marked as todo? which work should be done on it?

The bulk API makes it possible to perform many index/delete operations in a single API call. This can greatly increase the indexing speed. In GrimoireLab it is set to 1000 by default (https://github.com/chaoss/grimoirelab-sirmordred/blob/master/sirmordred/config.py#L147)

Find below the settings used in the Bitergia prd envs:
[cod

[2019-09-26 07:49] mhow2 commented on #373
Sorry for the TODO, I've not set it myself, I just assigned the dashboard project.

So I could tweak the lenght to 2000mb, and raise the BULKSIZE a little.

The question is, how do I do that without loosing all the data in ES ? If you change the `command` in the docker-compose, it's not taken into account until you recreate the container (Or I am missing something) so I think I'm gonna edit the fi

[2019-09-26 08:46] valeriocos commented on #373
No worries!

What do you think about dumping/uploading the elasticsearch data with elasticsearch? I can share a script.

[2019-09-26 10:39] valeriocos commented on #373
[importexportES.zip](https://github.com/crossminer/scava/files/3657348/importexportES.zip)

[2019-09-26 10:44] valeriocos commented on #373
Upload Elasticsearch indexes
https://gist.github.com/valeriocos/c5dd78b4e06cd73477e1873455f4f585

Dump Elasticsearch indexes
https://gist.github.com/valeriocos/b9ac1bb70f7ff981554f3677582b0c9f

[2019-09-26 12:06] mhow2 commented on #373
Thanks Valerio.
Roughly speaking the import rate to ES is about 51MB/min which is not that bad... As you already know, it is more that the whole data is uploaded every time we need to update the dashboards (btw the script is configured to runs every 5min by default :D)

[2019-09-26 14:53] borisbaldassari commented on #105
Hi @ambpro ,

The connector list requirement has been addressed in another issue (and associated commit) so this one is ok. Forget about the link to the dashboard, it's superfluous. Now it'd be really useful, when you have several projects configured and dozens of tasks, what has been done/computed/treated. Namely it would be useful to have displayed the tasks already computed for the project, the

[2019-09-26 15:30] mhow2 commented on #105
Absolutely because atm, to get the big picture of the overall state of the analysis in the platform, one have to enter **each** project configuration and see the tasks progress.

Second point - not sure it should appear in the same view/page - but we lack the following kind of information:

- when the task started
- for how long it has been running
- when it has finished

[2019-09-26 16:16] mhow2 opened #374 "cannot find MHFJavaHistoric metric in ES"
This time I'm looking for the metric http://scava-dev.ow2.org:8182/projects/p/seed/m/MHFJavaHistoric in ES, but I can't find it:

![image](https://user-images.githubusercontent.com/9987241/65705670-35d7fe80-e089-11e9-8e1c-7a9fe127eddf.png)

Hower I can find the AHF one.

Do you have an idea @valeriocos ?
NB: I checked that the importer did finish the import with any problem this time :)

[2019-09-26 16:31] valeriocos commented on #374
I understood you wanted to manipulate that metric (see GT10), https://github.com/crossminer/scava/blob/dev/web-dashboards/scava-metrics/scava2es.py#L327. The manipulated data is http://scava-dev.ow2.org:8601/goto/f5cd6334da538d462deb31d9a50a67f1

Do you want also the non-manipulated data?

[2019-09-26 17:46] creat89 opened #375 "Sc"

[2019-09-26 18:01] creat89 opened #376 "Threader doesn't generate unique ids for indexer"
The threader, for sources that need to be threaded, such as nntp, doesn't generate unique ids that are compatible with the indexer.

In the case a same source is read but on different time periods, some threads ids are going to be the same. As all of them start with one. Thus, a collision of threads will exist and some data will be mixed or overwritten.

This case must be checked in the case multi

[2019-09-26 18:02] #375 closed

[2019-09-27 06:49] mhow2 commented on #374
Completely forgot about that. Let's close

[2019-09-27 06:49] #374 closed

[2019-09-27 14:17] valeriocos commented on #356
labels fixed with https://github.com/crossminer/scava/pull/378

[2019-09-27 14:17] valeriocos commented on #373
Performance fixed with https://github.com/crossminer/scava/pull/377

[2019-09-27 14:56] mhow2 commented on #373
15 minutes to import the projects to ES. What else can I say ?

[2019-09-27 14:56] #373 closed

[2019-09-27 15:50] valeriocos commented on #356
@mhow2 let's close this issue, feel free to reopen it if needed, thanks

[2019-09-27 15:50] #356 closed

[2019-09-27 17:30] kb634 commented on #133
5f373d669df2930faab38c590499cb9f84c24571 introduces parent poms for crossflow and restmule (in their respective folders), integrated with Tycho, ready to be added to the CI.

[2019-09-27 17:35] borisbaldassari opened #380 "Running scava converts the terminal to an alien"
It may seem strange, but executing the scava docker containers in the shell (in a screen more precisely) now scrambles up my terminal -- see screenshot. It happens only and exclusively in the terminal where I started the scava app (using docker-compose).

![Capture du 2019-09-27 19-29-36](https://user-images.githubusercontent.com/5849071/65789560-ea435480-e15d-11e9-943d-72c4c4ec644a.png)

I've alr

[2019-09-27 20:07] borisbaldassari commented on #346
Works for me! Thanks @ambpro !

[2019-09-27 20:09] borisbaldassari commented on #105
Yet another example: The instance has been up for a couple of days. Since the tasks are taking hours, I've no idea what tasks have already been performed, if any, or if any data is already available.

[2019-09-27 20:32] creat89 commented on #380
I have previously used screen to keep the containers running without keeping the ssh session open and I have never seen something similar. I'll try to test it on Monday if the DNS in our server is fixed.

[2019-09-28 07:28] borisbaldassari commented on #380
It's fairly new, happened for the first time this week only. Never happened before when running scava, so it must be a quite new feature/commit.

[2019-09-28 08:55] phkrief opened #381 "Local path displayed as the project name"
Hi,
When I launch a CROSSMINER project search I get a list of project with a path which seems to reference a local file, for example:
    **/Users/juri/development/git/FOCUS/dataset/MV_L/**g_jersey-json-1.9.jar.txt
I suppose it is not expected. ;-)

![image](https://user-images.githubusercontent.com/6196602/65814146-67aea980-e1de-11e9-8b19-ad20b41b8bb6.png)

[2019-09-28 09:00] phkrief opened #382 "Knowledge base projects are not the same on the Dashboard"
Hi
Talking with @borisbaldassari , I just noticed that the projects parsed then displayed on the dashboard (http://ci4.castalia.camp:5601/#/project) cannot be found when I run a search against the knowledge database with the Eclipse plugin.

In my understanding, we were suppose to have the same set of projects parsed for the knowledge base and the dashboard.

Am I wrong?

[2019-09-28 09:20] borisbaldassari opened #383 "Task vanish, projects have no status or error"
The ci4 instance seems to be in limbo. Projects don't show any status in the main page, they're marked as error when clicking on a specific project, and I can't see the tasks usually queued in the workers page.

![Firefox_Screenshot_2019-09-28T07-46-40 774Z](https://user-images.githubusercontent.com/5849071/65814386-49967880-e1e1-11e9-9898-a4624c9977d8.png)

When clicking on the project the task i

[2019-09-28 11:20] borisbaldassari commented on #383
Now I realise I cannot add new tasks (or re-run existing tasks). Blocker.

[2019-09-28 11:22] borisbaldassari commented on #338
The instance was updated on friday and it seems the tasks are not frozen anymore in the workers. Yeah! ;-)

I can't add new tasks, see issue #383 for more information. Since I'm not sure if it's related or not I'll keep this issue opened until we know.

[2019-09-28 11:35] borisbaldassari commented on #346
Hum.. Not sure it doesn't mess up with task analysis, see issue #383 . Re-opening the issue.

[2019-09-28 22:37] creat89 commented on #372
I have fixed the issue in commit https://github.com/crossminer/scava/commit/6de2ae259e463eaaa6d33256be7bd01cd430c530

[2019-09-28 22:37] #372 closed

[2019-09-29 06:41] #381 closed

[2019-09-29 07:22] phkrief commented on #381
Dear @md2manoppello, Thx.
Where was the issue? in the plugin or in the knowledge base?
When can access to the fixed code or data ?
Thanks

[2019-09-29 07:42] phkrief commented on #381
I found a new build on Jenkins but I didn't notice any change including in the revision number.
So, I suspect that the fix solve the issue on the knowledge base ?
![image](https://user-images.githubusercontent.com/6196602/65828649-79a35180-e29d-11e9-88af-dc361ed0a9fb.png)

[2019-09-29 08:49] phkrief opened #384 "Add a new json parser repo into the knowledge base"
Dear @md2manoppello , Dear @borisbaldassari ,

Could you add the following repo into the knowledge base:
https://github.com/sivash/JSONSparcerParser

I need it for my demonstrator. Actually I was looking for a JSON parser using a GNU license and this one is one of the few.
Thx a lot

[2019-09-29 12:11] md2manoppello commented on #381
Yes, you are right.
I changed the KB behaviour.
Cheers,
Juri

Il dom 29 set 2019, 09:42 Philippe Krief <notifications@github.com> ha
scritto:

[2019-09-29 12:44] phkrief opened #385 "Can we see in the Project search the license associated to the project if it exists?"
Hi

Will it be possible to display in the parameters description of a project in the Project search dialog the license attached to this project. It is a very important and useful information.
Thanks a lot

[2019-09-29 13:08] phkrief opened #386 "Help to achieve my scenario"
Dear All,
Here is the scenario I would like to achieve with the help of the Scava plugin.
In my understanding, it should comply with our initial requirements.

So, please tell me how we could fix that to be able to run this scenario:
-------------------------------------------------------
# Professor request
Extract the current weather for a given city from the OpenWeather (https://openweathermap.

[2019-09-29 17:41] creat89 commented on #386
Hello @phkrief,

For the API recommendation and maybe the understanding of a new API, I should say that apart from the recommenders created by UDA, there is one created by EHU that it's called CROSSIndex. This one should have an interface through the Knowledge Base too. CROSSIndex, rather than be connected to the Knowledge base, it is connected to the ElasticSearch Indexes. If you selected, during

[2019-09-29 18:05] phkrief commented on #386
Dear @creat89, Sorry but I don't understand your reply.
The described scenario is using the Scva Plugin IDE. So, I have no access to any API but the user interface provided by the plugin.
Do I miss something?
Thx

[2019-09-29 18:09] creat89 commented on #386
I thought that as any other recommender located in the Knowledge base, would be accessible through the Scava plug-in too.

[2019-09-29 18:40] davidediruscio commented on #386
Hi Adrian,

Have you never interacted with FrontEndArt to make your indexes accessible from the IDE?

I remember that to make things simpler, being your indexes saved on the same ElasticSearch instance used by the web based dashboards, we opted for enabling the specification of query strings to search for NLP-based data directly from the web-based client. Isn’t?

Davide

[2019-09-29 18:42] creat89 commented on #386
The indexes are available through Kibiter. But I'm talking about the recommender created on the indexed data.

[2019-09-29 19:00] davidediruscio commented on #386
@creat89 yes thanks, I remember the branch you developed end of July about that and subsequently merged by @md2manoppello

The recommendations we are able to provide are those described in D6.5.

@phkrief maybe I'm missing something, what do you mean with "....how we could fix that..." at the beginning of this issue description? What are the things that need to be fixed?

[2019-09-29 20:23] phkrief commented on #386
@davidediruscio by "fixing" in mean: what should I/we do t make this reasonable scenario doable.
I don't know how we could "influence" the KB to obtain "useful" recommendations.
Actually, for example, I installed one of the repo listed by the plugin (json-simple). This repo provides a Json parser with some APIs. I could not find the way to setup my code to get a useful recommendation.
Does it make

[2019-09-30 06:41] mhow2 commented on #380
I'm using screen too and have experienced something similar on my side, rather recently like two weeks ago. Maybe one or two times. The only reason for this that raise into my mind is one of the container output produce a control character that scrambles the terminal.

[2019-09-30 07:45] geryxyz commented on #386
Hi all,
@phkrief I checked your scenario. In short:

- The plug-in does not make any filtering on the results coming from the server, just displays these. So if the answers you are looking for are present in the KB then it should be visible in the search results.
- The plug-in does not display any license data of the libraries since it is not provided by the server (as far we know).
- We currently

[2019-09-30 07:49] geryxyz commented on #87
We discussed the question of UI in person in Athen.

[2019-09-30 07:49] #87 closed

[2019-09-30 07:52] geryxyz commented on #88
Is it still relevant, since it is a fairly old issue? If yes please provide some more details with screenshots of the relevant windows.

[2019-09-30 07:53] geryxyz commented on #89
Already fixed

[2019-09-30 07:53] #89 closed

[2019-09-30 07:59] geryxyz commented on #366
Thank you for the recommendation. We keep this feature in the queue, but since it related to the Eclipse feature, which is currently not explored and integrated into the plug-in, we can not promise to address this issue. It curtenly useful, but we have other issues which required more attention at the moment.

[2019-09-30 08:02] phkrief commented on #87
Sure. Nevertheless, you could repeat your position in this issue. WDYT?
Thx

[2019-09-30 08:29] creat89 opened #387 "CROSSIndex and Eclipse plugin"
Hello,

I open this issue as it I might not be the case that the recommender created for exploiting the indexes is present through the Eclipse plugin. The recommender is located in the KB and it's available through the same REST API that the recommenders and tools created by UDA.

This recommender is associated to four API methods, depending on the programming language to process, C, Java, PHP and

[2019-09-30 08:39] creat89 commented on #386
As far as I understand l, the problem that Philippe is facing, is that the KB do not contain any information regarding the Json parser indicated at the beginning of the thread, as he has indicated in issue #384. This makes impossible to retrieve recommendations useful for solving one of his user cases. In other words, the recommendations retrieved are not related to the library Philippe is using.

[2019-09-30 08:44] phkrief commented on #386
Hi @creat89 ,
Your are partially right. I do agree with you that one of the 2 parsers in not included in the KB but the second is included (json-simple). So I would not mind demonstrating the recommendation on the second one only but, unfortunately I get nothing for now.
So I was wondering if I was selecting the wrong text to get some useful help form the KB.
I will be happy to go with you through

[2019-09-30 08:47] phkrief commented on #386
@md2manoppello , @creat89, Would it be difficult to add the license information in the KB?
IMHO, this is an important information and, for now, if I want to check this information, I will have to switch to github, browse the license file and comeback to the search dialog in Eclipse.
Now, if you cannot make it, I will just mention the workaround and ask for an enhancement in our deliverable.
Thanks

[2019-09-30 08:51] creat89 commented on #386
In EHU case, CROSSIndex only retrieves posts from the indexes that contain information that might help you to develop the code that you're writting. It doesn't provide projects similar to those that you're using. Those recommenders are created by UDA.

[2019-09-30 08:54] geryxyz commented on #386
@creat89 what do you meant by missing on the plug-in site? Does CROSSindex use a different API method? If so which one? If it use the same API as any previous request and only add more result entries to the result then it will working as the previous ones.

[2019-09-30 09:06] phkrief commented on #366
Thanks for your reply, @geryxyz. Understand. It is a "Nice to have".

[2019-09-30 09:12] phkrief opened #388 "Can the KB provide the license attached to a project"
Base on the Issue  #385 reply, this demand should be asked to the owner of the KB.
It will be helpful to see the license attached to the project selected in the Search Dialog.
Thanks

[2019-09-30 09:14] geryxyz commented on #87
We concluded that the UI mostly created with JFace with the fallback to SWT. We choose this since it could provide a much richer user experience.

[2019-09-30 09:16] phkrief commented on #385
Dear @geryxyz ,
Instead of closing the issue, you could assign it to the KB owner. ;-)

I created the Issue #388 to not lose this request.
Thanks

[2019-09-30 09:16] creat89 commented on #388
@phkrief, I'm not charged of the KB, I just created a recommender for the KB that it's based on the data processed by Scava if it is indexed.

[2019-09-30 09:20] creat89 commented on #387
We use the same REST that other recommenders created by UDA:

https://github.com/crossminer/scava/blob/dev/knowledge-base/org.eclipse.scava.knowledgebase/src/main/java/org/eclipse/scava/presentation/rest/RecommenderRestController.java

Specifically, we use the methods:
- `getCROSSIndexCRecommendation`
- `getCROSSIndexJavaRecommendation`
-`getCROSSIndexJSRecommendation`
- `getCROSSIndexPHPRecommend

[2019-09-30 09:20] creat89 commented on #386
@geryxyz I have replied to you in issue #387

[2019-09-30 09:30] geryxyz commented on #385
Sure. I closed it to prevent leftover issues, since it was not feasible on the client side. But of course, we will check the new fields and will provide a UI when we finished the current tasks in the queue. @idarav

[2019-09-30 09:39] geryxyz commented on #387
Maybe I miss something but could you give us a use case with sample data for these requests?

[2019-09-30 10:00] phkrief commented on #386
I try to understand how the KB is created. Based on my understanding none of the projects listed in the dashboard are listed in the KB and vise versa.
Is it expected ? Personally, I was expecting to have the same projects on both UI. Like that I could either have a short description in the Eclipse IDE or make a deep dive in metrics with the dashboard.
Did I miss understand something in the archite

[2019-09-30 10:05] borisbaldassari opened #390 "Workers failing"
Two of the 4 slaves have stopped last night. The UI doesn't show any worker or tasks or projects.

![Firefox_Screenshot_2019-09-30T09-51-44 567Z](https://user-images.githubusercontent.com/5849071/65869354-8fd30f80-e37a-11e9-9281-03a61fa4a797.png)
![Firefox_Screenshot_2019-09-30T09-52-05 088Z](https://user-images.githubusercontent.com/5849071/65869355-8fd30f80-e37a-11e9-8fff-6e3c79e723a2.png)

Log

[2019-09-30 10:07] borisbaldassari commented on #390
The ci4 host (and portainer instance) can be freely investigated if needed. As a reminder, all URLs are provided in the main page:

http://ci4.castalia.camp

[2019-09-30 10:20] md2manoppello commented on #384
Hi @phkrief ,
JSONSpacerParser project has been imported on the KB castalia instance.
The KB provides an importer to include GitHub projects to the KB by the api/artifacts/search/JSONSparcerParser resource.
You can easily use it by the swagger interface available at http://ci4.castalia.camp:8080/swagger-ui.html.

[2019-09-30 10:20] #384 closed

[2019-09-30 10:36] md2manoppello commented on #382
please, have a look to #384

[2019-09-30 11:10] ambpro commented on #105
@borisbaldassari @mhow2
I pushed some improvements (c31c8c9) to display the completed tasks and additional temporal infos about these tasks .
![completed-tasks](https://user-images.githubusercontent.com/35226648/65873490-84d0ad00-e383-11e9-9086-a7add6906285.png)

Please let's me know if it could help ?

[2019-09-30 11:16] mhow2 commented on #105
Thank you @ambpro , I'll test as soon as possible.

[2019-09-30 12:13] md2manoppello commented on #388
The IDE should not be updated.

[2019-09-30 12:14] #388 closed

[2019-09-30 12:26] MarcioMateus commented on #383
Hi @borisbaldassari , can you check the logs of the `oss-app`. We are struggling with a similar problem and the getting http server errors on the `oss-app`. Something starting with:
[code]

Maybe related with https://github.com/crossminer/scava/issues/341

[2019-09-30 12:32] creat89 commented on #387
Hello, I hope I had understood well, here is an example:

[code]

[2019-09-30 12:38] creat89 opened #392 "KB dependencies: Lucene versions"
Hello @md2manoppello,

Some months ago, during the development of the recommender based on the Scava Indexes, i.e. CROSSIndex, I  commented you that there were some issues with the KB dependencies in particular the one of Lucene. I quote the email we exchanged 10/07/2019:

Currently, while trying to test the recommender for giving some examples to FEA (for issue #387), I'm noticing this is still a

[2019-09-30 13:07] phkrief commented on #388
Dear @md2manoppello , Are you saying that this information doesn't make sense ?
Thx

[2019-09-30 13:17] MarcioMateus commented on #105
I did't test it yet but seems a good enhancement.

I would also create a section like "On Error Tasks" to let the user quickly know which tasks are on `ERROR` state

It would also help to know the number of Tasks in each stage. we can represent the counter next to the cane of the section. E.g.:  "Pending Tasks (30)" , "Completed Tasks (10)", ...

[2019-09-30 13:25] ambpro commented on #383
Hi @borisbaldassari

The commit (6c9a81f) should fix that !

It's expected in case that the task is failed to create the Delta.
I look an snapshot on the oss-app_1 container (where the tasks was failed ) and I got a No space left on device error.

`
INFO  [ProjectDelta (Eclipse Trace Compass,20180101)] (13:03:00): Creating Delta
ERROR [ProjectDelta (Eclipse Trace Compass,20180101)] (13:03:09): Del

[2019-09-30 13:28] md2manoppello commented on #388
Hi @phkrief ,
no, I'm saying that the feature has been implemented on server-side (KB). So, the plugin shouldn't be updated because of the external behavior is not externally changed.

[2019-09-30 13:31] phkrief commented on #388
Oh?! So the KB collects the licence information and the plugin should be able to disply it when we select a project in the Research Project dialog. Correct ?

[2019-09-30 13:34] md2manoppello commented on #388
sorry, you are right, the dialog should be updated. :(

[2019-09-30 14:11] tdegueul commented on #390
The logs show that both JVMs have crashed due to `SIGBUS (0x7)`, which is most likely a consequence of running out of disk space. Indeed, here's the situation in the container:

[code]
I am not familiar with Docker's volume management. Maybe there is a way to allocate more space to the `metric-plaform` containers (master and slave)?

[2019-09-30 14:19] MarcioMateus commented on #390
Humm, it really seems to be the case that the Docker container ran out of storage space. I will look into it.

[2019-09-30 14:26] phkrief commented on #384
Thx a lot @md2manoppello

[2019-09-30 14:27] phkrief commented on #382
@borisbaldassari how can we do to make both DB based on the same projects ?

[2019-09-30 14:35] phkrief commented on #385
So, bavese on the #389, this information is available on the KB. So, could you display it with the search results?
Thanks a lot

[2019-09-30 14:35] ambpro commented on #105
@MarcioMateus the commit (f016df1) should add a new  `on-error-tasks` section as bellow

![on-error-tasks](https://user-images.githubusercontent.com/35226648/65888586-10f0cd80-e3a0-11e9-9e35-b1eb137922da.png)

[2019-09-30 14:38] MarcioMateus commented on #338
Just report that we got a similar error this weekend. The worker (only one was running) got stuck. A `docker down` and `docker up` put the platform to run again.

This was our error:
[code]

[2019-09-30 15:24] MarcioMateus commented on #105
Hi @ambpro, it looks great!

We will test it.

[2019-09-30 18:18] creat89 commented on #338
@MarcioMateus, I'll push tomorrow the modifications done by York for preventing the github issue. I just created the jars but I need to test the readers before sending to jenkins for building.

[2019-09-30 22:08] md2manoppello commented on #382
#393 pull request adds a scheduler that imports ossmeter projects each Sunday afternoon.

[2019-09-30 22:08] #382 closed

[2019-09-30 22:28] md2manoppello commented on #382
please see this commit https://github.com/crossminer/scava/commit/1bbec4d53441a6eac91cd417f43fe3f09a631a39
A new resource synchronizes KB, ossmeter metric provider platform, and the dashboard.
Please use ```curl -X POST "http://ci4.castalia.camp:8080/api/artifacts/add-mpp/" -H "accept: application/xml"``` to syncronize.

[2019-10-01 07:09] phkrief commented on #382
@md2manoppello What about the opposite?
DOes it mean that the KB will also contain the projects listed on the dashboard?

@borisbaldassari May I let you run the synchronisation? Thanks

[2019-10-01 10:04] mhow2 commented on #105
@ambpro , I think that in the tasks lists, we need the *last updated item* diplayed first (on top).

[2019-10-01 13:05] creat89 commented on #387
I have updated the curl example to properly have a running example

[2019-10-01 13:21] creat89 commented on #338
@MarcioMateus, commit https://github.com/crossminer/scava/commit/2aa0121554ae18307f38c883f856030e15136ad3 contains the newest version Restmule in the GitHub reader which should prevent the error to happen.

[2019-10-01 14:08] creat89 opened #394 "Stack Traces window should have a horizontal scroll"
As you can see in the image,it's impossible to see all the stack traces and there is no horizontal scroll:

![image](https://user-images.githubusercontent.com/17121539/65969753-3abbfa00-e45d-11e9-9e26-969b7f4010c1.png)

This happens, at least in the latest version of Firefox 69.0.1

[2019-10-01 14:10] blueoly commented on #394
Yes, you have to copy the log you want to examine and paste it somewhere else to be able to read all of it. Also, the lines are not divided correctly.

[2019-10-01 14:18] kb634 commented on #338
To clarify further, as we had discussed with Davide in the call we had on the 16th of September, Restmule will retry up to 10 times (on a 1 minute delay each time) for certain types of HTTP codes (such as 502) and after that throw an exception (the one seen above) for its caller (in this case the Reader) to handle.

As such, when using the latest version, if this message is seen it means that Rest

[2019-10-01 14:44] MarcioMateus commented on #338
Thanks @creat89 and @kb634.

So, is the "bug" fixed? Is the reader (or the metric-platform) handling the exception?

[2019-10-01 14:46] creat89 commented on #338
@MarcioMateus I will need to catch the exception on the reader if RESTMULE fails to recover, but I need to check with Softeam which exception I could use to just pause the task for a while and continue working with other tasks.

[2019-10-01 14:54] creat89 opened #395 "Exception for pausing the tasks due failed data retrieval"
Hello,

As issues https://github.com/crossminer/scava/issues/338 and https://github.com/crossminer/scava/issues/312 describe, in occasions, the readers break due to external reasons, e.g. server down. This causes, currently that the task is completely stop because the readers launch an exception.

While the platform manages correctly exceptions in general, I wonder if there would be a way to trigg

[2019-10-02 07:55] phkrief opened #396 "API documentation and Q&A posts views doesn't come back to the front"
Let say I request a first time some API recommendation and Q&A post, in this case, a view titled "API documentation and Q&A posts " appears at the bottom of my workbench with some stackoverflow suggestions.

Now, if for any reason, I switch to another view, like the Problems view, this one will cover the "API documentation and Q&A posts" view.

Later on, if I request for a second time again some A

[2019-10-02 08:23] phkrief opened #397 "Recommendations are related to the name of the variable and not to the type of the variable"
Hi,
I try to get some recommendation on Hashtables by selecting in my code the following code:
Hashtable<String, Object> table = (Hashtable<String, Object>)jsonObject;

I obtain 5 recommendation and non of them are talking about Hashtable but about ArrayList.

Now, if I rename the local variable 'table' to 'hastable" then I get some recommendations which could help me.

I would expect that the rec

[2019-10-02 08:35] phkrief commented on #397
Btw, I would expect to get some helps on the Hashtable class APIs and I don't really get any.
What should I do to make it happen? Thanks

[2019-10-02 08:37] md2manoppello commented on #397
Hi @phkrief ,
did you select the whole code (including the import section) from the compilation unit (i.e., the class) that you are developing?

[2019-10-02 09:02] phkrief commented on #397
Dear @md2manoppello , unfortunately, in this case it is worse.

Here is the whole code I have in my editor when I launch the API recommender:
----------------
import java.io.BufferedReader;
import java.io.IOException;
import java.io.InputStream;
import java.io.InputStreamReader;
import java.io.Reader;
import java.net.MalformedURLException;
import java.net.URL;
import java.util.Hashtable;

import e

[2019-10-02 10:08] creat89 commented on #252
Hello @ambpro,

The connector works well, but the data is missing for the Systematic Documentation without login. I'm getting this:
![image](https://user-images.githubusercontent.com/17121539/66036037-3bf43200-e504-11e9-83f2-fd34886ef846.png)
Instead of something like this:
![image](https://user-images.githubusercontent.com/17121539/66036085-53cbb600-e504-11e9-9095-037221cef2f3.png)

And the Passw

[2019-10-02 10:21] creat89 commented on #392
The versions of Lucene are not a problem, so I'm going to close this issue.

[2019-10-02 10:21] #392 closed

[2019-10-02 10:43] MarcioMateus opened #398 "Issues creating and starting tasks"
Dear all,

Let us share with you some problems and findings we had.

In our use case we have a program that consumes the CROSSMINER API. We have a process to 1) import a project into CROSSMINER, 2)create an analysis task and 3) start the task. This procedure has executed multiple times until all of our projects were on CROSSMINER.

However, after some version of the platform (we don't know which),

[2019-10-02 14:33] #139 closed

[2019-10-03 08:09] phkrief opened #399 "Some inconsistencies in the Search"
Hi,

When I launch the Project Search looking for 'json" I get a list of Projects talking about JSON. Great.
Then when I launch a second search looking for 'json parser', I get one single answer, fair enough, BUT this project is not present in the previous list.

Is it expected ?
Thanks a lot

[2019-10-03 08:15] geryxyz commented on #399
I know that I'm repeating myself but the plug-in "only" display the results got from the server.

[2019-10-03 08:18] md2manoppello commented on #399
New DB dump will fix it.

[2019-10-04 15:57] phkrief commented on #399
Dear @geryxyz
No worries, I got the point. Nevertheless, I don't know if any issue that I could find on KB could impact or not your UI. It is for this reason that I add you to the bug

[2019-10-04 15:59] phkrief commented on #399
Dear @md2manoppello, could we keep it open until I very that the new version fixes the mentioned issue?
Thx

[2019-10-07 11:10] MarcioMateus opened #400 "[KB] Update to API (UNP Usecase)"
The API call `/api/artifacts/storeIoTCataloque/` was good for the initial testing of the KB capabilities, however the integration with the Use Case would work better if it was replaced by the followed methods:

- Insert/update new project/product description, that would add new products or modify the dependencies list of a product. The parameters that this method should require are: ID of the prod

[2019-10-07 11:20] MarcioMateus opened #401 "[KB] Distance/rank metric for the related products"
It would be a great addition if the list of products returned by the method ´/api/recommendation/similar/p/{id}/m/{sim_method}/n/{num}´ could provide a rank or a distance metric.

That metric would allow us to order the products by "the most related" and hide products that are below a specific similarity threshold.

[2019-10-07 13:38] #401 closed

[2019-10-07 13:48] md2manoppello commented on #400
Hi @MarcioMateus ,
I'm working on it.  My 2 cents:
1 CrossRec doesn't allow to compute a partial distance map because it relies on graph similarities.
2 I can provide 2 new resources to add and delete artifacts.
3 I can implement a scheduled job to compute CrossRec distance matrix as I did in the dev branch.
What do you think about? Is it ok?

[2019-10-07 14:45] MarcioMateus commented on #400
Hi @md2manoppello .

Thanks.

Reading again my description I thing that it may lead to some confusion. What I meant as "calculation of partial map" not for the calculation of the "base" distance matrix, but when we update or add new products just calculate the parts of the matrix affected by the updates and not calculate everything from scratch. This is to try to reduce the time needed to update t

[2019-10-07 15:15] creat89 opened #403 "Building process breaking as RESTMULE is not yet built by Jenkins"
Hello,

Previously, our BTS GitHub Reader based on RESTMULE was using manually created jars to work. However, since RESTMULE has been added properly to the dev branch and it is capable of being built using Jenkins, it makes more sense to stop using the manually produces jars.

I have done the migration by adding the RESTMULE plugins as dependencies of the BTS GitHub Reader and updated the features

[2019-10-07 15:24] md2manoppello commented on #400
I well understood your needs.
No, I'm sorry. CROSSRec doesn't allow to partially compute the distance matrix because it doesn't calculate the difference one by one. It is an agglomerative similarity function. For this reason, I suggested a scheduled job.

[2019-10-07 17:38] creat89 commented on #403
It seems that the issue was a wrong build.properties file. I'll open it again if I have the problem  again or if the build doesn't pass Jenkins.

[2019-10-07 18:02] creat89 commented on #403
Well, my build broke after the changes. I guess that in my computer it built because at a certain point I did a `mvn clean install -DskipTests` on Restmule folder. However, Jenkins do not auto build yet Restmule, thus, it couldn't find the built version of restmule.

[2019-10-07 18:08] geryxyz commented on #403
I do not got perfectly what's this issue about, but to be on the safe side: does it have anything to do with the CROSSMINER Eclipse IDE plug-in?

[2019-10-07 18:08] creat89 commented on #403
@geryxyz, no, it doesn't have nothing to with Eclipse Plug-in.  This is related to issue This issue is related to issue https://github.com/crossminer/scava/issues/133

[2019-10-07 18:10] #403 closed

[2019-10-07 18:13] creat89 commented on #133
Hello @tdegueul,

Could you create a Jenkinsfile for Restmule? As you can see I had issue #403, which at the end the problem was that Jenkins is not building yet Restmule.

[2019-10-07 19:51] tdegueul commented on #133
I pushed a `Jenkinsfile` for Crossflow and Restmule in f0bc02962412783f962c0ece49a72df5ff789647 and 874aba32be3464d6ea9e2367ae04fe80eb3f303d. The corresponding CI jobs are [scava-crossflow](http://ci5.castalia.camp:8080/job/scava-crossflow/) and [scava-restmule](http://ci5.castalia.camp:8080/job/scava-restmule/).

I archive all JARs in any `target/` folder for both jobs. See [Crossflow's artifacts

[2019-10-07 19:51] #133 closed

[2019-10-08 11:59] borisbaldassari commented on #346
Good for me.

[2019-10-08 11:59] #346 closed

[2019-10-08 14:00] creat89 commented on #122
Hello,
I know it has passed some months since the last message of this commit, but maybe you could use as well the licenseDetector that we created. Currently, it is only used for analyzing the documentation.

[2019-10-09 13:30] creat89 commented on #212
Hello @nnamokon,

I think that this limitation and configuration aspect would go perfectly in the readers documentation. Could you update the documents?

[2019-10-09 15:07] phkrief opened #404 "User activity monitoring feature"
Hi

By default, the user activity monitoring feature is active. This is an issue for Eclipse users: they don't accepts to be tracked without their official approval !

Either we add a button to turn on/off this feature in the plugin and it should be turned off by default, or we isolate the code related t this feature in a separate Eclipse plugin letting the developer the choice to install or not t

[2019-10-09 15:10] geryxyz commented on #404
In the new version it is disabled by default. We will update the official repo after we finished the implementation of an ongoing feature (migration support). Thanks for your understanding.

[2019-10-09 15:44] phkrief commented on #404
Thanks Gergo for your reply.
When do you plan to provide a new version of the plugin?
I'm asking because I already wait for #339 to start using your new code ;-)
Thanks

[2019-10-10 08:39] geryxyz commented on #404
Currently, we have some issues with the KB, which hinder the completion of the above features. We already began discussing it with @md2manoppello, and it seems to be solved, but we have to update and check with our server. We plan to ship these on the 21st of October in the worst-case scenario.

[2019-10-10 09:49] phkrief commented on #404
thx for this update

[2019-10-10 13:30] creat89 commented on #376
I have modified the platform to use and generate in theory unique IDs not only for threads but also for articles. Yes, the IDs used for the articles were not unique either.

Furthermore, I notices that the IRC reader was not populating the correct object for the threader to work. This was also fixed during these changes.

[2019-10-10 13:30] #376 closed

[2019-10-11 14:41] creat89 opened #405 "Some factoids based on historic metrics might retrive the wrong date"
While creating a factoid for documentation sentiment, I discovered that some factoids based on historic metrics, instead of retrieving the entry created for the delta day, they retrieve the entries between a particular range of dates.

The rage of dates normally starts on the day which the analysis is executed and between -30 and -365 days. These range might not cover the delta day and in conseque

[2019-10-11 17:07] creat89 commented on #405
This has been solved with multiples commits.

[2019-10-11 17:07] #405 closed, assigned to creat89

[2019-10-17 08:28] Szamos96 opened #406 "Fix jenkins build issue for plug-in"

[2019-10-17 18:10] blueoly opened #407 "out of memory error after running trans.rascal.api.changedMethods"
I was running a task with active just the two rascal.api.changedMethods metric providers. The oss-app container crashed after only few days of analysis with an out of memory error. I attach the containers.log and the memory dump.

The VCS Repositories that were defined about this analysis tasks are:

https://github.com/eclipse-sirius/sirius-components
https://github.com/eclipse-sirius/sirius-specs

[2019-10-18 09:02] mhow2 opened #408 "error 500 when creating project (beta instance)"
I'm using beta.crossminer.org (it has been deployed from scratch about Tuesday by @blueoly)

When I create a project in the system like in the screenshot, and click "save" the button turns grey and in FF's dev pane I see an error 500...

![image](https://user-images.githubusercontent.com/9987241/67080868-5da51880-f196-11e9-98bd-192ed77b55dc.png)

[2019-10-18 09:48] mhow2 opened #409 "project edit : cannot save communication channels setttings"
When you hit the save button and re-enter the settings it's gone.
Could have a link with #252

![Peek 18-10-2019 11-42](https://user-images.githubusercontent.com/9987241/67084317-035b8600-f19d-11e9-89e2-220cef0d682e.gif)

Could you have a look please ? @ambpro @crossminer/sft

[2019-10-18 13:30] ambpro commented on #409
@mhow2 , as we discussed earlier, the probleme is due to unfilled mandatory field (executionFrequency). So, I pushed a fix (12d95ae) to validate fields when adding a new connector within the pop-up.
Let me know if it works as expected now ?

[2019-10-18 14:02] ambpro commented on #408
As in #409, the issue is due to unfilled mandatory field (executionFrequency). So, I pushed a fix (91b5350) to deal with that.

[2019-10-18 14:37] creat89 commented on #408
Well, I have tested a previous version of the platform and what it was happening is that if you left the Execution Frequency empty, the save button was active. But once you clicked on it, it became gray. Furthermore, even if you updated the Execution Frequency to a day, the button never changed back. In fact we needed to cancel the project creation and this time fill all the fields before clicking

[2019-10-18 14:39] creat89 commented on #409
Even if the execution frequency field is filled, the DB is not storing all the data as indicated in https://github.com/crossminer/scava/issues/252#issuecomment-537427108
I'll test the last version as soon as Jenkins finishes to see if this has been fixed.

[2019-10-18 14:47] ambpro commented on #252
Hello @creat89

It's a bit strange because with the current metric-platform build,  I can add a new documentation systematic through the `Register project` .
 **with no-login**
![measure-project-wiki](https://user-images.githubusercontent.com/35226648/67102448-c35bc980-f1c3-11e9-827d-20e202ab3528.png)

**with login**
![image](https://user-images.githubusercontent.com/35226648/67104213-d623cd80-f1c

[2019-10-18 15:05] creat89 commented on #252
@ambpro with the last build:
- No login:
        If execution frequency field is filled, the data is stored in Mongo. However, we can still click on save without indicating the frequency. If this is the case the entry is not stored.
- Login:
        If execution frequency field is filled, the data is stored in Mongo. We can still click on save without indicating the frequency. However, once we cli

[2019-10-21 15:56] ambpro commented on #409
@mhow2 @creat89 , could you check again if the previous commits fix the issue?

[2019-10-21 15:58] ambpro commented on #408
@mhow2 @creat89 , could you check if the previous commits fix the current issue?

[2019-10-21 16:01] ambpro commented on #252
@creat89 , does the previous commit (c57a4a0) solve the problem ?

[2019-10-22 10:43] creat89 commented on #252
Hello @ambpro,

In some cases yes, in some cases no. These are my observations:
No login:
-  Currently, the project is never saved correctly, whether we fill the frequency field or not. In fact it is storing only the data shown in https://github.com/crossminer/scava/issues/252#issuecomment-537427108.

Login:
- The project is saved correctly in MongoDB even if the frequency field is empty.
- The pa

[2019-10-22 10:53] creat89 commented on #252
@ambpro, I don't know if this information will make easier to fix the issue, but if the username and password fields are empty, the reader consider that automatically as without login. This could make easier to fix the issue, as currently the creation of the project with login stores the data correctly even if these fields are empty.

[2019-10-22 12:42] ambpro commented on #252
@creat89

If execution frequency field is filled, the data is stored in Mongo. However, we can still click on save without indicating the frequency. If this is the case the entry is not stored.

If execution frequency field is filled, the data is stored in Mongo. We can still click on save without indicating the frequency.

AFAIU and based on the documentation reader spec, all the fields are manda

[2019-10-22 13:51] creat89 commented on #252
It's correct what you're saying, if you set a username and password you need to set the login URL and the username field and the password field. Otherwise the platform will throw an error indicating that you're missing some fields.
However, what I'm trying to say is that you can create an object with the username and password fields empty and that would be equivalent to a no-login. Is that clear?

[2019-10-22 14:24] ambpro commented on #252
Ok. I'll adjust the reader's saving process and I will let you know asap!

[2019-10-28 13:15] mhow2 commented on #409
So I have redeployed the stack. I have added Communication channels settings to one of my existing project : http://scava-dev.ow2.org:5601/#/project/configure/bonitaengine

Then I hit the button "restart" and the task change to state "ERROR".

No error reported in the slave container. The last line is:
`oss-slave2_1      | Storage initialised!`

What should I do now ?

[2019-10-28 13:19] creat89 commented on #409
Can you tell us which communication channel were you testing? I'll try to reproduce the error. I have never seen a similar error.

[2019-10-28 13:22] mhow2 commented on #409
sorry, it is the systematic reader that I'm testing here.

[2019-10-28 13:23] mhow2 commented on #409
But you should have an existing project with already existing metrics in order to be in the same kind of scenario as I am.

[2019-10-28 13:53] creat89 commented on #409
Well, there is something weird. Checking the stack traces on the platform I have found this (the same for worker 2 and worker 3:
[code]

[2019-10-28 14:16] creat89 commented on #409
I have reproduced the previous error, but it has nothing to do with an error on the platform. I have contacted @mhow2 privately to solve the issue.

[2019-10-28 16:04] mhow2 commented on #409
It was about the JIRA reader that had a wrong password, but nothing in the UI's really helped to quickly indentify the problem, but to read on the stack trace section on @creat89's advice. And find something about 401.
That would be so much useful to provide a meaningful error message directly from the tasks view...

[2019-10-28 16:56] creat89 opened #410 "Scava cache stores old passwords and do not update to the newest ones"
Thanks to @mhow2, we have found that Scava's Cache stores old passwords, at least for JIRA. I'll look for a method to prevent storing the passwords in the cache or at least update them according to the last updated value in Mongo.

[2019-10-30 10:38] mhow2 opened #411 "Rename Kibiter viz "non resolved/closed bug"?"
For project sat4j , where issues are at https://gitlab.ow2.org/sat4j/sat4j/issues I got the following visualization in Kibiter:

![image](https://user-images.githubusercontent.com/9987241/67850335-84edd500-fb08-11e9-8e27-cc47022097e7.png)

It shows about 147 bugs that are "non resolved/closed". First I wonder if it would be less confusing to call the viz "open bugs" instead of introducing a negati

[2019-10-30 10:49] creat89 commented on #411
Checking the code, the one charged of setting that a bug is closed works for gitlab. I'm thinking that the issue comes from historic metric that calculates a cumulative historic metric and it doesn't reduces the number of open issues. I'll check the code later or tomorrow, as right now I'm on the phone.

[2019-10-30 10:49] valeriocos commented on #411
I'm fine with any decision. Should I rename `Non resolved/Closed bugs` with `Open bugs`?

[2019-10-30 11:01] mhow2 commented on #411
If I sum 148 "non resolved/closed bug" + 8 "fixed bug" reported in the last day for the viz , it is about 156 bugs, which is close to the 158 "all bugs" reported in GitLab...

[2019-10-31 10:09] phkrief opened #412 "Eclipse project are not easily visible in the search"
Hi,

When I try to find, for example, the Eclipse EPS project and I search "Process". I get a list of project and at the end an n/a element (see attached file) which is EPF.
It seems that the project is not correctly referenced in the KB.
Thanks
![image](https://user-images.githubusercontent.com/6196602/67937948-cfd22000-fbce-11e9-81b3-8f709eb85516.png)

[2019-10-31 10:15] phkrief opened #413 "Similarities button doesn't work anymore"
Hi,

When I look for similar project I don't get any.
I tried with mqtt for example
Thanks
![image](https://user-images.githubusercontent.com/6196602/67938375-a1a11000-fbcf-11e9-9ed1-be5ce2aefe17.png)

[2019-10-31 10:20] phkrief commented on #404
Great fix!
Nevertheless, I don't see how I can now decide to activate it.
The plugin only tells me that it is deactivated:
![image](https://user-images.githubusercontent.com/6196602/67938650-3277eb80-fbd0-11e9-9fc5-387f387fc8f8.png)
but when I have access to the list of events, there is no way to activate them.
Did I miss something?
![image](https://user-images.githubusercontent.com/6196602/679387

[2019-10-31 10:22] phkrief commented on #365
Fixed! Thanks

[2019-10-31 10:22] #365 closed

[2019-10-31 10:25] jdirocco commented on #412
Hi @phkrief ,
The KB properly returns the data of the project identified as n/a.
[code]
The project was imported from the metric provider platform (MPP) and the data that it collects depend on the MPP.

[2019-10-31 10:27] phkrief opened #414 "Getting an error when trying to get recommendation"
When I "Request API documentation and Q&A posts" I get an error

Unexpected error happened
eclipse.buildId=4.13.0.I20190916-1045
java.version=1.8.0_66
java.vendor=Oracle Corporation
BootLoader constants: OS=macosx, ARCH=x86_64, WS=cocoa, NL=en_US
Framework arguments:  -product org.eclipse.epp.package.java.product -product org.eclipse.epp.package.java.product -product org.eclipse.epp.package.java.p

[2019-10-31 10:33] phkrief opened #415 "No recommendation available"
I look for an example which could produce some recommendations.
For example, when I selct the following code:

And "Request code recommendation" I receive the following message:
![image](https://user-images.githubusercontent.com/6196602/67939528-0d847800-fbd2-11e9-8efc-e9ba26174e97.png)
What kind of example should I take to have a chance to get some recommendations?

Thanks a lot

[2019-10-31 13:42] creat89 opened #416 "Number of closed issues in GitLab repository (e.g. bugs.nonResolvedClosedBugs)"
I have opened this issue for future reference as well for asking the user case partners how to proceed according to their needs:

In https://github.com/crossminer/scava/issues/411#issue-514558434, it is indicated that the number of open (or not closed) issues in a specific repository doesn't match those observed in the GitLab website.

To be precise, the platforms indicates that there are 147 open

[2019-10-31 13:42] creat89 commented on #411
Hello @mhow2,

The platform is retrieving correctly the number of bugs. Two of them were updated before 2018:
![image](https://user-images.githubusercontent.com/17121539/67944774-26425d00-fbd5-11e9-9638-963fab6f4a5d.png)

I have opened another issue (https://github.com/crossminer/scava/issues/416) regarding the number of closed issues in GitLab.

[2019-10-31 14:20] phkrief commented on #412
Thanks @md2manoppello for your quick reply.
Can you confirm in this case that the problem comes from the plugin side or do you think it is another issue?
Thanks

[2019-11-01 10:36] phkrief commented on #414
Folks,
We made some investigations. It seems to be a certificate issue when accessing to the KB.
In my understanding,
1- either we ask our user to add a missing certificate into his JVM and, in this case, please send me the certificate I have to add to my **cacerts** file.
2- or try to fix it in the code of the plugin.

IMHO, the second option is the best one. Now, I don't mind testing the first o

[2019-11-01 15:36] creat89 opened #417 "Eclipse Importer not correct creating the Eclipse Forums Reader"
By curiosity I checked the importer for Eclipse Projects, to try to solve an issue of Philippe. I have found out that the importer declared a reader that is not used and doesn't correspond to the created Eclipse Forums Reader.

I'll look for a solution ASAP.

[2019-11-01 16:45] creat89 commented on #417
The problem has been solved, but in order to see the changes, the projects would need to be imported again. With these changes, I added the possibility of adding Eclipse Client ID and Eclipse Client Secret for increasing (after asking to Eclipse) the number of calls that can be done through their API.

These values must be set in the properties files with the following names:
`eclipseClientId` and

[2019-11-01 16:45] #417 closed, assigned to creat89

[2019-11-04 08:32] phkrief commented on #412
@md2manoppello Can you answer to my last comment? Thanks a lot

[2019-11-06 09:43] mhow2 commented on #416
Good catch !

So if I understand correctly:
- the code in SCAVA rely on closed_at field
- for some issues, the closed_at field is set as null.

Sounds like a good option. BTW it seems most of the issues have closed_at set to `NULL` for this specific project - I guess it was created/imported a rather long time ago. So the API is consistent in this regard.

[code]

Above we only see the most recent

[2019-11-06 09:48] mhow2 commented on #411
I mean, you could have your own opinion :) As soon as the title of the viz mention "fixed and open", it looks more consistent to me to replace "non resolved/closed" by "open". And we don't need to mention "bugs" in labels as it's easy to deduce we're talking about bugs.
So I would put labels as "open" and "fixed". Or maybe "fixed/resolved" to take into account the JIRA case wdyt @creat89

[2019-11-06 13:18] creat89 commented on #416
Hello @mhow2,

I have pushed a commit that should solve the problem with old GitLab issues. I have used the following strategy. If the issue has a _closed_ status but the _closing_at_ is null, so, I used for closing date the _updated_at_ value, which should correspond to the closing date. In that case, we should get better accuracy in the methods without considering that the issue has been closed

[2019-11-06 13:18] #416 closed, assigned to creat89

[2019-11-06 13:39] mhow2 opened #419 "scava-overview dashboard : "last facts" vs "recommendations""
Believing the screenshot, scava-overview dashboard filtered on project XWiki and sorted by date, it seems that "last facts" and "recommendations" are about the same ("recommendations" contains an additional project column).

![image](https://user-images.githubusercontent.com/9987241/68302221-df0b0f00-00a1-11ea-93f0-4416d98bfb27.png)

Is there an explanation for it ? Isn't the term "recommendation"

[2019-11-06 13:53] valeriocos commented on #419
The recommendations table shows facts about the rascal metrics. If you open the visualization you can see the list of metrics:
![captura_125](https://user-images.githubusercontent.com/6515067/68303838-f26ba980-00a4-11ea-8337-9d2e7a3bd252.png).

On the other hand, `last facts` shows the facts ordered by date.

[2019-11-06 13:53] mhow2 opened #420 ""null" value in recommendations/facts"
![image](https://user-images.githubusercontent.com/9987241/68303491-4629c300-00a4-11ea-902e-05024be89b98.png)

@valeriocos, when you get a chance, could you help sorting out why there is a `null` value here ?
XWiki project on http://beta.crossminer.org , scava-overview dashboard.

[2019-11-06 13:58] mhow2 opened #421 "explain what means COCOMO (and fix description/doc)"
@tdegueul , could you provide something that would help to understand this factoid ?
![image](https://user-images.githubusercontent.com/9987241/68304341-dae0f080-00a5-11ea-805c-74f2a6233561.png)

I can't find anything in the documentation

[2019-11-06 14:55] mhow2 commented on #419
It seems the last facts show those too, that's the point. both viz look about the same

[2019-11-06 15:19] valeriocos commented on #419
yes, because the "recommendations" are a subset of all facts. What do you suggest @mhow2 ?

[2019-11-06 15:33] phkrief commented on #414
Adding my investigations to keep track of that:
-------
ear Endre

I got the same result from my browser.
{"items":[{"owner":{"reputation":208653,"user_id":260990,"user_type":"registered","accept_rate":81,"profile_image":"https://www.gravatar.com/avatar/39acb52ff074bc477f0325f4b1960c90?s=128&d=identicon&r=PG","display_name":"Jigar Joshi","link":"https://stackoverflow.com/users/260990/jigar-joshi"}

[2019-11-06 15:34] phkrief commented on #414
Any update on this issue @phkrief @gertom ?
Thanks alot

[2019-11-06 15:57] valeriocos commented on #420
The SCAVA API of the beta instance is not accessible, I used the OW2 one.

The problem comes from the SCAVA API, for instance if we focus on `asm`, we can see that some facts are empty (http://scava-dev.ow2.org:8601/goto/e7f91332486fcdd0a9b093c3e4fa1d24). If we check the API call (http://scava-dev.ow2.org:8182/projects/p/asm/f), we can see that some factoids are empty.

[code]

[2019-11-06 17:18] creat89 commented on #420
Hello,

The null factoids were discussed here https://github.com/crossminer/scava/issues/148#issuecomment-476287442 and most of them are related to Rascal Metrics

[2019-11-06 17:32] valeriocos commented on #411
A PR is available at: https://github.com/crossminer/scava/pull/422, the new labels are "open" and "fixed/resolved"

[2019-11-07 07:54] mhow2 commented on #420
Thanks @valeriocos , @creat89
#148 is open since a so long time I forgot about it... @tdegueul can you take a look ?

[2019-11-07 11:53] creat89 commented on #410
This should be fixed now, not only for JIRA but also for Redmine and SourceForge projects.

[2019-11-07 11:53] #410 closed, assigned to creat89

[2019-11-07 12:27] valeriocos commented on #411
Fixed with #422 , thanks

[2019-11-07 12:27] #411 closed, assigned to valeriocos

[2019-11-07 12:36] mhow2 commented on #419
@borisbaldassari :
"recommendations" metrics is a subset of factoids metrics, eg rascal ones.
"last facts" contains all metrics (that includes rascal ones).

It was the result of the work in https://github.com/crossminer/scava-deployment/issues/42 and especially https://github.com/crossminer/scava-deployment/issues/42#issuecomment-470488717

I'm trying to understand how "COCOMO" can turn into a re

[2019-11-07 13:30] creat89 commented on #412
Hello @phkrief,

I'll try to help you. By checking the code of the Eclipse importer, I see that the field fullname is never is filled. This might be the value used by the Eclipse Plug-in to present the name. Do you have other Eclipse projects, imported by you, not found originally in the KB, that have the same error? If it is the case, I can modify the code of the importer and fill that field.

[2019-11-07 13:36] tdegueul commented on #420
Seems like it's definitely an issue on our side; I'll investigate.

[2019-11-08 10:45] blueoly opened #424 "Metric providers cannot be found"
In the latest deployments of the platform using the docker images, I observed that a certain Metric Provider is missing, something that did not happen previously and I have made no changes to this metric provider (Docker antipatterns metric-provider). @ambpro told me he can find it when he deploys the platform from source. So, maybe something wrong happens during the CI process.

This may happen t

[2019-11-08 16:44] ambpro commented on #252
@creat89 I pushed some fixes  related to what we discussed earlier. Can you re-test it again?

[2019-11-08 16:49] ambpro commented on #409
@mhow2 @creat89 can you reproduce this issue again?  I have pushed a fix related to the fields validation !

[2019-11-10 23:25] phkrief commented on #412
Dear @creat89 , Thanks a lot for the offer.
I  cannot reach anymore the KB at http://83.212.75.210. :-(
Actually, When I search for java, I get a time out:

![image](https://user-images.githubusercontent.com/6196602/68552616-21717a80-0419-11ea-8d54-7c9f73cdf2d0.png)

@blueoly , @borisbaldassari any idea of what is going wrong?
Thx

[2019-11-11 08:35] borisbaldassari commented on #419
@mhow2 for the sake of visual consistency, it sounds good to have them separated and not showing up twice. m2c. :-)
As for cocomo, you have to be warned that it's been debunked a couple of times and it may show really weird numbers..

[2019-11-11 08:37] borisbaldassari commented on #361
Works for me too. :-)

[2019-11-11 08:37] #361 closed

[2019-11-11 08:37] borisbaldassari commented on #345
Fixed. :-)

[2019-11-11 08:37] #345 closed

[2019-11-11 08:40] gertom commented on #412
We had the same problem with our own KB instance, a restart of the server solved the problem.

[2019-11-11 09:14] phkrief commented on #412
Dear @creat89 ,
In the meantime, I could reproduce the same issue using the OW2 server (http://scava-dev.ow2.org).
If you look for  "OCL", the Eclipse OCL project will be listed in the search but the name is not visible.
You can make the same test with EMF, Sirius, Scout, ...
Actually, If you type "Eclipse" in the search, you will see that most of the found items cannot display their name.
Thanks

[2019-11-11 09:27] jdirocco commented on #412
Dear Philippe,
I restarted the KB and the installation available at 83.212.75.210 <http://83.212.75.210/> is up.
Though the importer has been changed and the new data will be imported, Tamas can you show the shortName instead of fullName if fullName is empty or null?
Cheers,
Juri

[2019-11-11 10:09] borisbaldassari opened #425 "Selecting the right metrics for a complete dashboard"
We have an on-going discussion through emails to select the correct set of metrics in the analysis. As of today most graphics show empty data, we want to select only the metrics required to have a nice and complete dashboard while preserving the performance of the analysis.

The reference dashboard is the one maintained by Konstantinos: \
http://83.212.75.210/

The list of metrics currently select

[2019-11-11 10:48] tdegueul commented on #425
Regarding Rascal metrics:

  - For dependencies, the [dependencies dashboard](http://83.212.75.210/app/kibana#/dashboard/018fa750-7625-11e9-b4c5-9f587aee34af) apparently shows the dependencies as intended (though there are only Maven dependencies in the analyzed projects). All the other dependencies metrics do not have an associated visualization. I can create visualizations for the ones you picke

[2019-11-11 11:55] creat89 commented on #425
I cannot completely comment on this aspect as I do not use the dashboard. Maybe @mhow2 could have more recommendations.

In all the cases, regarding NLP tools that I know that they have a dashboard and that you have not selected, I could recommend:
- `org.eclipse.scava.metricprovider.historic.bugs.emotions`
- `org.eclipse.scava.factoid.bugs.channelusage`
- `org.eclipse.scava.factoid.bugs.responset

[2019-11-11 13:17] creat89 commented on #412
I have investigated the issue, and there is no field called fullName that could be set. Thus, I think the solution proposed by @md2manoppello is the best option to follow.

[2019-11-12 10:24] tdegueul commented on #421
COCOMO is a software cost estimation model (cf. [COCOMO](https://en.wikipedia.org/wiki/COCOMO)). We implemented a simplified version of COCOMO that computes the estimated person-year it took to develop the analyzed project. We use the following formula, where a<sub>i</sub> = 3.0 and b<sub>i</sub> = 1.12; that is, we evaluate all projects as semi-detached projects):

<img src="https://latex.codecog

[2019-11-12 11:08] ambpro commented on #394
The commit (8b2f760c36e39f6d82e0e42968444732fac93977) should fix this issue!

[2019-11-12 11:22] creat89 commented on #252
Hello @ambpro,

- No login: No matter whether the execution frequency is set or not, the saved object in MongoDB is still wrong. Like in https://github.com/crossminer/scava/issues/252#issuecomment-537427108
- Login: Everything is stored correctly whether the user specifies an execution frequency or not. So this is ok, except for the password field name, which it is still showing as password.

![im

[2019-11-12 11:29] creat89 commented on #421
Hello @tdegueul,

I was checking your commit 92d1e97b14a9cc69e7abb1664ae2a681becc01be by curiosity, and I found funny the fact that the description of the factoid is _COCOMO is crazy_ along with the comment _this method will be removed in a later version_. Well, I'm afraid to tell you that that method hasn't been removed, in fact it is used in the platform. Here is the proof :P

![image](https://u

[2019-11-12 11:32] ambpro commented on #252
Hello @creat89
Related to cache issue, there you go a screenshot of the documentation-systematic template form from a fresh docker instance deployed this morning!
![documentation-systematic](https://user-images.githubusercontent.com/35226648/68668292-241ebd80-0548-11ea-983c-5a1ee6906835.png)

I see that the screenshot you have attached is not 100% up-to-date as the mine.
Do you build the docker im

[2019-11-12 11:37] creat89 commented on #252
I'll deploy again the newest version, but my question would be, how can we ensure that the cache is removed? I'm using a private window, which shouldn't store the cache. I have just tried Internet Explorer and it is the same. I guess it is something related on the docker side...

[2019-11-12 11:41] ambpro commented on #252
Yes! It seems that it's related to a docker images caching and it's not related to the browser you 're using!

The command `docker-compose build --no-cache` should deal with that (I hope that :) )

[2019-11-12 12:53] creat89 commented on #252
I'm sure you'll not believe but still nothing :/

The weird thing is that I always use `docker-compose build --no-cache` and before that I have even done a system prune.

[2019-11-12 13:01] ambpro commented on #252
@aabherve could you have a check on your side about this issue ?
Thanks

[2019-11-12 13:04] MarcioMateus commented on #252
Hi @creat89 , you are using which branch of `scava-deployment`? If you are using the `dev` brach you should view the download and compilation of the web-admin code when you do the build.

Try running `docker-compose build --no-cache admin-webapp`. Do you see the building of node.js code?

[2019-11-12 13:22] creat89 commented on #252
I don't think. Because it seems that ther code for the web-admin is the old one. I'll update it and see what happens again. In all the cases, I only see this:
![image](https://user-images.githubusercontent.com/17121539/68674986-d8bbdd80-054e-11ea-8ded-ecf4553cc4ef.png)

[2019-11-12 13:33] creat89 commented on #252
Yes, everything seems to work fine and as expected. The missing lines in the docker were the problem. I'll close the issue and thanks @ambpro and @MarcioMateus

[2019-11-12 13:49] MarcioMateus commented on #424
I did the metric-platform build from the command line using `mvn clean install -DskipTests` and I also couldn't find the `org.eclipse.scava.metricprovider.trans.configuration.docker.antipatterns.DockerAntipatternTransMetricProvider` when calling `http://localhost:8182/analysis/metricproviders`. However, I found the metric providers corresponding to the Docker dependencies and smells. I checked the

[2019-11-12 14:11] tdegueul commented on #420
ebc556aa48d567b321800aa90c834e945fb0ac99 should hopefully fix the issue.

[2019-11-12 14:17] tdegueul commented on #424
I had a quick look without success. The platform indeed builds the project ([see the logs](http://ci5.castalia.camp:8080/job/scava-metric-platform/job/dev/587/consoleText)), the resulting platform ZIP file contains the associated JAR too, and the [feature.xml](https://github.com/crossminer/scava/blob/dev/metric-platform/platform/org.eclipse.scava.platform.feature/feature.xml) includes it. I have n

[2019-11-12 15:09] blueoly commented on #424
@MarcioMateus this is strange because @ambpro told me that when he built the platform from source, he could find the metric provider http://localhost:8182/analysis/metricproviders.

[2019-11-12 15:27] ambpro commented on #424
@blueoly

@MarcioMateus tested the metric-platform build manually using `maven` and `tycho` and he didn't check the code source using an IDE (as I did previously). Here you can find a screenshot of a docker anti-pattern metric from the `http://localhost:8182/analysis/metricproviders` API request
![docker-antipattern](https://user-images.githubusercontent.com/35226648/68684495-df574e80-0568-11ea-83

[2019-11-12 15:34] valeriocos commented on #419
Fixed with #426

[2019-11-12 15:34] #419 closed, assigned to valeriocos

[2019-11-12 15:36] MarcioMateus commented on #424
@ambpro, yes
I did the build without using Eclipse IDE. Only `maven`  and `tycho` on the command line, and file modifications with with a file editor.   `http://localhost:8182/analysis/metricproviders` didn't return the docker anti-pattern metric provider when running the binaries built (mac os X version).

[2019-11-12 18:05] borisbaldassari commented on #425
Hi @tdegueul , all,

Well, no: the dashboard you link to contains only 3 projects (the 2 defaults + ee4jjersey). maybe it's because of the nature of the analysed projects, and we would have more data with different projects? In that case we'll just drop this very dashboard if it's not useful for our usecase. Thanks for the tip.
Regarding the other visualisations, if it brings more insights and res

[2019-11-12 18:12] phkrief commented on #414
Any update, folks?
I'm stuck with this error and cannot move forward.

Thanks a lot for your help

[2019-11-12 18:14] phkrief commented on #414
FYI, obviously, I got the same error with the OW2 instance (http://scava-dev.ow2.org).
It confirms that the issue must be solved on the client.

Thanks

[2019-11-12 18:16] borisbaldassari commented on #425
Hi @creat89 , all,

Great! Thanks! :-)
Hum.. Just to make sure that we're all aligned here: if we add these metrics, will the show up in a dashboard? @valeriocos do you know that?

Euh.. I'm not sure to understand that. Of course not all metrics will produce a good viz. We have to select them according to that criterion (among others) I guess. AFAIU if we think that these metrics are worth it we c

[2019-11-12 18:19] borisbaldassari commented on #406
@Szamos96 You cannot enter a bug without any description or information. Please provide some logs, description of the issue or...

[2019-11-12 18:24] borisbaldassari commented on #406
@Szamos96 We don't have any information about the build #406 on the CI platform, the build runs fine.. what is your problem actually?

[2019-11-12 18:31] borisbaldassari commented on #425
@valeriocos Following up on one of your (very useful) emails ;-)

Just to make sure that we're on the same page, and I'm not missing something.. Do you mean that if we add all these metrics we have a complete dashboard? (on top of the code-related metrics discussed with Thomas of course)

### METRIC PROVIDER IDS
numberOfBreakingChanges.historic
LCC-Java-Quartiles.historic
DIT-Java-Quartiles.histor

[2019-11-13 09:08] valeriocos commented on #425
Sorry for the late reply! I missed this issue.

from https://github.com/crossminer/scava/issues/425#issuecomment-552392231

_trans.rascal.api.changedMethods_ is not shown in the dashboard.

from https://github.com/crossminer/scava/issues/425#issuecomment-553026478

The metrics will be shown in the debug dashboard if they are exposed via visualization endpoints. If you want to add one or more visua

[2019-11-13 09:53] geryxyz commented on #406
Thanks for the reminder. This issue is kinda obsolete since the reset the CI build done by @tdegueul (if I remember correctly) fixed the build process. We planned to fix any build process-related error under this issue, but we found none of those.

[2019-11-13 09:53] #406 closed, assigned to Szamos96

[2019-11-13 10:09] mhow2 commented on #425
Those are metric providers (who produces metrics, which in turn get others Ids) and the way they are displayed in the UI is by keeping only the last "dot".

`org.eclipse.scava.metricprovider.historic.bugs.bugs.BugsHistoricMetricProvider` is displayed as `bugs.BugsHistoricMetricProvider` for the sake of readability.
BTW If you hoover the metric as follow, it will reveal the full MP ID:
![image](htt

[2019-11-14 07:51] valeriocos commented on #420
@mhow2 can you check if the issue is solved on your side? thanks

[2019-11-14 07:59] valeriocos opened #428 "[eclipse forums] Failing to generate the Oauth token"
I'm analysing the project https://projects.eclipse.org/projects/iot.mosquitto, and the Oauth token to mine the eclipse forum cannot be generated. This causes the task execution to end up with an error. If I remove the forum, the execution runs smooth (http://crossminer.bitergia.net:5601/#/project/configure/iotmosquitto).

Should I configure something on my machine @tdegueul @creat89 ? (cc @borisba

[2019-11-14 08:05] creat89 commented on #428
That's an issue from our side. I'll fix asap. There must be a wrong comparison.

[2019-11-14 08:48] valeriocos commented on #428
Thank you @creat89 for the quick reply!

[2019-11-14 10:15] gertom commented on #414
@phkrief We've tried, but could not reproduce the problem. As you got the same error with a separate java app, the error seems to be in your underlying system, not in the plug-in.

[2019-11-14 10:16] creat89 commented on #428
This should be fixed with commit https://github.com/crossminer/scava/commit/1bfa5fedf60b1358cf1f0805aff98700c43cd4ab

[2019-11-14 11:09] phkrief commented on #414
Dear @gertom ,
This is not really an error, this is an issue with the StackOverflow certificate. IMHO, your code should be able to avoid it. In the meantime, I try the other option: add the missing certificate. It is not straightforward because I need to find the "famous" certificate :-)

Actually, I'm working on it today.
I will keep you posted
Thanks

[2019-11-14 12:12] phkrief commented on #414
Dear ALL
I could fix this issue.
I followed this suggestion: http://magicmonster.com/kb/prg/java/ssl/pkix_path_building_failed.html
and added the certificate attached to this comment.
So, I do confirm this is a certificate issue and it should be fixed in the plugin and not by the end-user.
Kind regards

[stackexchange-2.crt.zip](https://github.com/crossminer/scava/files/3846379/stackexchange-2.crt

[2019-11-14 12:12] #414 closed, assigned to davidediruscio, geryxyz, jdirocco, gertom

[2019-11-14 12:14] ambpro commented on #72
@assadOW2 @mhow2 any update about this issue ?

[2019-11-14 12:56] creat89 commented on #424
Hello @blueoly,

I think I know the reason because in the past I used see these issues. In the build.properties of `org.eclipse.scava.metricprovider.trans.configuration.docker.antipatterns` is not indicated that the bin  should include the file _plugin.xml_. It should be just that.

[2019-11-14 12:59] creat89 commented on #424
Commit https://github.com/crossminer/scava/commit/d9bcde31c6308fe33382f52f0edf1222edca25c0 should fix the error ;)

[2019-11-14 13:05] creat89 commented on #424
BTW, not including the _plugin.xml_ in the build.properties does not raise any error on Eclipse, but a warning. That's why it can go so easily unnoticed. As well, that's why in Eclipse it can run perfectly, but when you use the binaries the plug-in cannot be found.

[2019-11-14 13:30] MarcioMateus commented on #424
Many thanks @creat89 !!!
I confirm that this fix solved the issue on my side.

[2019-11-14 14:28] blueoly commented on #424
Ok...... Many many many thanks @creat89 !

I close the issue.

[2019-11-14 14:28] #424 closed, assigned to tdegueul, MarcioMateus, ambpro

[2019-11-16 11:31] borisbaldassari commented on #425
Hiho @valeriocos

Removed it from the list.

The deadline is the one we all have, so I guess it is set to our next meeting. I'd be interested to learn how to do that however, so I don't bother you each and every time.. ;-)

Same as before: yes, I'm interested. We'll need to find some time for that, next slot for me is next friday. Would that fit your schedule?

Done, I've [updated the list of metr

[2019-11-16 14:09] valeriocos commented on #428
The error has changed @creat89, maybe I'm doing something wrong. Can you check if the communication channels of the projects are correctly set (http://crossminer.bitergia.net:5601/#/project/configure/iotmosquitto)? Thanks
[code]

[2019-11-16 14:25] valeriocos commented on #425
Hi @borisbaldassari , next Friday is perfect (and even the days before in case your schedule changes), thanks.

[2019-11-16 14:29] creat89 commented on #428
I'll fix the fue asap.

[2019-11-16 14:31] creat89 commented on #428
The issue again is a bad comparison but on another part of the code.

[2019-11-16 14:33] valeriocos commented on #428
ok, thank you for the quick reply!

[2019-11-16 15:41] creat89 commented on #428
Commit https://github.com/crossminer/scava/commit/15901538bf7ef7b0c0c6402d10152acf35c6e0f6 should fix this. The problem was a comparison between null and "null" :/

[2019-11-18 09:14] #339 closed

[2019-11-18 09:14] phkrief commented on #339
Fixed

[2019-11-18 09:38] phkrief commented on #415
@md2manoppello Now that we can reach the KB, I'm still struggling with this feature.  Actually, I need to have written almost the whole example to get some snipped code.
What is the idea behind these snipped codes? How does it work?
Thanks for your help

[2019-11-18 09:39] phkrief commented on #413
Fixed with the version 1.15.275 rev0

[2019-11-18 09:39] #413 closed, assigned to geryxyz, gertom

[2019-11-18 09:42] phkrief commented on #386
Thanks a lot for your help @md2manoppello

[2019-11-18 09:42] #386 closed

[2019-11-18 09:59] phkrief opened #429 "KB crashed with a memory issue"
I Cannot reach anymore the KB.
@blueoly told me this is a memory issue.
Could you have a look at it?
Thx a lo

FYI: http://83.212.75.210:8080/swagger-ui.html

[2019-11-18 10:04] phkrief opened #430 ""Metric Interface" menu item doesn't seem to work"
Hi
I discovered recently this new item on the top menu:
![image](https://user-images.githubusercontent.com/6196602/69043228-f4adfc00-09f2-11ea-8b08-d7f69474b76d.png)

What is the purpose of this item?
When I try to launch it, it starts running and it blocks my Eclipse workbench forever. The only option I have is to kill the process.

Thanks

[2019-11-18 10:10] davidediruscio commented on #415
Hi @phkrief, isn't the step-by-step user guide that @md2manoppello provided you with detailed enough?

[2019-11-18 10:20] geryxyz commented on #430
If I remember correctly it is just a debugging feature and will excluded from the final version. @Szamos96?

[2019-11-18 11:15] jdirocco commented on #429
Hi @phkrief ,
I restarted the KB services and it works. In my opinion, the crashes depend on the memory available on the server. I recognized that it happens every Sunday afternoon because the KB recomputes all distance matrices. It doesn't happen in other installations (my private installation relies on a server equipped with 16Gb of Ram). @blueoly,  could you check the memory settings? I can dis

[2019-11-18 11:44] phkrief commented on #415
Hi @davidediruscio ,
Juri document is great. Now, I'm going through it to understand how everything works and, in some cases, I have a concern or a question and I need some explanation.
For example, for this recommendation, when I reach the step mentioned by Juri, I already have all my code written so I don't understand why I would need more recommendations unless Juri wants to emphasis something

[2019-11-18 11:48] phkrief commented on #429
Thanks a lot @md2manoppello .
WOuld it make sense to tell me how to restart the KB Services to avoid bothering you (every Sunday) ? ;-)
Thx again for your help

[2019-11-18 11:48] #429 closed, assigned to jdirocco

[2019-11-19 07:51] mhow2 commented on #421
Thanks for the explanation @tdegueul . As stated by @creat89 that would be useful to update the description and possibly the metric documentation.

[2019-11-19 17:07] MarcioMateus commented on #342
We detected a similar situation during some tests, where our automated process to add projects and analysis tasks using the REST API, was able to create and start analysis tasks without having any project on the database.

This lead to situations where the workers are stuck because it is not possible to analyse these tasks.

We think that CROSSMINER platform should not allow the creation of tasks

[2019-11-20 07:54] Szamos96 commented on #430
That menu item is only for debugging purposes. It will removed from the final product.

[2019-11-21 12:49] valeriocos commented on #428
Almost :)

[code]

Could you test the next fix with https://eclipse.org/mosquitto (details about the task are at: http://crossminer.bitergia.net:5601/#/project/configure/iotmosquitto)? thanks

[2019-11-21 15:08] creat89 commented on #428
So, I have found the reason and it is related to the number of calls allowed per hour. I will try to improve the current implementation of checking the validity of calls.

[2019-11-21 15:11] valeriocos commented on #428
ok, ping me when I can check it again, thanks

[2019-11-22 17:31] borisbaldassari commented on #425
We consider that the current set of metrics, as described in https://github.com/crossminer/scava-scripts/blob/master/scava_create_task.pl, will fill up the dashboard with nice graphics. We can close the issue, thank you all!

[2019-11-22 17:31] #425 closed, assigned to nobody

[2019-11-22 20:40] creat89 commented on #428
I have modified the program that was charged of dealing with the number of calls supported by Eclipse Forums. Hopefully with the current version, we will not have to deal with the previous errors, as the code will retry the call if something went wrong and we need to wait for more calls.

[2019-11-23 18:11] creat89 commented on #428
I have modified again the code and now I add two more minutes to the time that we need to wait for getting new calls. I have tested it as far but it was complex, as I have to wait one clock hour, rather than one hour since execution. I have modified the code as well to check if the call is negative numbers. Hopefully the two extra minutes will solve the issue and if we need more time, the negative

[2019-11-23 19:30] phkrief opened #432 "More StackOverFlow posts / recommendations"
Hi,
Would it be possible to list more SOF posts?
For example, we could specify in the preference the max amount of results.

Thanks

[2019-11-23 19:31] creat89 commented on #432
Which recommender are you using?

[2019-11-23 19:50] phkrief commented on #432
Actually, I realize that I don't get the same posts depending on the code. You will say, "Of course!"
Unfortunately, for our example, it is a shame.

For example if I ask recommendations on this code:
=============
package openweather.json_simple;

import java.io.IOException;

import org.json.simple.parser.JSONParser;
import org.json.simple.parser.ParseException;

public class App {

	static Strin

[2019-11-23 20:21] creat89 commented on #432
Yes, I got it. But which recommender are you using? The KB has multiple recommenders and only four are created by us,  all of them called CROSSIndex (there is one for Java, C, PHP and JavaScript). If you're using other recommenders, those are created by UDA and they are not connected to the Indexes that we generate. UDA decided to create their own indexes with specific dumps of data.

[2019-11-24 08:02] phkrief commented on #432
Oh?! In the present case, I'm calling the recommender used by the Eclipse Plugin when you select the item: "Request API documentation and Q&A posts".
Thx

[2019-11-24 08:31] phkrief opened #433 "Use the same UI for both recommenders"
It would be great if we could use the same View for presenting the recommendation results.
Actually, the Code Recommendation view is pretty cool because:
- you retrieve the code which was selected for asking a recommendation
- you keep the history of the recommendations
![image](https://user-images.githubusercontent.com/6196602/69491996-c1f57f00-0e9c-11ea-81f6-7e0c22865a3e.png)

So we could list b

[2019-11-24 09:04] creat89 commented on #432
That's a UDA recommender, so I cannot help you. I'll put Juri as the assigned to the issue.

[2019-11-24 10:12] davidediruscio commented on #432
Yes, that is how SORec works. The import statements also have a role in the selection of  SO posts.

Sent with something mobile
________________________________
From: Philippe Krief <notifications@github.com>
Sent: Saturday, November 23, 2019 8:50:27 PM
To: crossminer/scava <scava@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [crossminer/scava] More StackOverFlow

[2019-11-24 17:01] phkrief commented on #432
@davidediruscio do you mean that StackOverFlow API provides only the 5 first posts of a request?
Thanks

[2019-11-24 17:11] creat89 commented on #432
None of the recommenders is connected to StackOverflow API. All, including ours, make use of dumps. I'm sure Davide was referring to other stuff.

[2019-11-24 18:17] phkrief commented on #432
Hi @creat89 , do you mean that the StackOverFlow posts we get come from our KB? If not fro where do they come from if they don't come from a StackOverFlow API? I don't understand what you mean by "dumps"

[2019-11-24 18:21] creat89 commented on #432
Yes, the SO posts come from files that have been processed and indexed by the KB. The KB doesn't connect itself to StackOverflow servers.

And I refer to dumps to the file that every three months more or less the owners of Stack Overflow publish (a huge XML file that contains all the information from SO https://archive.org/details/stackexchange).

[2019-11-24 18:45] davidediruscio commented on #432
Hi Philippe, If you interested in how SORec works internally to produce recommendations, you can refer to chap 7 of D6.5.

[2019-11-24 19:04] phkrief commented on #432
Thx a lot @davidediruscio. I should have done that first, you are right.
So I check out the chapter 7 and discovered the Figure 23: The SOrec architecture.
I didn't realize/understand that we were filtering, analysing and indexing StackOverFlow.
Thx a lot for pointing that.
It clarifies things

[2019-11-24 19:18] phkrief commented on #432
So, let's come back to my initial demand.
With this information, I don't understand your comment "Yes, that is how SORec works. The import statements also have a role in the selection of  SO posts."
Are we limited by the number of results?
Thx

[2019-11-24 20:46] phkrief opened #434 "Time Out when "Search updates for libraries""
Unfortunately, I cannot test this feature because of this time out.
Thx for your help

io.swagger.client.ApiException: java.net.SocketTimeoutException: timeout
	at io.swagger.client.ApiClient.execute(ApiClient.java:842)
	at io.swagger.client.api.RecommenderRestControllerApi.getVersionsUsingPOSTWithHttpInfo(RecommenderRestControllerApi.java:1559)
	at io.swagger.client.api.RecommenderRestControllerA

[2019-11-24 21:00] phkrief commented on #434
FYI, I don't have this issue with the OW2 instance http://scava-dev.ow2.org
FYI @blueoly

[2019-11-24 21:20] geryxyz commented on #434
Could you please specify the exact steps you done? Sample project, server and any other settings you changed?

[2019-11-24 21:28] phkrief commented on #434
I have attached the exported project.
Steps:
- Selected the project
- In the context menu, select the item CROSSMINER > Search updates for libraries

Btw, I have the same time out issue with the other menu item CROSSMINER > Search libraries for this project.
Thanks

[jackson-core-example.zip](https://github.com/crossminer/scava/files/3884145/jackson-core-example.zip)

[2019-11-25 05:30] geryxyz commented on #434
Okay, which server do you use?

[2019-11-25 08:26] phkrief commented on #434
Hi Gergo,

The issue happens with the following instance: http://83.212.75.210

[2019-11-25 14:34] creat89 commented on #252
Hello,

I'm having this issue and I don't know what's the problem or what field is wrong:

![image](https://user-images.githubusercontent.com/17121539/69549152-a7043700-0f90-11ea-9b7a-8b75b8882724.png)

[2019-11-25 14:36] creat89 commented on #252
So, sometimes when you click wrongly the login necessary, some of the fields are expected to be filled, but those are hidden.

[2019-11-25 16:48] creat89 opened #435 "Projects, Tasks, Metrics and Reset"
Hello,

Today exploring some issues that @mhow2  and in minor degree @valeriocos raised to me, I discovered an important bug that it is affecting indirectly all the creators of metric providers.

The issue is similar to https://github.com/crossminer/scava/issues/178 and quite probable to the implemented solution.

The core issue is the fact that metrics are sometimes not executed, whether a new ta

[2019-11-26 19:13] phkrief commented on #385
Folks,
I have to switch it a bug because we need it to fulfill the requirement U115.
Sorry about that.
Kind regards

[2019-11-27 09:58] valeriocos commented on #428
The fix seems to work, the fetching of iotmosquitto eclipse forum is advancing. In the logs there are some NPE (see below), but shouldn't be a problem, right @creat89 ?

[code]

[2019-11-27 10:03] creat89 commented on #428
I'm glad that the reader is now working. But I am not glad that there are some npe. I need to check some issues that Martin asked me to check. Then I'll fix those issues in the cc.

[2019-11-27 10:04] creat89 commented on #428
Well, some metrics and factoids might not have the correct values.

[2019-11-27 10:18] valeriocos commented on #428
thanks @creat89

[2019-11-27 11:21] nnamokon commented on #318
@ambpro While checking this, I noticed an error in one of the fields I provided earlier. Could you please change the `Name` field to `NewsGroupName`.
Thanks

[2019-11-27 22:30] creat89 opened #437 "Metrics pointed in Sentiment and emotion Dashboard"
Hello,

Checking the dashboard of sentiment and emotion, I noticed that in the description it points to the old documentation:

https://scava-docs.readthedocs.io/en/latest/others/users/Scava-Metrics/

It should point to:

https://scava-docs.readthedocs.io/en/latest/user-guide/metrics/#transient-metric-providers-for-natural-language-processing

[2019-11-28 16:09] davidediruscio commented on #415
@phkrief can we close this issue?

[2019-11-28 17:20] phkrief commented on #415
Yes, we can! I'm very happy to do it ;-)

[2019-11-28 17:20] #415 closed, assigned to jdirocco

[2019-11-28 23:11] creat89 opened #438 "Communication Channels using storage might not work in Docker"
Communicational channels that use dumps were designed to create temporal files in the system temporal folder. While this work using Eclipse in our computer, this storage doesn't exist in Docker versions. Thus, it is necessary to create the files inside the storage created by Scava for each project.

I have created in commit https://github.com/crossminer/scava/commit/abc44967b2162d91d29bd7f5485b9d9

[2019-11-29 00:11] creat89 commented on #438
Now, I'm not sure it is necessary the change... The reason for not working in Docker (at least right now) was that the `plugin.xml` for Mboxes was missing from the `build.properties`. Thus, in Docker, the reader was never found. Fixed in https://github.com/crossminer/scava/commit/8b2862535495c1c95160aee9653b30c1db8d3ded

[2019-11-29 01:28] creat89 commented on #318
Hello @ampro and @nnamokon,

The change mande in https://github.com/crossminer/scava/commit/662d01a83ee86894d266010a9309159677eaf94d fixed the issue in MongoDB. The minor change is now to change the name of the field in the UI.

[2019-11-29 08:36] Danny2097 commented on #438
@creat89 I believe that they are all the readers which utilise dumps, If i remember correctly on the CC  delta based readers utilised dumps.

[2019-11-29 08:45] Danny2097 commented on #212
@nnamokon has this issue been addressed? If it has please can you close it.

[2019-11-29 09:10] davidediruscio commented on #397
I think this can be closed. @md2manoppello @phkrief isn't?

[2019-11-29 09:11] davidediruscio commented on #399
@phkrief can we close this?

[2019-11-29 10:24] davidediruscio commented on #432
Hi @phkrief we intentionally limited the results to the most 5 relevant posts. Indeed, we could add more in the results. However, let's keep the possibility of specifying the size of the results as a nice to have feature for the moment. Does it make sense?

[2019-11-29 10:30] jdirocco commented on #432
The number of so results can be set in the configuration file.
please have a look at
https://github.com/crossminer/scava-deployment/blob/c4e9501f8758ebd47773fce552b487819eaa3d2c/KB/application.properties#L23

[2019-11-29 10:33] davidediruscio commented on #432
@md2manoppello sure I know, but to allow end-users to change that parameter from the Eclipse IDE some more work is needed, which is in my opinion of not high priority for now.

[2019-11-29 12:34] creat89 commented on #438
I have updated the readers and did some improvements.

[2019-11-29 12:34] #438 closed, assigned to creat89

[2019-11-29 12:40] creat89 commented on #428
I will close the issue because the reader works now and the I couldn't replicate the issues regarding the metrics. Feel free to open new issues.

[2019-11-29 12:40] #428 closed, assigned to creat89

[2019-11-29 12:51] ambpro commented on #318
@nnamokon @creat89 the NNTP field name has been updated in the commit (3bc5352).

[2019-11-29 13:19] #210 closed

[2019-11-29 13:21] #394 closed

[2019-11-29 13:22] #251 closed

[2019-11-29 13:22] #318 closed

[2019-11-29 13:27] valeriocos commented on #428
thanks @creat89 ! @borisbaldassari feel free to test it on your side

[2019-11-29 14:55] phkrief commented on #432
yes, @davidediruscio and @md2manoppello , it works for me.
And I already identified as an enhancement. For me an 'enhancement" means 'nice to have'.
Are you OK with that?

[2019-11-29 22:07] creat89 opened #439 "NNTP reader should store the last article read"
Curently the reader tries to store the last article read from an NNTP in the MongoDB Collection. However, as far as I can determine, it is impossible to the reader to modify these entries. Thus, the reader can take a long time to read large NNTP repositories.

I commented the possible solution in:

https://github.com/crossminer/scava/commit/e0c52586ce84efe890280b68307c3b672b4216d7

[2019-11-30 22:46] phkrief commented on #399
Fixed! Thx

[2019-11-30 22:47] #397 closed

[2019-12-02 10:27] phkrief commented on #399
Actually, the error is still there on the ow2 server (http://scava-dev.ow2.org). @md2manoppello is it expected for OW2?
Thanks

[2019-12-02 10:40] phkrief opened #441 "We must restart the workbench if we change the KB server URL"
In the preferences, if we change the KB server URL, we must restart Eclipse to see the impact else the requests go on the previous server.

It is a minor issue

[2019-12-02 14:04] creat89 commented on #439
This has been solved in https://github.com/crossminer/scava/commit/e7477e25ce2cddccbbf9305a0817e5d725a2eeac

[2019-12-02 14:04] #439 closed, assigned to creat89

[2019-12-02 14:06] creat89 commented on #439
This should improve the speed of the NNTP reader as well. Because in the original implementation, it was reading everything all the possible articles. Thus, the older the NNTP the longer it took to reach the expected date. The first time it might be slow, especially if between the start of the NNTP channel and the time of the delta is large. But after the first day, the NNTP should have a consiste

[2019-12-02 14:14] creat89 commented on #336
It will take a long time to analyze as well NNTP channels if the channel is old and we are analyzing a recent date (or the gap between the first message and the one of the delta is large). With commit https://github.com/crossminer/scava/commit/e7477e25ce2cddccbbf9305a0817e5d725a2eeac I have improved the reader and now it should only take a large amount to analyze the first delta. The rest, it will

[2019-12-03 16:39] valeriocos opened #442 "[mbox] Threads analysis stopped on https://mail.gnome.org/archives/gnome-list"
An error is thrown when analysing https://mail.gnome.org/archives/gnome-list using the metric `newthreads.NewThreadsHistoricMetricProvider` from 01/01/1998 to 31/12/2018. More details at http://crossminer.bitergia.net:5601/#/project/configure/gnomelist7.

[code]

[2019-12-03 17:19] creat89 commented on #442
Commit https://github.com/crossminer/scava/commit/953284bb4c7661bde065989e0496192ef604f38e should fix the issue. The problem was a very large subject that was breaking the limit in MongoDB for a key

[2019-12-04 12:18] phkrief commented on #434
Dear @geryxyz
Any update on this issue?
Thanks a lot

[2019-12-04 12:18] phkrief commented on #412
Dear @geryxyz
Any update on this issue?
Thanks a lot

[2019-12-04 12:19] phkrief commented on #385
Dear @geryxyz
Any update on this issue?
Thanks a lot

[2019-12-04 13:04] geryxyz commented on #385
It is in the deployment queue; we ask a bit more patient. We have several higher priority tasks to complete.

[2019-12-04 14:22] phkrief commented on #385
Dear @geryxyz ,
I'm patient. I just need to have an idea of when I will be able to cover the whole scenario we were planning.
So, If you tell me later this week, this fine. Next week this is fine too. In January, this is fine as well and in all these cases, I will be able to inform Scott and Davide about our delay. If I have no date I can't organise myself.
Thx for your understanding

[2019-12-04 15:56] valeriocos commented on #442
The error has changed and now the task is marked with an error (http://crossminer.bitergia.net:5601/#/worker) @tdegueul any idea about it?

[code]

[2019-12-04 21:18] idarav commented on #385
Dear @phkrief
the newest version of the updatesite of the plug-in with the fix for this issue is available at: http://ci5.castalia.camp:8080/job/scava-ide/job/dev/lastSuccessfulBuild/artifact/eclipse-based-ide/org.eclipse.scava.root/releng/org.eclipse.scava.update/target/repository/

[2019-12-04 23:31] phkrief commented on #385
Dear @idarav,

I get the following error when I try to update the plugin:

An error occurred while collecting items to be installed
session context was:(profile=_Applications_eclipse_java-2019-09_Eclipse.app_Contents_Eclipse, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
Unable to read repository at http://ci5.castalia.camp:8080/job/scava-ide/job/dev/lastSuccessf

[2019-12-05 05:20] geryxyz commented on #385
Dear @phkrief,
Do you entered the correct url? It should be ended with /repository/ not with the jar itself? Are you able to download the mentioned jar manually? Have you tried a clean install without updating? The file is rather large, maybe you have some limitations in your network or in the Eclipse? You could also try to download the whole folder as a zip and using a local update site.

[2019-12-05 09:19] Szamos96 commented on #430
@phkrief Can we close this issue?

[2019-12-05 09:27] geryxyz commented on #412
Dear @phkrief and @md2manoppello,
Maybe I missing some information.
I think it is solved at server-side with the commit (5f0ecaab51b24fa64338234a5ca193f7903388e6) by @md2manoppello .
Could you update the server and check it again with the latest one.

[2019-12-05 09:34] geryxyz commented on #434
Since the server is not maintained by us so we can neither update nor fix it.
We also experienced this issue some times but it should be fixed on the server.
Moreover, it seems to disappear and reappear at random.

[2019-12-05 11:03] jdirocco commented on #412
Hi Gergo,
Thank gergo, it partially solves the issue. I was asking you about the usage of shortName instead of fullName if fullName is empty or null. Does it make sense?
Cheers,
Juri

[2019-12-05 11:43] phkrief commented on #385
Hi @geryxyz ,

I used the Check for update feature like I did for 1.15.275.rev0 version. As you certainly know, when you created a p2 site, the PDE Eclipse feature stores our plugins and your features as jars. Then the install feature checks the root directory of your site to retrieve the description of your features and plugins then it starts downloading the jar.
The issue seems to happen during

[2019-12-05 11:47] phkrief commented on #385
So, now I can see the license of each libray! This is great! Thx

[2019-12-05 11:47] #385 closed

[2019-12-05 11:52] phkrief opened #443 "Dependencies in a library are shown too many times"
Hi
Would it be possible to keep only once the name of the libraries when they are listed in teh dependencies section of a select library:
![image](https://user-images.githubusercontent.com/6196602/70232978-e6374280-175d-11ea-91fe-94facc9364f0.png)

Thanks a lot

[2019-12-05 11:53] phkrief commented on #443
The example I took comes from the section of the Eclipse Paho project
![image](https://user-images.githubusercontent.com/6196602/70233146-44fcbc00-175e-11ea-86eb-dcb1c40d8452.png)

[2019-12-05 11:57] phkrief commented on #412
On my side, you are right this is solved with the version 1.18.0.rev0.
I can see the name of the Eclipse project in the left section of the search:
![image](https://user-images.githubusercontent.com/6196602/70233390-c3f1f480-175e-11ea-8cbb-12d36d89a888.png)

[2019-12-05 11:57] #412 closed, assigned to geryxyz, jdirocco, gertom

[2019-12-05 11:57] jdirocco commented on #385
Dear Philippe,
I was wondering about the size of the plugin, and I had the same issue when I was installing the plugin. I used a temporary fix that allows me to install the plugin. I locally downloaded the p2 repository from here, and the plugin has been installed as a local repository. It solves the installation issue. I updated the plugin and the functionalities that I used properly work.
Cheers

[2019-12-05 12:02] phkrief commented on #385
Dear @md2manoppello

Do you know why the plugin is so big?
Thanks

[2019-12-05 12:14] geryxyz commented on #412
Yes, it makes sense but since we got some other more pressing issues we like to keep this as nice-to-have.

[2019-12-05 12:16] phkrief commented on #430
Sure!

[2019-12-05 12:16] #430 closed, assigned to geryxyz, gertom, Szamos96

[2019-12-05 12:16] tdegueul commented on #385
Dear all,

The Eclipse plug-in embeds the runtime of Rascal/M3 (`org.eclipse.scava.java.m3`, ~150MB). Diving a bit into the `org.eclipse.scava.plugin` JAR, I see the following:

[code]

These 5 files are identical, only the first one should be kept and the other removed (which would remove 500MB from the JAR). Does anyone know why we have these 5 files?

[2019-12-05 12:18] geryxyz commented on #443
We could filter out duplications but maybe it is better to be done on the server-side, so as not to send superfluous data. @md2manoppello what do you think?

[2019-12-05 12:21] phkrief commented on #443
I saw on the dashboard that when they are duplicated it comes from the fact that they have different version numbers. Is it the case here?

[2019-12-05 12:21] geryxyz opened #444 "Plug-in too big"
The Eclipse plug-in embeds the runtime of Rascal/M3 (`org.eclipse.scava.java.m3`, ~150MB). Diving a bit into the `org.eclipse.scava.plugin` JAR, I see the following:

[code]

These 5 files are identical, only the first one should be kept and the other removed (which would remove 500MB from the JAR). Does anyone know why we have these 5 files?

_Originally posted by @tdegueul in https://github.com/

[2019-12-05 12:22] geryxyz commented on #385
Thanks for the investigation, we will check it!

[2019-12-05 12:28] phkrief opened #445 "Fail to connect to /83.212.75.210:8080"
When I try to run a search I get an error. I cannot use our instance since then...

@md2manoppello is it the same issue as before?

![image](https://user-images.githubusercontent.com/6196602/70235153-99099f80-1762-11ea-9aad-33d99dbcd13c.png)

Here are my preferences, if you have a doubt:
![image](https://user-images.githubusercontent.com/6196602/70235347-12a18d80-1763-11ea-93eb-48d20bbb18e7.png)

[2019-12-05 12:30] blueoly commented on #445
Hi @phkrief

Can you try again?

[2019-12-05 12:34] blueoly commented on #445
Or not try again right now.

I am running tests to find out the source of the memory leak of the metric platform and I am the KB service crashed, even if I am not using it. I restarted it when I saw your issue but it crashed again after a few seconds.

[2019-12-05 13:20] phkrief commented on #445
Thank you so much for taking the time to investigate, @blueoly. I really appreciate.

Keep me posted and I will will try again.
Thanks

[2019-12-05 20:46] MarcioMateus commented on #421
@tdegueul , thank you very much for this improvement! Now it makes a lot more sense.

However, since most of our libraries are quiet small, the majority of them are evaluated with `0 years`.
By looking into the  code, it seems that both the [`kloc`](https://github.com/crossminer/scava/blob/17fa9ec113bd91243f598d2c6734e0c7b052960d/metric-platform/factoids/org.eclipse.scava.factoid.cocomo/src/org/ec

[2019-12-06 05:56] blueoly opened #446 "metrics produce out of memory errors"
I made some tests about the memory issues that prevented the completion of the tasks for the Eclipse/Castalia use case. I concluded to the following outcomes:

The following metrics did not presented any problem:

    "org.eclipse.scava.metricprovider.historic.configuration.docker.smells",
    "org.eclipse.scava.metricprovider.historic.configuration.docker.dependencies",
    "org.eclipse.scava.met

[2019-12-06 07:35] mhow2 commented on #446
@blueoly : the memory parameter seems to be in `/ossmeter/eclipse.ini`
But 8GB looks like already a lot of memory to me but let's see what the others have to say.

[2019-12-06 09:36] geryxyz commented on #441
We checked in the current version, both during execution and in the source and there is no indication on our side that the plug-in has to be restarted. Could you please specify your exact steps and plug-in version if the problem still present?

[2019-12-06 09:54] jdirocco commented on #445
Hi @blueoly  , @phkrief ,
I investigated why the server crashes, and the issue depends on the deployment process. The `kb-db` MongoDB container doesn't import the dump because of a mongo crash (see the listing below). The services have been rebuilt and started, but they still crash during the import step.
So, the `kb-db` service is still alive but the DB doesn't work. Consequently, the `kb-service

[2019-12-06 10:13] creat89 commented on #446
Yesterday I tested XWIKI and the metrics `number of changes` and `migration issues Maracas`. I gave to the platform 16g but after 20 days of analysis, the platform used almost all of it. I'll post some extra information I recollected once I'll be in the office.

[2019-12-06 10:14] phkrief commented on #445
Dear @md2manoppello and @blueoly,

Thank you so much, both of you, for investigating.
I really bless the decision we made when we decided to switch to an instance maintained by somebody else but us.
At least, it shows that the issues we are facing are not coming from our incompetency but from the complexity of the project and the data it has to analyze.

It was so frustrating to fill guilty when s

[2019-12-06 10:49] creat89 commented on #446
I don't know if this will help, but I arrived to get this from JavaMC:
![image](https://user-images.githubusercontent.com/17121539/70317524-d7ac6200-1815-11ea-8622-e851e0697531.png)

[code]

[code]

[2019-12-06 11:40] nnamokon commented on #212
@Danny2097 I have added this to the documentation.

[2019-12-06 11:40] #212 closed

[2019-12-06 12:59] MarcioMateus commented on #446
@blueoly,  do you know how long does it take to get the out of memory errors? Does it happens after a some minutes or after a few hours or days of execution?

If it happens after many hours/days them I think that we should not increase the memory. We would be just delaying the problem.

One docker feature that we may use is to setup a restart policy to automatically restart the oss-app  container

[2019-12-06 13:04] creat89 commented on #446
@MarcioMateus, in my experiments I ran out of memory (16g) in less than 2 hours. Moreover,  in the last 30 minutes of analysis, the platform used 5g.

[2019-12-06 13:36] blueoly commented on #446
Hi @MarcioMateus

We are talking about 2 hours of execution maximum and this if I select 2 or 3 metrics. If we combine more problematic metrics, we talk about minutes.

[2019-12-06 14:07] idarav commented on #444
Solved. Build is now 346 MB

[2019-12-06 14:07] #444 closed, assigned to geryxyz, gertom, idarav

[2019-12-06 14:08] idarav commented on #385
Solved. Build is now 346 MB

[2019-12-06 14:22] blueoly commented on #445
@phkrief As I finished with my experiments, I restarted the whole instance.

The issue is not addressed but now you will be able to connect to the instance.

[2019-12-06 14:25] MarcioMateus commented on #446
That's very worrisome.

Right now we are not imposing any memory limit to containers. So, as say by @mhow2, to increase the maximum memory of the oss-app we should /ossmeter/eclipse.ini file.

We cam probably add a variable to the docker-compose file to define the max memory for eclipse, and then edit the eclipse.ini file before launching the app.

[2019-12-06 14:32] blueoly commented on #446
@MarcioMateus do you know the appropriate variables/parameters we should add to docker-compose about eclipse? -vmargs -Xmx16G will do the job?

[2019-12-06 15:01] tdegueul commented on #446
This is very worrisome indeed, and I apologize for the inconvenience caused by our metrics.

@blueoly Could you give me the URL of the projects you are attempting to analyze? Thank you very much for your efforts.

[2019-12-06 15:12] blueoly commented on #446
Hi @tdegueul There is no need to apologize. We all have caused problems to the platform from time to time. And we are not sure if there is a leak or your metrics really need more RAM.

The details of the project are the following:

http://www.eclipse.org/sirius

VCS Repositories :
https://github.com/eclipse-sirius/sirius-components
https://github.com/eclipse-sirius/sirius-specs
git://git.eclipse.o

[2019-12-06 15:33] MarcioMateus commented on #446
@blueoly

Right now there is none. I would need to implement the support for that variables first

[2019-12-06 17:33] MarcioMateus commented on #446
@blueoly , actually I may am unnecessarily complicating things.

I think that if you add `,"-vmargs","-Xmx16g"` to the end of the  `entrypoint` in the `oss-app` service, you will override the settings on the eclipse.ini file.

You should have something like the following command to run the platform with a max heap size of 16GB
[code]

[2019-12-06 17:49] phkrief commented on #445
Dear @blueoly ,
Actually, when I try to launch a simple search, I get a timeout:
![image](https://user-images.githubusercontent.com/6196602/70343973-e0725780-1858-11ea-89c8-9f23556cc3b3.png)
On the other hand, I can reach http://83.212.75.210:8080/swagger-ui.html
So I don't know how to interpret this error.
Thanks

[2019-12-06 17:51] jdirocco commented on #445
Hi Philippe,
The new version of the plugin includes the timeout setting.
Please set it as a bigger value.
Cheers,
Juri

[2019-12-06 17:57] phkrief commented on #385
Indeed! It is much faster to install :-)... I could directly install the new release 1.20 on my machine...

So what was the issue, @idarav ? Why the plugin was so huge?

[2019-12-06 18:01] phkrief commented on #445
Actually, I just installed the new version @md2manoppello and I get another error:
![image](https://user-images.githubusercontent.com/6196602/70344736-b5890300-185a-11ea-96d6-a77b2016c2ee.png)

and the log says:

Any idea ?

[2019-12-06 18:03] phkrief commented on #445
The message associated is:

[2019-12-06 18:04] jdirocco commented on #445
Yes the AUEB installation is again down. :(

[2019-12-06 18:06] phkrief commented on #445
Do we have idea from which component it comes from?

[2019-12-06 18:14] jdirocco commented on #445
Yes, We identified the issue. It is relative on a mongoldb container that crashes during the dump restore process.
From my point of view, this is specific to AEUB installation because I completely reinstalled all CROSSMINER infrastructure on my VPN and it works.

[2019-12-06 18:18] phkrief commented on #445
I still don't understand why some instances works and some others don'. And why we cannot compare both configurations to solve the differences.

Do you have an idea of the main differences between your instance and AEUB but yours is sitting in Italy and Konstantinos' is sitting in Greece ;-)?

[2019-12-06 18:20] phkrief commented on #441
Dear @geryxyz ,
I'm not talking about the server here. I'm talking about the Eclipse IDE that I have to restart when I change the preferences.
Kind regards

[2019-12-06 18:39] geryxyz commented on #441
Yes, I understand it (my bad, I meant the plug-in), but it is not required at the plug-in side. We cannot reproduce this on our side. We are able to change the server url without restarting the Eclipse. Please specify the exact steps you made and the client version you used.

[2019-12-07 08:20] davidediruscio commented on #446
Can we avoid analysing Sirius (at least to complete the Eclipse use case)? I remember we had problems also in the past.

[2019-12-07 23:11] blueoly commented on #445
I pulled the latest scava-deployment repo with the latest changes from @md2manoppello , and after that the kb-service seems to work without crashes.

[2019-12-08 01:40] blueoly commented on #446
@davidediruscio I had the same behaviour when I analysed XWIKI and Eclipse Sphinx, even if I increased the memory of metric platform to 12 GB. But I think that the out of memory error was produced when the total memory of the system was used and there was no more to allocate. But the platform crashed even for Sphinx, which is a relatively small project and the memory that metric platform was using

[2019-12-08 08:56] borisbaldassari commented on #446
Just for the records, the projects analysed on the aueb instance (and failing) are `iot.hono` and `technology.jgit`. They are far smaller than sirius (resp. 60K and 223K SLOC vs. 773K SLOC for sirius).

[2019-12-08 10:57] idarav commented on #385
I'm glad to hear!

It was so huge, because everytime the Jenkins started a building, it download one of our dependecy libararies from an URL without checking if it's already been download, so a lot of copies was created of that jar (which is ~150MB). And then, at the last stage all of those copies was archived into the final JAR

[2019-12-08 11:09] idarav commented on #434
Dear @phkrief
The latest version ( 1.21.0.rev0 ) has a new Preference page (Request timeouts) where you can adjust the timeout values for your needs

[2019-12-08 11:11] idarav commented on #443
Dear @phkrief
I've added some filtering for the dependencies of projects so they won't appear multiple times
 ( 1.21.0.rev0 )

[2019-12-08 11:32] phkrief commented on #385
Thx a lot for your great help, @idarav. I really appreciate

[2019-12-08 11:33] phkrief commented on #445
I works nicely now... Thanks a lot, dear @blueoly

[2019-12-08 11:33] #445 closed, assigned to jdirocco, gertom

[2019-12-08 11:42] phkrief commented on #434
I just tested against the new version (1.21.0.rev0) I still get an error:
![image](https://user-images.githubusercontent.com/6196602/70388866-f2b6d780-19b7-11ea-8e7f-37b36bfc5ede.png)

The message is:
Swagger client exception details:
Error code: 500
Response headers:
 Content-Type
  application/json;charset=UTF-8
 Transfer-Encoding
  chunked
 Date
  Sun, 08 Dec 2019 11:40:15 GMT
 Connection
  clo

[2019-12-08 11:46] phkrief commented on #434
FYI, I tried with the OW2 instance, and the answer is almost immediate.
I also tried to change the timeout w/o success

[2019-12-08 11:46] idarav commented on #434
the part

says that something on the server side went wrong, so I think it is a server (knowledge base?) related issue and not a client/plug-in side related anymore. What do you think @md2manoppello  ?

[2019-12-08 11:50] phkrief commented on #434
We retrieve the kind of error in #445 : https://github.com/crossminer/scava/issues/445#issuecomment-562676737

[2019-12-08 11:53] phkrief commented on #434
I have the impression that the KB crashed again because I cannot even reach the search:

Swagger client exception details:
Error code: 500
Response headers:
 Content-Type
  application/json;charset=UTF-8
 Transfer-Encoding
  chunked
 Date
  Sun, 08 Dec 2019 11:52:02 GMT
 Connection
  close
 OkHttp-Sent-Millis
  1575805891605
 OkHttp-Received-Millis
  1575805922079
Response body:
{
  "timestamp": 1

[2019-12-08 12:13] blueoly commented on #434
The metrics platform container crashed. I restarted it. The KB service was intact.

[2019-12-08 17:04] creat89 commented on #442
I guess  you issue has been solved, so I'll close it. If you face again an issue, don't hesitate in opening it again.

[2019-12-08 17:04] #442 closed, assigned to nobody

[2019-12-08 17:14] phkrief commented on #434
I couldn't try it before.  Now, the search doesn't work against http://83.212.75.210

[2019-12-08 17:19] phkrief commented on #441
The last tests I made against the ow2 instance could not reproduce this issue.
Thanks a lot

[2019-12-08 17:19] #441 closed, assigned to geryxyz, gertom, Szamos96

[2019-12-08 17:22] blueoly commented on #434
@phkrief  Everything is up and running in the instance.

[2019-12-08 21:20] phkrief commented on #434
Thx @blueoly
@md2manoppello  I can reach and search against the ow2 instance but I can't against http://83.212.75.210.  Can you double-check, please?
Thanks

[2019-12-09 13:27] #100 closed

[2019-12-09 13:31] #99 closed

[2019-12-10 10:48] creat89 opened #447 "Internal Server Error if visualization json too large"
The platform will return an Internal Server Error when we requested  visualization file is very large. Currently, we have found that the historic metrics regarding topics can generate json files that are too large. For example, it can generate files of 9MB after just analyzing a few months. While, we can reduce the amount of data presented in  the visualization file, this would affect the data ava

[2019-12-10 11:16] valeriocos commented on #447
please find the log of the errror (if this can be of any help) that pops up when importing the data to ElasticSearch
[code]

[2019-12-12 13:02] creat89 commented on #442
The issue indicated in https://github.com/crossminer/scava/issues/442#issuecomment-561708307 is related to the creation of visualization files. And it might be related to https://github.com/crossminer/scava/issues/447

[2019-12-13 10:16] borisbaldassari opened #448 "Displayed project id is wrong"
In the workers page the name displayed for the project is the one of the task. As an example when creating project iot.hono it is registered as id iothono. Its associated task is registered as iothono_task and yet the display shows iothono_task instead of iothono for project.

![Capture du 2019-12-13 11-14-16](https://user-images.githubusercontent.com/5849071/70792644-fa9cc000-1d99-11ea-9ff3-f490a

[2019-12-13 16:53] borisbaldassari commented on #446
Adding memory solved the issue - the analysis process is indeed huge.

[2019-12-13 16:53] #446 closed, assigned to tdegueul, MarcioMateus

[2019-12-13 16:57] borisbaldassari commented on #420
I'm sorry but as far as I can tell the issue can still be seen in the recent updates.
@valeriocos @mhow2 do you confirm?

[2019-12-15 13:02] phkrief opened #450 "Missing license during the install"
During the installation of the plugin, it will be great to mention the license of the plugin instead of accepting an empty page.
thx

![image](https://user-images.githubusercontent.com/6196602/70862984-76863c00-1f43-11ea-9b0b-b4d1a726f8c8.png)

[2019-12-16 08:15] mhow2 commented on #420
Sorry for the delay @valeriocos
Well, it's hard to tell if the issue is solved on my side because I'm not wiping the ES data, I'm just updating it with new material as I don't want to loose anything of the history. (said differently, I haven't destroyed the kibiter container since a very long time).

[2019-12-16 08:23] creat89 commented on #420
I don't know which is the mapping that it is being used by the factoids in Kibana/ES, which are the recommendations and facts, but if for whatever reason the ID of the entry is `null`, it will never disappear, but another entry should appear. The reason is that ES might not be possible to find the entry to update.

[2019-12-16 14:03] valeriocos commented on #420
Based on the `null` value that appears at http://scava-dev.ow2.org:8601/goto/de347159f8e8f4b7a9617c537fcc358e for the project `RocketChat` in date `20191103`, I have set up an analysis (http://crossminer.bitergia.net:5601/#/project/configure/RocketChat) on the Bitergia instance.

I'll report on the results as soon as the analysis is over.

[2019-12-17 07:30] valeriocos commented on #420
The error is still there:

![captura_171](https://user-images.githubusercontent.com/6515067/70974153-66876d00-20a7-11ea-864a-3133c7aeb0f6.png)

[2019-12-17 12:39] mhow2 commented on #447
Is it the same as this one ? (looks to, but not the same metric):
[code]
The other problem is it seems to interrupt the import of the other projects/metrics (but we already observed that, @valeriocos )

[2019-12-17 12:59] valeriocos commented on #447
As you said, not really the same bug since the endpoint is different, but the cause (huge data exposed) is probably the same.

In case the error cannot be fixed, I can provide a workaround to keep importing the remaining data.

[2019-12-17 14:37] creat89 commented on #447
Idk, who would need to fix the issue. The main thing is that, we would need to implement a pagination system. And that might change completely how things are things are read.

[2019-12-17 17:12] mhow2 commented on #447
Are you saying that... it is the same issue ? :D
I just deleted the concerned project for now...

Yes @creat89 , I think it's not the time to implement pagination. Anyway, as @valeriocos said what we are seeing is the cause, not the bug eg. why the MP - even if it's ""huge"" - isn't able to the expose the json data.

[2019-12-18 09:19] creat89 commented on #420
I checked the code to try to help you, but I couldn't find anything that could trigger a null. As you can see in https://github.com/crossminer/scava/blob/dev/metric-platform/metric-providers/org.eclipse.scava.metricprovider.trans.rascal.LOC/src/LOC.rsc the text is defined and sent to the function `factoid(txt, starts)`

[2019-12-18 09:24] valeriocos commented on #420
Thanks @creat89 , I'm going to check if the error is on the scava2es importer and report back to you.

[2019-12-18 11:12] valeriocos commented on #420
The error isn't in the scava2es. Find below the endpoints with `null` value. @tdegueul, I can easily filter such values during the migration from scava to ES (if needed).

endpoints:
- http://crossminer.bitergia.net:8182/projects/p/RocketChat/f/trans.rascal.CC.java.CCJavaFactoid
- http://crossminer.bitergia.net:8182/projects/p/RocketChat/f/trans.rascal.LOC.codeSize
- http://crossminer.bitergia.net