[2018-04-04 20:26] borisbaldassari opened #1 "Tests fail for knowledge base component"
In directory `knowledge-base/org.eclipse.scava.knowledgebase`
When I run `mvn test` I get the following error:

[code]

[2018-04-04 20:28] borisbaldassari commented on #1
Link to error report:
http://ci5.castalia.camp:8080/blue/organizations/jenkins/scava/detail/jenkins/10/pipeline/17

[2018-04-09 16:28] tdegueul opened #3 "Refactoring from Ossmeter to Scava breaks the MongoDB dump"
The MongoDB dump currently used in the Docker images explicitly references Ossmeter's types (typically through the `_type` field in collections, eg. `"_type" : "org.ossmeter.repository.model.github.GitHubRepository"`).

These should be updated to match Scava's new names, eg. `"_type" : "org.eclipse.scava.repository.model.github.GitHubRepository"`.

[2018-04-13 12:10] MarcioMateus opened #5 "Hard-coded access to 127.0.0.1:27017"
In docker deployment, the following exceptions appear:

[code]

[2018-04-21 05:42] borisbaldassari commented on #1
Instructions to test this component: https://github.com/crossminer/scava/wiki/Testing-Guidelignes

[2018-04-21 05:42] #1 closed

[2018-05-09 14:03] geryxyz opened #9 "OpenAPI specification for SCAVA"
We have started to working on the openAPI specification of the communication, based on the document you have sent and our previous implementations. We merged them to try to maintain the current functionalities of the plugin, so we have added some more new paths and models over the ones you have proposed. Currently, as far as we know the generator - which can create our client from the specificatio

[2018-05-09 14:16] geryxyz commented on #9
Dear @md2manoppello , @davidediruscio and @aabherve ,
please check our prototype implementation. We appreciate any constructive opinion.
Feel free to add (mention), or involve any other interested parties.

[2018-05-15 09:29] davidediruscio commented on #9
@md2manoppello will shortly push the OpenAPI specification related to the methods of the KB. However, according to https://github.com/crossminer/scava/wiki/API-Gateway-Component only one client should be generated (to be used e.g., by the IDE) and should only refer to the methods of the API Gateway. Isn't?

[2018-05-15 14:38] md2manoppello commented on #9
We have integrated Swagger and OpenApi specification on KB (accessible rispectively at /swagger-ui.html and /v2/api-docs). Now, KB automatically generate OpenAPI specification and swagger interface.
We attached the generated OpenAPI specification (api-docs.json) and generated java client (KB_client.zip).
[KB_OPENAPI.zip](https://github.com/crossminer/scava/files/2005405/KB_OPENAPI.zip)

[2018-05-16 08:37] geryxyz commented on #9
@md2manoppello Thanks for the information. We will check your implementation, and if everything fine began to integrate into the plugin. How are we able to run the current version of the KB to test the integration? The tutorial at https://github.com/crossminer/scava/wiki/Docker-Ossmeter is up-to-date? Or do you have a more recent docker image at bay?

[2018-05-16 15:42] borisbaldassari commented on #9
Not sure if that helps, but the KB is built on Jenkins and tests are run [1], so you might be able to peruse the process described in the Jenkins files [2].

[1] http://ci5.castalia.camp:8080/job/scava-knowledgebase/
[2] https://github.com/crossminer/scava/blob/dev/knowledge-base/org.eclipse.scava.knowledgebase/Jenkinsfile

[2018-06-08 07:47] gertom opened #13 "User activity monitoring"
Implement user activity monitoring in the Eclipse IDE.

[2018-06-12 10:44] borisbaldassari opened #14 "Tests fail for metric-platform"
When we run mvn install, tests fail. When we run mvn package it works.
Please fix the tests for the metric-provider component.

[2018-06-13 17:30] MarcioMateus opened #15 "Webapp - Error when adding a new project"
When adding a new project using the old OSSMETER web app I received the following message in the browser:

[code]

Nevertheless, the project was successfully added to the database and metrics are being computed for it.

[2018-06-13 19:04] MarcioMateus commented on #5
Solved in commit 3055c583657533322b6d32cfcedba2edcf05eeaf

[2018-06-13 19:04] #5 closed

[2018-08-07 19:41] MarcioMateus commented on #15
Issue no longer exists on current versions

[2018-08-07 19:41] #15 closed

[2018-09-06 14:15] lmove opened #27 "No project deltas issue with historic Rascal metrics"
When no project delta is detected by Scava, rascal metrics are not recomputed (check `compute` method in `RascalMetricProvider` class, [here](https://github.com/crossminer/scava/blob/dev/metric-platform/platform-extensions/org.eclipse.scava.platform.metricmanager.rascal/src/org/eclipse/scava/metricprovider/rascal/RascalMetricProvider.java#L225)). This causes that historic metrics such as `commitsT

[2018-10-09 13:15] borisbaldassari commented on #14
Works as of 2018-10-09.

[2018-10-09 13:15] #14 closed

[2018-10-10 17:31] borisbaldassari opened #35 "Add legal documentation to repository"
Add legal documentation files to the repository root, as described in
https://www.eclipse.org/projects/tools/documentation.php?id=technology.scava

Also improve the README file with some information.

[2018-10-12 14:06] #35 closed

[2018-10-13 10:51] borisbaldassari opened #38 "Add links to documentation"

[2018-10-25 09:32] md2manoppello opened #41 "is mingration a typo?"
@MarcioMateus
https://github.com/crossminer/scava/blob/e8cdc23b9feedd3838c4c097da4f0ecc76fee906/metric-platform/releng/org.eclipse.scava.configuration/pom.xml#L43

[2018-10-25 11:38] tdegueul commented on #41
It used to be a typo in the directory structure itself, but we fixed it. The typo you meantion in the POM file hasn't been caught since it was only used at the very beginning to generate default `pom.xml` for every plugin. But you can safely fix it ;)

[2018-10-25 13:08] #41 closed

[2018-10-25 13:09] md2manoppello opened #43 "Eclipse importer doesn't work"

[2018-10-25 13:21] #43 closed

[2018-10-26 09:18] kolovos opened #45 "Incorrect package hierarchy for Crossflow projects"
The package hierarchy in some of the Crossflow projects seems to be starting with just "crossflow" as opposed to "org.eclipse.scava.crossflow".

[2018-10-29 10:15] gertom opened #47 "Upgrade IDE Integration services and Developer activity monitoring implementation"

[2018-11-06 08:58] geryxyz opened #49 "Clean up legacy code from plug-in"

[2018-11-06 09:31] #49 closed

[2018-11-08 09:41] md2manoppello opened #52 "Disable the import of eclipse parent project"
it is related to issue #43

[2018-11-08 09:48] #52 closed

[2018-11-08 15:20] #38 closed

[2018-11-19 11:52] mhow2 opened #55 "import projects from URL : GitLab"
As seen in the UI:

As our use case is about GitLab for issues, would it be possible to add it ? @yannisKork and his team will provide miners for GitLab.

[2018-11-20 15:00] mhow2 opened #56 "project/create form issue with field validation and/or submit"
When you fill this form, if you don't do it exactly as it's expected to, like leaving any field empty and hit "Save", the button turns grey out and nothing happen.

When I take a look at the logs, I see errors like:

[code]

[2018-11-20 15:35] mhow2 opened #57 "New Analysis Task : form / "save" button not working propertly"
In the form view "New Analysis Task" within the Admin UI.
When you hit the save button without filling all the required fields beforehand, the button turns grey and nothing more happen. To retry, the only workaround is to click "projects" in the left panel and fill it as it needs to (btw we don't know which are mandatory fields).

[code]

[2018-11-21 12:30] ambpro commented on #56
Please provide a reproduction scenario in order to investigate the issue!

[2018-11-21 12:59] mhow2 commented on #56
@ambpro : it's not as it wasn't easy to reproduce : " leaving any field empty and hit "Save", the button turns grey out and nothing happen."

[2018-11-21 13:33] tdegueul commented on #55
Hi @mhow2,

We indeed need some support for GitLab. I haven't developed a forge connector myself yet, but here are some pointers on how it is done for GitHub:

https://github.com/crossminer/scava/tree/master/metric-platform/platform-extensions/org.eclipse.scava.repository.model.github
https://github.com/crossminer/scava/tree/master/metric-platform/platform-extensions/org.eclipse.scava.repository.m

[2018-11-21 15:34] md2manoppello commented on #55
I implemented all the forges importers on ossmeter platform.
Read it if you are unfamiliar to Pongo and how to generated ODM classes form metemodels (object document mapper).
The first pointer point to a folder that contains the generated files by Pongo (https://github.com/kolovos/pongo) .
Pongo takes metamodel (both .ecore and .emf files are allowed) as input and generates the ODM classes.
In thi

[2018-11-21 15:38] md2manoppello opened #58 "Integrate CLARA and Kmedoids clustering algorithms"

[2018-11-21 17:12] ambpro commented on #57
@mhow2  I fixed the issue:)

[2018-11-21 17:42] borisbaldassari commented on #57
@ambpro hey cool, what did you do, how can we get the fix? Facing the same problem here. :-)

[2018-11-22 08:11] mhow2 commented on #56
Here is [a video](https://nextcloud.ow2.org/index.php/s/sxeK2sbP5RbbrBf) that demonstrate the behavior I am observing. (The video might not play in the embeded player and have to download the file locally.)

[2018-11-22 08:29] mhow2 opened #60 "new project with VCS (git) URL : no metric in mongodb"
Yesterday, I realized that the project I've been provisioning in the admin was not appearing in mongo db.
I used the Projects > Create project > Filled the CVS URL with https://gitlab.ow2.org/sat4j/sat4j.git
The project is added in the UI with no error.

Then in the mongodb shell:

[code]
With @tdegueul we think the source code is even not checked out.

[2018-11-22 08:41] ambpro commented on #57
@borisbaldassari the fix is committed and merged in the dev branch ([here](https://github.com/crossminer/scava/commit/58560b199d87a09737849929fffc78b96d52e77e))

[2018-11-22 08:45] ambpro commented on #56
Okey @mhow2, I will investigate the problem :)

[2018-11-22 09:51] mhow2 commented on #57
Thanks @ambpro !
In case you're not aware about, you can also mention an issue with #57 in the commit message so it gets automatically mentioned in the issue here.

[2018-11-22 12:11] mhow2 opened #61 "signup form : success message but mail is not sent successfully"
Hi,

I'm writing about that [screen](https://nextcloud.ow2.org/index.php/s/WQLYkc6xydAcNfn/preview)

At the same time I get in the logs:

[code]

So it tells us the mail sending has failed : the UI might reflect that is some way.

[2018-11-22 12:17] ambpro commented on #61
@mhow2 could you provide the config file of SMTP mail service?

[2018-11-22 16:03] mhow2 commented on #61
Yes of course, it is the one shipped within scava-deployment repo in [dashboard-plus-admin/auth/application.properties](https://github.com/crossminer/scava-deployment/blob/dashboard-plus-admin/auth/application.properties)

[2018-11-23 14:41] ambpro commented on #61
@mhow2 I coudn't reproduce this issue either locally or on aws instance using the default provided config.

[2018-11-26 12:47] mhow2 opened #62 "OSGi metrics not available at /metrics endpoint"
As stated by @tdegueul :

[2018-11-29 10:44] mhow2 opened #63 "admin ui : project added but not showing up"
This morning, I have deployed the docker distribution based on latest version of `dashboard-plus-admin` branch. I reached _Projects > Import Projects_ and added https://github.com/docdoku/docdoku-plm.

At a first glance on submit it looks to work fine, I'm redirected to the project list as usual. The problem is I don't see the project in the list.

I've been investigating by looking into mongodb:

[2018-11-29 11:13] mhow2 opened #64 "Cannot delete a project"
Once a project is registered, it's not possible to remove it.

[2018-11-29 11:47] mhow2 commented on #62
It seems to be available at `/raw/metrics` as found by @tdegueul :

Back to the OSGi metrics not showing up, I've found the issue. Using the API, they are not listed under `/metrics`, but they are in `/raw/metrics` (@mhow2 can you quickly check please?). The difference is that raw metrics do not necessarily have a _visualization_ attached. My understanding is that the visualization is now taken ca

[2018-11-30 12:32] #56 closed

[2018-12-03 11:50] mhow2 opened #65 "the signup form does't show validation errors on submit"
From `/signup`, when I type less than 4 characters in the password fields and click submit, nothing happen.
In the background, I'm able to see the following response from the server:

`
{"timestamp":1543837526352,"status":400,"error":"Bad Request","exception":"org.springframework.web.bind.MethodArgumentNotValidException","errors":[{"codes":["Size.managedUserVM.password","Size.password","Size.java.

[2018-12-03 12:04] mhow2 commented on #61
this is strange. I cannot reproduce 100%. I got it working once today, ever others attempt led to  the original report.

[2018-12-04 16:31] #61 closed

[2018-12-04 16:53] ambpro commented on #60
I arrived to import the https://gitlab.ow2.org/sat4j/sat4j.git project successfully and store it on the mongodb databaseas as shown here
<a href="https://ibb.co/MB7GC9p"><img src="https://i.ibb.co/MB7GC9p/sat4j.jpg" alt="sat4j" border="0"></a>

[2018-12-04 16:58] ambpro commented on #63
The https://github.com/docdoku/docdoku-plm project is imported successfully on both the mongodb database and shown on scava dashboard UI:
<a href="https://ibb.co/g4gvXD1"><img src="https://i.ibb.co/g4gvXD1/docdoku-plm.jpg" alt="docdoku-plm" border="0"></a><br>
<a href="https://ibb.co/N24hkWJ"><img src="https://i.ibb.co/N24hkWJ/docdoku-plm-dtabase.jpg" alt="docdoku-plm-dtabase" border="0"></a>

[2018-12-04 17:04] ambpro commented on #64
We aim to deliver a _**delete-project feature**_ in a future release of the scava-dashboard !

[2018-12-05 08:08] mhow2 commented on #63
hi @ambpro, but what did you do to make it working ?

[2018-12-05 08:45] mhow2 commented on #63
@ambpro : but it seems you didn't have any existing project when you did your test.
Could you try on our instance please ?  http://wacke.ow2.org:5601

[2018-12-05 08:47] mhow2 commented on #60
Currently, I cannot try to reproduce the issue because I'm blocked with #63

[2018-12-05 09:05] ambpro commented on #63
Nothing special, I follow the traditional process to import a project and there you go!
About the existing project, I ignored the dump restore process in the docker build time because it take a lot of time.

[2018-12-05 10:34] #65 closed

[2018-12-05 12:09] MarcioMateus commented on #63
@ambpro I would like to have you testing the import of a new project with the data dump. Something is not working as expected.

I imported a new project and a record project record was creates in ´scava´ database under the ´projects´ collection.

However, this new project does not appear on the adminstration-dashboard which makes impossible to start the analysis process.

A slight off-topic questi

[2018-12-05 15:38] ambpro commented on #62
Hi @MarcioMateus, when I checked the `/raw/metrics` rest API on the docker deployment I got 268 metrics while the api returns 306 metics locally.
I think some metric providers missed on the packaging plugins [(here)](http://ci5.castalia.camp:8080/job/scava-metric-platform/job/dev/lastSuccessfulBuild/artifact/metric-platform/releng/org.eclipse.scava.product/target/products/) or  the plugins didn't

[2018-12-05 15:45] tdegueul commented on #62
Hey @mhow2 @ambpro,

I had a deeper look yesterday.

`/metrics` is built from https://github.com/crossminer/scava/blob/edd43eb327405ef531501e5c9f879977ee43ac3b/metric-platform/platform/org.eclipse.scava.platform.client.api/src/org/eclipse/scava/platform/client/api/MetricListResource.java and `/raw/metrics` is built from https://github.com/crossminer/scava/blob/edd43eb327405ef531501e5c9f879977ee43a

[2018-12-05 15:54] davidediruscio commented on #62
Hi Thomas,

i.e. /raw/metrics lists *every* metric provider while /metrics only lists

Yes, I agree such a distinction does not make any sense now. If I had to
choose I would keep only the url /metrics showing all the metric
providers.

Thanks!
Davide

--
-------------------------------------------------------------------------------------------------------------
Davide Di Ruscio, PhD in Computer

[2018-12-05 16:12] ambpro commented on #62
041a2ec
 <041a2ec>
 yesterday, and they now appear in /metrics. I'll need more time to
 provide visualizations for every OSGi/Maven metric though.
 In the meantime, I think this can be marked as solved.—
 You are receiving this because you are subscribed to this thread.

Visualization are still used by Bitergia dashboards ? I think not.

can we keep the /metrics service an replace his implementati

[2018-12-05 16:21] tdegueul commented on #62
It's tricky. To the best of my knowledge, the dashboards do not use the information about visualization that is available at `/metrics`, *but* the Perceval importers expect data that conforms to the format offered by `/metrics`, which is different from `/raw/metrics`. Also, `/raw/metrics` misses some necessary information (e.g. ID of the metric).

So, imho, we should:

1. Remove `/raw/metrics`
2.

[2018-12-05 16:38] #58 closed

[2018-12-06 07:55] mhow2 commented on #62
agree

This could be something for @valeriocos isn't it ?

[2018-12-06 08:42] #63 closed

[2018-12-06 09:06] mhow2 commented on #57
Hi @ambpro, deployed again this morning. What am I doing wrong ? The "save" button is still greyed.

![screenshot_2018-12-06 crossminer administration 1](https://user-images.githubusercontent.com/9987241/49573563-92253280-f93e-11e8-9ecf-51a98ce163f8.png)

[2018-12-06 09:10] ambpro commented on #57
Hello @mhow2, I guess it's because the whitespace between words on the label name

[2018-12-06 09:35] ambpro commented on #57
@mhow2, I can provide a hotfixing quickly by allowing whitespace on the HTML inputs.

[2018-12-06 12:12] mhow2 commented on #60
As of today, when reproducing I'm able to get some metrics in the dashboards so I assume it's fixed. (but notice it's not specified here how the problem has been solved).

[2018-12-06 13:00] assadOW2 opened #72 "Admin UI / Interrupt not working"
When we execute one task and it doesn't complete, it is not possible to interrupt it.

![screenshot from 2018-12-06 11-54-06](https://user-images.githubusercontent.com/32927819/49585583-0a9beb80-f95f-11e8-8ab9-e2c4747c97fe.png)

And when we want to execute a new task, the status doesn't change from "PENDING_EXECUTION".

![screenshot from 2018-12-06 12-00-25](https://user-images.githubusercontent.c

[2018-12-06 16:20] ambpro commented on #60
I never was able to reproduce this issue.

[2018-12-06 18:01] mhow2 commented on #60
OK, so closing !

[2018-12-06 18:01] #60 closed

[2018-12-07 10:17] mhow2 opened #74 "error 500 on 8086/administration/projects"
## context and first indications
Yesterday, I have deployed a scava instance from scratch.

this morning, I got to the admin UI. First I've been able to find my way to the projects list but then bumped on an error when try importing a new one:

![screenshot_2018-12-07 crossminer administration](https://user-images.githubusercontent.com/9987241/49641472-8609a580-fa10-11e8-81dd-de08c82bdfc4.png)
The

[2018-12-07 10:37] mhow2 opened #75 "components versions in the admin UI"
As I have suggested in the mailing list,  I think that at some point, having the commit id, build id, or a version number would benefit in the testing and to have accurate issue report. Can save some time when someone take a look at fixing/triage issues too.

So, what do you think having all the instance's components versions displayed somewher in the admin UI ?

[2018-12-10 15:18] #47 closed

[2018-12-11 17:23] borisbaldassari opened #76 "Usability: start/end dates in task creation UI are misleading"
When creating a new analysis task, the start/end fields for the task are not clear as for their purpose. One would believe that it's the time that the task itself will run, whereas it seems it is the time range of the analysis that is impacted.

Can we add a short text/description to help people understand what the fields are about?

[2018-12-12 08:11] mhow2 commented on #76
Yes I submit to this. start/end dates meaning should be more explicit. @ambpro told me some days ago he would have a look at the wording with @aabherve.

[2018-12-13 11:38] borisbaldassari opened #78 "Kibana dashboard doesn't show projects, requires indexes"
When going to the Kibana dashboard the analysed projects don't show up. Instead, Kibana asks for an index pattern. Trying to create it from the UI leads to errors.
![image](https://user-images.githubusercontent.com/5849071/49936299-dc288e00-fed3-11e8-99cd-eeba8ccde233.png)
![capture du 2018-12-13 12-35-32](https://user-images.githubusercontent.com/5849071/49936315-e64a8c80-fed3-11e8-84d0-b983ec24b

[2018-12-13 12:01] borisbaldassari opened #79 "Projects are not being analysed"
After a fresh install, many projects are imported in the db and show up in the Admin UI > Projects page.
Some of them are updated or in progress, but the workers are empty. Some projects are still in the 'Not Defined' state, even after one day or more. You can check that out on the ci4 instance if you'd like.

![image](https://user-images.githubusercontent.com/5849071/49937501-2bbc8900-fed7-11e8-8

[2018-12-14 07:00] borisbaldassari opened #80 "Default setup for Kibana should have a default index pattern set"
When someone deploys scava, the kibana dashboard needs an action from the admin before it can be used: login, select scava-metrics and set it as default index pattern.

Users should be able to use the dashboard out of the box, without having to follow these steps.

@mhow2 Do you agree on the wording please?

[2018-12-14 07:11] borisbaldassari opened #81 "Instance looses its data, Admin UI shows no project/worker"
After a couple of days running, the instance doesn't answer anymore to requests on the various APIs (8182) and in the admin UI. When going into the admin UI, the projects and workers menu items are empty.

![image](https://user-images.githubusercontent.com/5849071/49988663-dd12fb80-ff77-11e8-91f4-07d88277a5a1.png)

![image](https://user-images.githubusercontent.com/5849071/49988678-e9975400-ff77-1

[2018-12-14 07:12] borisbaldassari commented on #81
Note: the dashboard still shows some data, although it is incomplete.

[2018-12-14 07:24] borisbaldassari opened #82 "Eclipse importer fails to analyse project"
When using the eclipse importer for the epsilon project, as proposed in the project creation page itself, errors show up in the logs:

[code]

[2018-12-14 07:31] borisbaldassari opened #83 "Adding a project in the Admin UI doesn't add it to the dashboard"
After adding a project for analysis in the Admin UI, the project doesn't appear in the Kibana dashboard.
Is there some action to make it appear? or should it be displayed as soon as it is created?

[2018-12-14 07:47] valeriocos commented on #83
there is a short delay to mirror the data to the dashboard ( https://github.com/crossminer/scava-deployment/blob/ddd0957cb87434f4252407bc54b128bebe67788a/dashboard/starter.sh#L11). In any case, i'm going to check. Could you tell me the project you want to analyse?

[2018-12-14 07:54] borisbaldassari commented on #83
Hey @valeriocos the project is epsilon, which I added this morning in the admin UI.

[2018-12-14 07:56] mhow2 commented on #81
Hi @borisbaldassari it happened to me too. Could you have a look at the container's logs ? You can also try to hit the `metric-platform` directly at port 8182 to see if the API's online or not.

[2018-12-14 09:35] borisbaldassari commented on #81
Ah, sorry but I had to re-initiate everything because we really need a working instance for philippe's tests on the ide plugin. Can't try that anymore..

[2018-12-14 10:14] mhow2 opened #84 "acessing various services by name instead of port"
As mentioned in [this thread](https://www.eclipse.org/lists/scava-dev/msg00042.html), at some point it would be nice if we provide a normalized way to access the various services by context instead of ports:

Admin UI - https://instance.ltd/admin
Prosoul - https://instance.ltd/prosoul
APIs - https://instance.ltd/api

Might be implemented as a reverse proxy config...

[2018-12-14 10:16] mhow2 commented on #84
Might be a task relevant to [scava-deployment](https://github.com/crossminer/scava-deployment) instead...

[2018-12-14 12:33] valeriocos commented on #78
Hi @borisbaldassari ,
please try to login (button at the left bottom corner) and then create the index pattern. If you want, instead of creating one, you can select one of the already existing ones (e.g., scava-metrics)

[2018-12-14 17:12] borisbaldassari commented on #78
Hi @valeriocos yep I know that -- sorry for the bad wording. My point is that it should be done automatically for new users. I've added an entry in the scava-docs repo to state the steps, but we should definitely have a fully functional dashboard when people start the docker images.
So there should be a default index selected.
That's what the issue 80 was for, maybe I should close this one and re-

[2018-12-14 17:19] valeriocos commented on #78
understood! we can keep this one open. thanks!

[2018-12-19 12:58] phkrief opened #86 "Rename Eclipse SCAVA Plugin: Rename each CROSSMINER reference to SCAVA"
As soon as we will put our ode on Eclipse, each reference to CROSSMINER should be renamed SCAVA.
For example, CROSSMINER is used in the SCAVA Eclipse preferences or in the MAIN menu.

Thx

[2018-12-19 13:02] phkrief opened #87 "The Lib Search wizard don't look like SWT based"
The wizard used for the libraries search doesn't seem to use the same GUI framework as the rest of the IDE.
Is it on purpose?

Thx

[2018-12-19 13:05] phkrief opened #88 "Clickable similar projects"
I will be really cool if the Library Search wizard cool make clickable the similar projects as hyperlinks.

Thx

[2018-12-19 13:08] phkrief opened #89 "Library search: the Add button doesnt' look active"
We cannot see if the Add button is active or not. Once the library has been added, it should either disappear from the list or appears in grey or the Add button should be deactivated.

Thx

[2018-12-20 10:41] valeriocos commented on #78
please @borisbaldassari have a look at it, @MarcioMateus merged the fix into dev.
Thank you

[2018-12-21 10:52] mhow2 opened #90 "analysis task ending is stalling"
I have [this task](https://nextcloud.ow2.org/index.php/s/82BR6qxWwwBGGAL/preview) running since 10:44 today.

As you see it is stalled at 91%. On the server I see the java process is mostly idling.

The analysis period is 9 dec to 21 dec (today) 2018.

The project is https://github.com/INRIA/spoon and the task is configured to run all the metrics. (268).

[2019-01-03 08:13] mhow2 commented on #55
Hi @tdegueul, if you need something from us (OW2) at this point, don't hesitate to ask.
By the way, thank you for the notes @md2manoppello

[2019-01-04 09:43] davidediruscio commented on #55
Added also @yannisKork in the loop.

[2019-01-14 14:22] mhow2 opened #94 "a running task can be deleted with strange behavior."
Hi,
I am able to remove the task configuration (from `/project/configure/`) of a running analysis. I'm unsure it's expected. Additionally after I do this, I then get stack traces like:

[code]

And the 'Platform Workers' view turns empty within the Admin UI...

[2019-01-21 08:14] mhow2 commented on #79
Same observation. @aabherve, @ambpro could you have a look ?

[2019-01-21 08:33] mhow2 opened #95 "session expired and unable to login"
When you authenticate against the Admin UI, and come back the next day, you will see like if you were still logged in but without content :

![2019-01-21_09-23](https://user-images.githubusercontent.com/9987241/51461421-4b5c9200-1d5e-11e9-9209-132819c0dfe2.png)

And if you take a look at the dev pane, you'll see an error `401: Unauthorized`. Which seems to be the symptom for an expired session.
At

[2019-01-21 09:28] geryxyz opened #96 "upgrade CI for Linux"

[2019-01-21 09:34] #96 closed, assigned to nobody

[2019-01-21 10:51] tdegueul opened #97 "GitLab Support"
Scava currently supports importing projects from GitHub, Eclipse, Google Code, Redmine, and SourceForge. There is no support for importing projects from GitLab yet.

To add support for GitLab, we shall:

- Define a data model for GitLab, inspired from the one for GitHub ([here](https://github.com/crossminer/scava/tree/edd43eb327405ef531501e5c9f879977ee43ac3b/metric-platform/platform-extensions/org

[2019-01-21 17:58] mhow2 opened #98 "metric-platform : "Cannot allocate memory""
I've been running an analysis on project https://github.com/xwiki/xwiki-platform
At some point (after several hours and others things happening that looks like to #90) the oss-app container exited with the following message:

[code]
(There already is 8GB allocated to Xmx ...)

[2019-01-24 14:41] md2manoppello opened #99 "Integrate Focus Api function calls recommender"

[2019-01-29 09:58] mhow2 commented on #98
@aabherve , @ambpro : please could you help me ?
I'm still facing this issue and on the top of that I don't see how I could raise the `Xmx` value in the current docker distribution.

[2019-01-30 10:14] md2manoppello opened #100 "Integrating KB to MPP: import dependencies"
@tdegueul, Could you provide a REST API that returns the list of dependencies for an analyzed project?
Could you provide me an example of a request to the REST API and the related response?

[2019-01-30 13:30] md2manoppello commented on #99
The logic of Focus<sup>*</sup> is still implemented on KB, but the REST API is missing.
@geryxyz, The IDE should communicate the active method declaration (the current developing method) and all pairs of method declarations and method invocations from the project that a programmer is working on.
What the KB needs is a list of https://github.com/crossminer/scava/blob/issue99/knowledge-base/org.ecli

[2019-01-31 11:13] tdegueul commented on #99
Hi @md2manoppello @geryxyz,

I'm on it. We use Rascal to extract this information from Java projects. This means I'll have to add Rascal as a dependency to the `eclipse-based-ide`. I can contribute a simple API in https://github.com/crossminer/scava/tree/dev/eclipse-based-ide/org.eclipse.scava.root/bundles/org.eclipse.scava.plugin/src/org/eclipse/scava/plugin/ that builds M3 models from projects i

[2019-01-31 11:39] mhow2 opened #101 "metric-platform performances"
I recently installed an instance on a quad-core E3-1270 v6 @ 3.80GHz with 32GB RAM

I noticed that when the analysis is running on, the CPU load on the host remains pretty low, ie within 1.0 to 1.3 range. It basically means that the host cores/threads are not used optimally. If it were, I should see at least a load of about 8 (100% CPU usage to all threads).

On the memory side, I am currently inv

[2019-01-31 12:46] tdegueul commented on #99
I've pushed a new `M3Builder` in the `eclipse-based-ide` which extracts method declarations/invocations from local JAR files (see b069ccb70907a72f03ba44805070de99827f4656).

I'll make it work with local Eclipse projects soon; this is just to give you a feel of what it will look like.

[2019-01-31 12:47] md2manoppello opened #102 "[UDA-KB]: Implement the pagination on search API"
Implement the pagination on search API as suggested by @geryxyz

[2019-01-31 15:52] #102 closed

[2019-02-01 16:31] MarcioMateus commented on #101
When running in a VM, with 8 processors and 16GB of RAM I have the following resource usage:

![screenshot 2019-02-01 at 16 27 45](https://user-images.githubusercontent.com/10194704/52135867-b780a500-263e-11e9-8d2c-998992ca2dc7.png)

[2019-02-01 17:12] mhow2 commented on #101
You're lucky. I get the following output in htop. Could you please share a screenshot of yours ?

![2019-02-01_001](https://user-images.githubusercontent.com/9987241/52138194-cbcb9e80-264c-11e9-8755-803d87c00b41.png)

[2019-02-03 13:15] borisbaldassari commented on #57
I believe the fix doesn't work for me:
* I can create a task named "task 1" (only one space) but then it doesn't show up in the list.
* I cannot create a task name "task  2" (two spaces) because it says: only numerical characters blabla.
* When I create the same task (i.e. same properties) with no space, e.g. task_1 then it shows up..

[2019-02-03 13:16] borisbaldassari commented on #57
Right after doing the afore-mentioned steps the instance fails: list of projects, workers and tasks are all empty. Definitely re-opening.

[2019-02-03 13:48] borisbaldassari commented on #57
Screenshots of the previous description.

![capture du 2019-02-03 14-05-22](https://user-images.githubusercontent.com/5849071/52177534-a5c80a80-27c2-11e9-9f9b-7eb0cd3a9415.png)
![capture du 2019-02-03 14-07-26](https://user-images.githubusercontent.com/5849071/52177535-a5c80a80-27c2-11e9-8ac5-4b2b7447ec94.png)

[2019-02-03 13:54] borisbaldassari commented on #82
Still happens.. I cannot see the project in the dashboard, but it is marked as "Up To Date" in the admin UI.
[code]

[2019-02-03 14:11] borisbaldassari opened #103 "Add ability to remove projects from the Admn UI"
As of today a bunch of projects are available out-of-the-box in the web admin UI. It's a nice thing because people can immediately see what scava looks like.
However when one wants to have their own instance configured, they want to be able to delete projects they don't want. Is it possible to add a "Delete" button in the list of projects?

[2019-02-03 15:29] borisbaldassari opened #104 "Show list of connectors and parameters for project in Admin UI"
As of today there are 2 ways to create a project: importing it via an url and creating it from scratch, adding connectors manually. In both cases after saving the project **there is no way to know what connectors** are setup or to view their configuration. When investigating errors, it is fundamental to know the configuration of the project and possibly edit it.

[2019-02-07 08:09] mhow2 commented on #74
Hi Amin,
Thank you for taking care of that one. I just deployed from your branch, we'll see. Notice that `zuul.socket-timeout-millis: 60000` uses the char `:` instead of `=`, unsure if it could be an issue.

[2019-02-07 08:46] ambpro commented on #74
Hello @mhow2, sorry for the syntax error, I pushed a hotfixing in [here](https://github.com/crossminer/scava-deployment/commit/b7d92952be1154a2b27addaac8dac05b83063ef3)

[2019-02-10 10:32] borisbaldassari opened #105 "Improve usability of adminUI"
In the admin list of projects, how easy/difficult would it be to have more information about the project? Things like:
- a link to the project in the dashboard
- information about its past tasks/analyses
- the list of connectors configured

That would help A LOT with the administration and maintenance of the instance.. Otherwise there is no way to tell how the project is configured, what is wrong

[2019-02-10 10:42] borisbaldassari commented on #83
The project really never shows up in the dashboard after being created in the admin UI I'm afraid. This can be checked out on the ci4 instance : http://ci4.castalia.camp
@valeriocos I believe you have the credentials to login to the admin ui if needed.

[2019-02-10 10:45] borisbaldassari commented on #81
Wel I'm wondering if it's not linked to issue #57 .. i.e. it occurs after creating a task with a blank in its name.

[2019-02-11 13:20] ambpro commented on #81
@borisbaldassari Could you please provide container's logs about this issue ?

[2019-02-11 14:04] ambpro commented on #75
@mhow2 I really understand the need for an issue tracking mechanism to manage the scava's issues. However, I think that having a `README` file in the `scava-deployment` containing all these details and providing an efficient traceability of the current docker components status would be worthy than putting that on admin-ui as it's a part of the integration process.

[2019-02-12 08:39] ambpro commented on #101
I got the following result using htop monitoring tool. The workstation is a quad-core 4 processors and 16 GB of RAM.
![xwikiplatform-htop](https://user-images.githubusercontent.com/35226648/52622412-15688480-2eaa-11e9-8b21-1749eaaf0b2e.png)

[2019-02-13 08:47] mhow2 opened #108 "creating new workers"
in the current docker deployment, if you start from scratch without loading any dump, there is one worker "w1" created. If you need to create another worker you have to stop the `metric-platform` container, change the `docker-compose`, alter the entrypoint by removing `-worker w1` , adding `-worker w2` then start again.
I think that at least, we should be able to instantiate several workers in one

[2019-02-13 11:02] mhow2 opened #109 "working with several workers"
Here is a screenshot of the situation I am observing in the Admin UI:
![screenshot_2019-02-13 crossminer administration](https://user-images.githubusercontent.com/9987241/52706164-0aceed80-2f85-11e9-8cb3-7de2728a788d.png)

As you can see, there are pending task that I am unable to assign to the free worker `w1`.

Here is how to reproduce.
- clone a copy of `scava-deployment` and edit the various f

[2019-02-13 11:16] mhow2 opened #110 "project with "analysis in progress" when no task is running"
In the following screenshots, the Projects view shows  _analysis in progress_ for every projects, even for those where the task is only pending. I would have expected to see _task pending_ instead as I my opinion it should shows _analysis in progress_ only when at least one task in running

![screenshot_2019-02-13 crossminer administration projects](https://user-images.githubusercontent.com/998724

[2019-02-13 17:50] borisbaldassari commented on #81
@ambpro as mentioned in this thread the ci4 instance has been restarted (long ago), because it is a live, production-grade instance. We cannot keep it down too long (e.g. weeks for this issue) just for the sake of reproducibility (unfortunately).

Furthermore:
* You can access the instance's logs on the portainer instance: http://ci4.castalia.camp:9000
You should have received the credentials on t

[2019-02-19 16:40] ambpro commented on #104
Hi @borisbaldassari,
I fully agree with you to have an **edit** feature for the admin-ui projects and I am working on it.
FYI, the metric-providers are assigned to each analysis task configuration within one project.
To display them, you have just to hit `Execution Metrics` url and up! a popup will be opened with the metric-providers details configured on this task.

![analysis-task](https://user-

[2019-02-20 11:42] borisbaldassari opened #113 "Set retention policy in Jenkins to keep only 10 last builds"
This has to be changed at the Jenkinsfile level, with keyword buildDiscarder.
Do it for all jobs.
See: https://support.cloudbees.com/hc/en-us/articles/115000237071-How-do-I-set-discard-old-builds-for-a-Multi-Branch-Pipeline-Job-

[2019-02-20 16:28] creat89 opened #115 "ProjectAnalyser not matching IdentifiersOfUses"
Hello,

I'm playing right now with the __ProjectAnalyser__ and, unless I'm wrong, it seems that it is not retrieving all the metrics dependencies, i.e. the __getIdentifiersOfUses()__.

In the method __splitIntoBranches__, more exactly in line 241 we have:

`IMetricProvider use = lookupMetricProviderById(metrics, id);`

where __metrics__ corresponds to the list of metrics that we are splitting and

[2019-02-21 15:06] creat89 opened #116 "ProjectAnalyzer not doing all the metrics"
Hello,

I have a weird problem with __ProjectAnalyzer__ and the method __filteredMetricProvider__. This a method that it is charged of converting the String that define a metric into a __IMetricProvider__. The problem is that not always the metrics are found. For example:

I have defined the following metrics for the analysis:
[code]
However, the method __filteredMetricProvider__ only finds:
[code

[2019-02-21 15:46] creat89 opened #117 "Inconsistency in Historic Metrics Identifiers"
I have found that the historic metrics define differently their identifiers. In some cases, mostly the historic metrics done in the University of Manchester the identifier is defined only as the package/project, for example:  _"org.eclipse.scava.metricprovider.historic.newsgroups.sentiment"_. However, in other historic metrics, the pattern use for identifiers of the historic metrics is the same th

[2019-02-21 17:14] creat89 commented on #115
If the updating of the metrics dependencies are in fact necessary, I have a code that solves the problem. Including the update of the AnalysisTask.

[2019-02-21 20:44] borisbaldassari commented on #104
That looks very good, thank you Amin! Can't wait to see it in action.. :-)

[2019-02-22 06:43] borisbaldassari commented on #104
Hi Amin, it's nice to have the list of metrics!
However this issue was about having the list of **connectors** defined on the project: e.g. bugzilla, git, jenkins, gerrit... with their parameters. Do you have plans to have it displayed?

[2019-02-22 06:48] borisbaldassari commented on #76
@mhow2 the labels have been changed, and it's good for me. Are you ok to close this issue?

[2019-02-22 06:48] borisbaldassari commented on #83
@valeriocos Any update on this?

[2019-02-22 06:50] borisbaldassari commented on #82
Still happening as of today. It seems the importer fails to find the correct git repo..
Any progress on this?
[code]

[2019-02-22 06:50] borisbaldassari commented on #81
Cant reproduce it anymore, could be closed as far as I'm concerned. @mhow2 what do you think?

[2019-02-23 16:47] valeriocos commented on #83
Not yet, I'll update you in a couple of days. However it seems that this problem starts from other components ( https://github.com/crossminer/scava/issues/82) .

[2019-02-23 17:46] davidediruscio commented on #82
It seems the git url retrieved by the importer is wrong. In the example, the importer wrongly assigns http://git.eclipse.org/c/epsilon/org.eclipse.epsilon.git instead of git://git.eclipse.org/gitroot/epsilon/org.eclipse.epsilon.git @md2manoppello could you please check?

[2019-02-25 07:57] mhow2 commented on #76
Yes thanks !

[2019-02-25 07:57] #76 closed

[2019-02-25 10:00] ambpro commented on #103
@borisbaldassari As the feature is implements, are you agree to close this ticket ?

[2019-02-25 11:52] ambpro commented on #79
I guess it's probably an issue related to the data dumps provided the scava-deployment. I'll provide an up-to-date version of projecst data dumps asap.

[2019-02-26 17:46] borisbaldassari commented on #113
Done.

[2019-02-26 17:46] #113 closed

[2019-02-26 17:54] borisbaldassari commented on #82
@davidediruscio  Agreed. Finding the git url for a project can be tricky, but your mechanism usually works well.. It's just bad luck that it's the very example provided in the Project creation page. ;-)
![capture du 2019-02-26 18-54-10](https://user-images.githubusercontent.com/5849071/53434949-f31d4d80-39f7-11e9-858c-45638675eeec.png)

[2019-02-26 18:06] borisbaldassari opened #119 "Propose backup, restore, or export, import features"
Administrators need to be able to backup their scava instance and restore it, both for production-grade hosting and for testing. What would be the steps required for that? Obviously there would the knowledge-base database to dump; but there are probably other files needed to restore an instance, like the API_GATEWAY parameter or maybe the data about currently analysed projects..

It doesn't need t

[2019-02-26 18:06] borisbaldassari commented on #119
@mhow2 please feel free to add/comment. cheers!

[2019-02-28 10:06] mhow2 opened #120 "bugs.requests* metrics not working"
I have achieved the analysis on https://github.com/xwiki/xwiki-platform within ~ 1-month period (Jan/2 to Jan/31 2019)
The following metric shows zero values everywhere which is not consistent with the reality and notice as well that some days are missing.

The same looks to happen to every `bug.requests*` metrics

[code]

[2019-02-28 11:00] davidediruscio commented on #120
Hello @mhow2 do you have some logs to share for understand how to solve the issue?

[2019-02-28 13:11] creat89 commented on #120
Hello @mhow2,

I will check this with the new reader of GitHub and I will try to see what is going on.

[2019-02-28 13:49] creat89 commented on #120
Hello @mhow2,

Concerning the results of the metrics, all the values are zero because there are no issues in that project. They are only pull requests, which are not issues.

With respect to the days skipped, I couldn't reproduce this error. At least with the newest reader of GitHub this do not occur, and in MongoDB I can see 30 different entries. In all the cases, I don't think the reason of skip

[2019-02-28 15:02] mhow2 commented on #120
Indeed. This project use a standalone JIRA, I forgot about that. Now, I wonder how I can analyze JIRA issues because there still is no option in the Admin UI as of today.

[2019-02-28 15:02] #120 closed

[2019-02-28 15:07] mhow2 commented on #104
I am also in need of this feature, ie editing project sources properties.

[2019-02-28 15:12] mhow2 opened #121 "register project : JIRA issue tracker as source"
Hello,
At the moment there is not way to analyze JIRA issues, or at least the option doesn't appear in the UI.
Could you inform when it is planned to add it ?

![2019-02-28_16-11](https://user-images.githubusercontent.com/9987241/53576244-87f88600-3b73-11e9-9e5a-6b39b5b0ee8c.png)

[2019-02-28 15:19] creat89 commented on #117
I have changed the  identifiers for the historical metrics with issues to `
[CLASS].class.getCanonicalName()`

[2019-02-28 15:19] #117 closed

[2019-02-28 15:20] mhow2 commented on #104
@ambpro I would be interested to know on which features you're working on. So we could have a better idea of what we can expect for the future.

[2019-02-28 15:26] mhow2 commented on #119
This issue relates to https://github.com/crossminer/scava-docs/issues/5
Developping a script is one thing, but for a start we would need the manual steps documented.

[2019-02-28 15:47] tdegueul opened #122 "Check whether a file/project is open-source"
Scava shall be able to check whether the license used by a file/project is open-source.

Services such as https://licenses.opendefinition.org/ shall come in handy, e.g.:

`curl https://licenses.opendefinition.org/licenses/EPL-2.0.json`

How do we want the result to be displayed to the user? As a metric? In the dashboard?

[2019-02-28 15:50] creat89 commented on #121
In the meantime, if you need to test other sources, you can use the code that I added in https://github.com/crossminer/EHU (private repository). If you have questions, just let me know.

[2019-02-28 15:56] mhow2 opened #123 "metric-platform debugging"
With the new logging system added by @ambpro  in #112 we are now able to follow analysis logs per project in a more clear fashion. Now I am wondering if it is verbose enough: I have the following analysis **that has not progressed for several hours**  - the current time (now) is 15:55 UTC.

below are the last few lines from `scava-deployment_oss-app_1:/root/scava/satj/analysisLogs/satj:all-28-02-2

[2019-03-01 12:57] tdegueul opened #125 "Factoid for project's release management process"
Scava shall infer information about a project's release management process.

Information to be extracted (forge-specific):
  - List of all the releases, together with the associated ChangeLog (if any), download link (if any), and date

A summary of this information could be displayed in a Factoid that would rely on the following metrics:
  - Frequency of releases
  - Presence of a ChangeLog and do

[2019-03-01 14:10] ambpro commented on #116
@creat89 , the most of the metric-providers given in this test case are not available on the `dev` branch. Could you tell me please which branch should I check out to reproduce the issue ?

[2019-03-01 14:12] borisbaldassari commented on #122
That's a good question.. It should be a metric I guess..

Could we have something like:
files EPLV2: 349
files EPLV1: 12
files GPLv3: 154
files NO_LICENSE: 198

It would be great to have it in the dashboard also..

[2019-03-01 14:12] md2manoppello commented on #82
It depends on the metadata. I fixed it by a heuristic. Let me know if it works.

[2019-03-01 21:29] creat89 commented on #116
Hello @ambpro, the branch is the [EHU_test_merge](/crossminer/scava/tree/EHU_test_merge). As well, in my last test, I'm having problems with the threading and the execution of multiple metrics at the same time despite their dependency. In order to run everyting correctly, I've been using the modified version of the ProjectAnalyzer.

[2019-03-02 03:44] creat89 commented on #116
Hello @ambpro, I have updated the branch, now it is [EHU_final](https://github.com/crossminer/scava/tree/EHU_final).

[2019-03-02 12:34] creat89 opened #129 "[RESTMULE] Token using Basic Authentification GitHub"
Hello,

Currently the github reader based on restmule is not able to use a token for sessions as there is a problem in the authenfication.

The method in `org.eclipse.scava.crossflow.restmule.client.github.session.GitHubSession`:
[code]
calls the method in `org.eclipse.scava.crossflow.restmule.core.session.AbstractSession`:
[code]
which sets a session with a token in a header as basic authentifica

[2019-03-02 13:13] creat89 opened #130 "ProjectAnalyser problem with multi-day analysis"
Hello,

In the current version of the project analyzer I am seeing that multiple days (deltas) are being run at the same time. This seem to have a bad effect on the transient metrics which normally drop the collection at the end of the day. In other words, data is being lost due to this effect.

Here is an example (CodeDetectionMetric depends on TransPlainTextMetric):
_[Day1] TransPlainTextMetric:

[2019-03-04 10:44] aabherve commented on #115
The splitIntoBranches function work as expected.

But we have identify and fix an issue in scava-admin web dashboard which could be the root cause of your issue : During Task creation and selection of the list of Metrics which will executed, we discovered an issue in the  selection algorithm which  select recursively  dependency of a selected metric.

[2019-03-04 10:53] creat89 commented on #115
Ok, I think I get it now. I was thinking that splitIntoBranches had to find the dependencies of the metrics in case the user did not declared them. But now I understand that splitIntoBranches check if the metrics that were declared to do are in fact dependencies of another metric, if so to set them in the correct branch.

[2019-03-04 10:53] #115 closed

[2019-03-04 13:19] creat89 commented on #130
Related to this issue, there are some transient metrics, specially those related to newsgroups, which cannot run on a multi-day analysis. The reason is that there are metrics based on threads, which cannot be built correctly if the analysis is not done sequentially.

[2019-03-04 14:44] davidediruscio commented on #55
@tdegueul Can we close this issue? I think you developed the GitLab importer right?

[2019-03-04 15:13] mhow2 commented on #55
I have tested the feature and it works. We can close that one and open further issue when appropriate.
Before closing, we want to make sure the following text from the Admin UI is updated (ie, adding GitLab):
![2019-03-04_16-07](https://user-images.githubusercontent.com/9987241/53741926-be960f80-3e97-11e9-91ad-d11c434f251b.png)

Note that the GitLab's issues reader from @crossminer/ehu still has t

[2019-03-05 10:23] ambpro commented on #116
Hi @creat89, I checked out the ` EHU_final` branch to reproduce the issue.
While debugging, I got a Delta creation failed due to an authentification problem related to the Github Session.
I guess it's the one specified in #129.
Do you have an workaround for that ?
`
No authentification data has ben set
Something went wrong during the creation of a Git Hub Session
ERROR [ProjectDelta (MeasurePlatfo

[2019-03-05 10:27] creat89 commented on #116
Hello @ambpro,

I pushed a commit this morning on that branch that should solve the issue. Could you give a try or was it the last version of the branch the one with the issue?

[2019-03-05 10:39] ambpro commented on #116
@creat89, It seems to be okey right now. Thank you :)
I'll try to reproduce the original issue and provide you a feedback.

[2019-03-05 12:54] ambpro commented on #116
Hi @creat89, I am not able to reproduce this issue even I used the `EHU_final` branch. Each time, the **filterMetricProvider** method return the metrics-providers inputs on both test cases.
You will find [application.log](https://github.com/crossminer/scava/files/2930961/application.log) logs file of the sample project.

[2019-03-05 13:01] creat89 commented on #116
Ok, I will check it again and for the moment I will close the issue. However, any news regarding issue #130 ? I see in the log that multiple plaintextprocessor  metrics for differents days are being called before the call of the codedetector. This might affect the data in the the transient metrics.

[2019-03-05 13:01] #116 closed

[2019-03-05 15:54] ambpro commented on #130
@creat89,

Currently, the project delta is created each day we execute the metric-providers.

Related to the metric-provider multiple days execution, I push a hotfixing for this issue. It's related a synchronize the Metric List execution inside the thread pool.
Could you please take a look on it ?

[2019-03-05 15:56] creat89 commented on #130
Yes, I'll check it and I'll tell you

[2019-03-06 10:59] valeriocos opened #131 "oss-app: Unable to init server: Could not connect: Connection refused"
It seems that the oss-app is not able to start. @ambpro do you experience the same problem?

[code]

[2019-03-06 11:19] valeriocos commented on #131
Fixed with: https://github.com/crossminer/scava-deployment/commit/285dc1f082ce58529e7767080fff53b315b5f93e

[2019-03-06 11:19] #131 closed

[2019-03-06 18:27] valeriocos commented on #83
@borisbaldassari , the project epsilon (and others, I have tried with some grimoirelab repos) are not shown in the dashboard because the project execution information is missing (which is something the dashboards need to plot the data). Find below some snippets taken from the log when executing the [docker-compose](https://github.com/crossminer/scava-deployment/blob/dev/docker-compose-build.yml) i

[2019-03-06 18:30] valeriocos commented on #82
HI @md2manoppello , I guess this issue may be related to https://github.com/crossminer/scava/issues/83#issuecomment-470220226

[2019-03-06 21:07] md2manoppello commented on #83
Eclipse importer doesn't perform any analysis. It extracts metadata from the Eclipse API.
For instance, I mined epsilon metadata from https://projects.eclipse.org/json/project/modeling.epsilon
Now, the importer properly mines the following epsilon metadata:
[code]
and the vcs field properly stores the value of git resource.
Please, let me know if I'm wrong.

[2019-03-07 12:55] patrickneubauer commented on #129
Hello,

Thank you for submitting this issue.

Commit X should address it by replacing `Auth.BASIC_AUTH` with `Auth.OAUTH` for both `setBasicAccessTokenInHeader` as well as `setBasicAccessTokenInQuery`.

Cheers, Patrick

[2019-03-07 12:55] #129 closed

[2019-03-07 13:21] creat89 opened #133 "Tycho and Crossflow"
Hello,

In the current version of Scava in the dev branch, the projects related to Crossflow are now available. However, they are not Maven projects yet.

Currently, one of our readers, make use of a component found in Crossflow (the GitHub RESTMULE). While this works perfectly by cloning the repository, I have seen that Jenkins is not able to create a build version of my branch because the Maven

[2019-03-07 15:22] valeriocos opened #134 "Last Execution Date for Metrics Execution is Thu Jan 01 00:00:00 UTC 1970"
Some projects seem to have a wrong last execution date (1970-01-01), for instance the Epsilon and Sirius projects in castalia (click on http://ci4.castalia.camp:5601/project/configure/modeling.sirius and then on the link under `Execution Metrics`). I see the same problem in my local env.

These projects are not imported to Kibana since they miss the execution date information (which is needed to p

[2019-03-08 08:57] mhow2 opened #135 "several sources of the same kind to a single project"
This was already raised during a discussion with @creat89 and @borisbaldassari

In the current state, **1** SCAVA project = **1** mailing list + **1** forum + **1** issue tracker + **1** ...
It is a one-to-one relationship between the registered project and source of the same kind.

The more I am thinking about it, the more I'm convinced that the ability to have "multiple sources" attached to a si

[2019-03-08 12:20] mhow2 opened #137 "missing a metric to asset commit authors diversity"
We miss a metric that could provide the number of unique commit authors over time, eg:
- The number of unique commit authors per day up to and including the current date.
- The cumulative number of commit authors up to and including the current date.
- The average number of commit authors up to and including the current date.

I suppose this data can comes either from the VCS repository itself or

[2019-03-08 16:01] valeriocos opened #138 "Pagination of SCAVA metrics"
I'm using the [docker-compose](https://github.com/crossminer/scava-deployment/blob/dev/docker-compose-build.yml) available in the scava-deployment repo. I'm querying the SCAVA API to collect the metrics of the projects available in the docker-compose

I see that the number of metrics is always the same, but it's not consistent with what listed at http://localhost:5601/project/configure/<project>,

[2019-03-08 16:09] valeriocos opened #139 "SCAVA metrics moslty empty"
I'm using the [docker-compose](https://github.com/crossminer/scava-deployment/blob/dev/docker-compose-build.yml) available in the scava-deployment repo. I'm querying the SCAVA API to collect the metrics of the projects available in the docker-compose.

I see that most metrics returned from the SCAVA API are empty (their datatable is empty), see examples below.

I'm using the following endpoints to

[2019-03-08 16:16] valeriocos commented on #134
![captura de pantalla de 2019-03-08 17-12-46](https://user-images.githubusercontent.com/6515067/54040525-e3ef8a00-41c5-11e9-8a90-ee7883abc2e5.png)

[2019-03-08 16:17] valeriocos commented on #83
After talking with @ambpro it seems there is a problem in the metricprovider. An issue has been opened to tackle this problem (https://github.com/crossminer/scava/issues/134).

I close this ticket since it was a question, @borisbaldassari feel free to reopen if needed

[2019-03-08 16:17] #83 closed

[2019-03-08 16:24] valeriocos opened #140 "Jenkins fails to build commits"
I've recently submitted a PR (https://github.com/crossminer/scava/pull/136), which I tested locally and seems to work. When checking the Jenkins log (below a part of the stacktrace) I see:
[code]
I don't know if the problem is related to how Jenkins was deployed or some other errors in the platform.

[code]

[2019-03-08 17:32] creat89 commented on #133
What I am seeing is that Maven is looking externally the dependencies instead of looking for them internally.

[2019-03-10 21:38] borisbaldassari commented on #82
Still happens as of today:
[code]
Instance was updated this thursday.

[2019-03-11 08:29] borisbaldassari commented on #140
I'm not sure it comes from the host itself.. Adrian @creat89 has the same problem (probably on a different part of the code).
I can build it on my own machine btw.. I'll investigate and keep you posted.

[2019-03-11 08:31] borisbaldassari commented on #139
Same here, with roughly the same amount of empty values..

[2019-03-11 08:44] borisbaldassari commented on #140
It seems it started failing from build 106, which is associated to Juri's commit 3e155deedc78063fab4ebd41f54c8b0d0e9cc298 . @md2manoppello @davidediruscio could you please check what happened? the issue seems to come from there..

[2019-03-11 08:49] davidediruscio commented on #139
@ambpro Could you please check if you have the same situation on your local installation?

[2019-03-11 09:04] davidediruscio opened #141 "virtual memory areas vm.max_map_count [65530] is too low in the elasticsearch container"
With the aim of documenting a step by step hello word scenario, now I'm not able to have the platform working on one VPS of mines I'm using for testing purposes. It seems that the elasticsearch container does not start because of the following error:

[1]: max virtual memory areas vm.max_map_count [65530] is too low, increase to at least [262144]

This prevents the admin webapp to start and thus u

[2019-03-11 09:07] valeriocos commented on #141
Yes, in the scava-deployment repo README there is a short explanation about how to do it:
https://github.com/crossminer/scava-deployment/tree/dev#issues

[2019-03-11 09:59] ambpro commented on #138
Hi @valeriocos,

First of all, the metric-providers associated to the analysis tasks are coming from `http://localhost:8182/analysis/metricproviders`. On the development environment (locally), the api endpoint returns 306 metrics. ([List of MP](https://api.jsonbin.io/b/5c862c9f2e4731596f1d3312)).
On the other hand, the same api in the scava-deployment returns 278 metric-providers: http://ci4.casta

[2019-03-11 10:12] ambpro commented on #138
@valeriocos ,
FIY, the `/metric` list only 188 metric-providers that have a visualization associated as mentioned [here](https://github.com/crossminer/scava/issues/62#issuecomment-444532107).

[2019-03-11 10:14] borisbaldassari commented on #141
hi @davidediruscio you set me as an assignee, but I'm not sure what I can do.. how can I help on this one?

[2019-03-11 10:49] davidediruscio commented on #141
Thanks @valeriocos

[2019-03-11 10:49] #141 closed

[2019-03-11 13:51] valeriocos commented on #138
Thank you @ambpro for answering and for the offline discussion. I recap below what I understood (please correct me if you see something inaccurate).

The call http://ci4.castalia.camp:8182/analysis/task?analysisTaskId=emf:analysis returns the execution information of the different metric providers for a given project. The information returned doesn't contain metric values.

The metric data should

[2019-03-11 14:49] davidediruscio commented on #140
@valeriocos could you please inform us about the repository you were trying to import when the error occurred? This can help to identify the error.

[2019-03-11 14:52] davidediruscio commented on #140
Ok forget about my previou request...looking at http://ci5.castalia.camp:8080/blue/organizations/jenkins/scava-metric-platform/detail/PR-136/2/pipeline

[2019-03-11 15:16] davidediruscio commented on #140
It seems the issue is not related to the Eclipse importer.

We have problems during the creation of deltas. In particular, for both testAnalyzePongo and testAnalyzeVallang in the test file

https://github.com/crossminer/scava/blob/dev/metric-platform/tests/org.eclipse.scava.platform.tests/src/org/eclipse/scava/platform/tests/RunMetricsTest.java

there is a common aspect. The errors are raised when

[2019-03-11 15:23] valeriocos commented on #62
I lost this issue. With some delay, yes it's possible

[2019-03-11 15:30] davidediruscio commented on #138
@valeriocos Yes, your summary is correct.

In order to avoid further misunderstandings, I would propose to filter the list of metrics that can be applied on a given project (e.g., http://ci4.castalia.camp:5601/project/configure/emf) and show only those that can be actually visualized later in the process. For instance, the list of 306 metrics includes also importers that do not need to be applied

[2019-03-11 15:38] valeriocos commented on #138
I'm trying to use the endpoint `raw/metrics` to overcome the limitation of collecting only metrics with visualizations. The metrics returned don't contain any ID to build the URL to fetch the metrics of a given project (`/projects/p/<project-id>/m/<metric-id>`), so in the current situation it seems that it isn't possible to fetch project metric data using the raw information. Furthermore the raw m

[2019-03-11 15:39] valeriocos commented on #138
sorry @davidediruscio I didn't see your last message

[2019-03-11 16:17] davidediruscio commented on #137
Hello @tdegueul this seems to be related to source code analysis. What do you think?

[2019-03-11 16:44] ambpro commented on #138
@davidediruscio @valeriocos
I think that the current ticket issue treats two different topics:
* The first one is the problem related to the metric-providers loading when the metric platform started (using the extension-points mechnism).
In the context of the scava-deployment, both of `/raw/metrics` and `analysis/metricproviders` list less than what the same two apis return on the local developmen

[2019-03-11 16:54] davidediruscio commented on #138
Yes please go ahead. thanks

Sent with something mobile

Il lun 11 mar 2019, 17:44 Amin Boudeffa <notifications@github.com> ha
scritto:

[2019-03-11 20:56] tdegueul commented on #133
Indeed, Crossflow is not part of our Tycho build yet. I tried to copy the Jenkinsfile that York was using for the external repository [here](https://github.com/crossminer/scava/blob/dev/crossflow/Jenkinsfile) but I couldn't make it work.

AFAIK, there is no `pom.xml` file in [the crossflow directory](https://github.com/crossminer/scava/blob/dev/crossflow/) yet.

@patrickneubauer @kb634 @kolovos  c

[2019-03-11 21:02] tdegueul commented on #137
There is a bunch of commit authors-related metrics [here](https://github.com/crossminer/scava/blob/dev/metric-platform/metric-providers/org.eclipse.scava.metricprovider.trans.rascal.activecommitters/src/ActiveCommitters.rsc). @mhow2 do you have data in your local Scava installation for the very first metric in this file (`committersToday`)? It should correspond to the first item of your bullet lis

[2019-03-11 21:04] tdegueul commented on #97
This should have been (partially) fixed in 86c7184f3646ef371f896a71c2756394a5ea103f. @mhow2 can we close for now and open new dedicated issues whenever you encounter a problem with the GitLab connector?

[2019-03-11 21:13] tdegueul commented on #140
Build is back to normal: http://ci5.castalia.camp:8080/view/Dev/job/scava-metric-platform/job/dev/.

Thanks @ambpro.

[2019-03-12 07:10] mhow2 commented on #137
Hi Thomas,

Unless I am wrong, I have not, this is the reason of this issue.
I'm looking at http://scava-dev.ow2.org:8182/metrics

[2019-03-12 07:43] mhow2 commented on #97
Hi @tdegueul , thank you for the update.
I did not encounter any problem so far. This being said, I think we might add the metadata for the issue tracker (bugTrackingSystems in mongo) so it can be used by the other partners. Tell me if what I'm saying is consistent. If yes I would open another issue with it.

[2019-03-12 08:00] tdegueul commented on #97
You're right. 86c7184 only takes care of retrieving the source code and ignores any other data from the forge. This will have to be improved but I'd rather have a separate issue for that. Please feel free to open a new issue to track progress!

[2019-03-12 08:00] #97 closed

[2019-03-12 09:00] mhow2 opened #142 "GitLab import : add issue tracker metadata"
We would need the issue tracker's `bugTrackingSystems` mongo object to be set with related data in the `projects` collection.

I suppose it would be needed by some partners, isn't @yannisKork , @creat89 ?

[2019-03-12 09:20] creat89 commented on #142
If I remember well, in EHU final branch I have pushed the modifications for the gitlab import reader to create automatically a gitlab issue tracker. But, I can't still build the branch using Jenkins. You can test it but you need to import the projects through Eclipse.

[2019-03-12 09:34] mhow2 commented on #142
Thanks !

@tdegueul : are you able to help on this topic ?

[2019-03-12 09:37] creat89 commented on #142
@mhow2, @tdegueul is helping us to solve that problem, which right now it is issue #133.

[2019-03-12 09:58] ambpro opened #143 "Loading SCAVA all metric providers failed"
**Overview of the issue request**
On the local development environment, the metric platform loads the list of the metric-providers which came from the plugins provided by the platform and will be updated via the eclipse extension points mechanism.
The local platform setup supplies 306 MPs. The list of the metrics are [here](https://api.jsonbin.io/b/5c877710adeb832d3ec68081).

On the other hand, th

[2019-03-12 10:00] ambpro commented on #138
The scava metric providers loading issue is moved to #143

[2019-03-12 16:24] valeriocos opened #145 "Fetching data from SCAVA API"
After discussing with @ambpro, this issue contains some requirements/wish list (in term of priority) to fetch data from the SCAVA API. What do you think @ambpro , do they look feasible?

**Only the metrics with a visualization associated can be retrieved**
Visualization information is something coming from OSSMETER which is not needed (since the dashboards take care of it). It is possible to fake/

[2019-03-13 08:54] ambpro commented on #138
Fetching data metrics discussion from SCAVA API is moved #145

[2019-03-13 08:54] #138 closed

[2019-03-13 09:56] aabherve commented on #145
**Only the metrics with a visualization associated can be retrieved**
After an analysis of the implementation of the existing API , it seams that the /raw/projects/p/<project>/m/<metric-ID>( from OSSMETER) is not implemented as expected.  It's currently the same implementation as the /projects/p/<project>/m/<metric-ID>

[2019-03-13 10:08] aabherve commented on #145
**Only the metrics with a visualization associated can be retrieved**
After an analysis of the implementation of the existing API , it seams that the /raw/projects/p/<project>/m/<metric-ID>( from OSSMETER) is not implemented as expected.  It's currently the same implementation as the /projects/p/<project>/m/<metric-ID>

We will try ti implement the /raw/projects/p/<project>/m/<metric-ID> as origin

[2019-03-13 11:11] valeriocos commented on #145
thank you @aabherve for your answer

Before starting implementing things I would check with @davidediruscio and the partners that need the dashboards. From my side it's fine to have just a sub-set of metrics (the ones with visualizations) to work with, however it's important to know why some metrics are not shown. @davidediruscio was proposing a solution here: https://github.com/crossminer/scava/i

[2019-03-14 15:26] aabherve commented on #145
@davidediruscio  @valeriocos

Understood : we will only display factoides and metrics with a visualization on dashboard.

 **API Evolutions Proposal**

- ADD {project} info  in `/projects/p/{projectid}/m/{metricid}` response
- ADD optional `from-date` parameter  to `/projects/p/{projectid}/m/{metricid}` query.
- ADD the service `/metrics/p/{projectid}` which will rerun the list of **metrics with v

[2019-03-15 08:22] valeriocos commented on #145
Thank you @aabherve for the proposal, I really like the possible evolutions. Given the time left to finish the project, I would go for them if they are easy to implement, otherwise the current implementation is fine (at least for me).
What do you think @davidediruscio about the proposals?

[2019-03-15 16:31] davidediruscio commented on #145
Dear all

sorry for the late reply but I'm still sick. I'm fighting with a strong
flu (always in between 38 and 39), which is really putting me ko.

I want to give my inputs about this point raised by @Valerio
<valcos@bitergia.com>

*Project metrics mix levels of abstraction*
When fetching a metric for a given project using the endpoint
projects/p/<project>/m/<metric-ID>, the data returned include

[2019-03-18 11:11] geryxyz opened #146 "updating Eclipse plug-in and its documentation"

[2019-03-18 11:21] #146 closed

[2019-03-18 11:22] mhow2 commented on #145
Just a comment in reaction to @valeriocos :

I still think it's a valuable enhancement to have a way to asset what are the metrics to expect for a given project. It would simplify the code when consuming the API.

In addition, at the moment in the case where the datatable is empty we don't know if the metric has been processed, and when.

[2019-03-18 12:31] mhow2 commented on #121
@creat89, @ambpro  : my use case is an end-user use case. How to use the code above , compile it is somehow outside of my UC scope. In addition I'm using the "official" docker stack so I should be able to add the source to a remote SCAVA instance.

What I tried to do is to add the following documents in Mongo (in `projects` collection  / `bugTrackingSystems` documents)

[code]

When I start the ta

[2019-03-18 13:14] creat89 commented on #121
@mhow2: For adding a project from Jira, you can use the code that I posted before. There, you can find a method `createProjectWithBugTrackingSystemJira` for the object `ProjectCreationUtil`.

Concerning the error that you're seeing. This means that there is a dependency that it is not being loaded. In Eclipse go to Run/Run Configurations, then look for the name of the configuration that you're exe

[2019-03-18 14:25] mhow2 commented on #109
@ambpro : could we have a feedback about it ? It would allow us to analyze projects faster.

[2019-03-19 14:44] mhow2 opened #148 "clarify factoids metrics and values"
I have started to have a closer look to factoids in SCAVA:

- http://scava-dev.ow2.org:8182/projects/p/spoon/f
- http://scava-dev.ow2.org:8182/metrics

Can we please clarify the following:
- not all `summary` on `/factoids` are documented
- it looks to me that not all factoids can provide a STAR score. For example `org.eclipse.scava.factoid.bugs.weekly.BugsChannelWeeklyFactoid` which tells  `"The

[2019-03-19 14:47] mhow2 opened #149 "numberUniqueMavenDependencies exception"
I've been facing this exception :
[code]
Looks like @tdegueul knows what it is about.

[2019-03-20 08:59] mhow2 commented on #121
Now I'm having this:
[code]

[2019-03-20 10:26] creat89 commented on #121
I'll check that issue as it concerns the severity classifier. However, it is possible that in EHU branch this has been solved, as some bugs have been found before.

[2019-03-20 10:59] mhow2 commented on #121
Thanks. Feel free to open a new issue if appropriate.

[2019-03-20 13:44] creat89 commented on #121
@mhow2, I think that the metric is breaking because the classifier cannot "find" the model. And it is not finding the model because it is zipped (too big for GitHub). In my branch, I updated some time ago that behavior, by creating a method that unzips a model if it is not found. As well, I found an issue with the Jira's reader (that happened before with Redmine) in which the messages are not stor

[2019-03-21 07:56] mhow2 commented on #121
Thanks @creat89, I'm glad you found those issues. However, notice that at the moment we can't test your branch `EHU_final` because the CI build fails.

[2019-03-21 10:11] ambpro commented on #134
@valeriocos , I pushed tow fixes related to this issue. Could you please test it on your side ?

[2019-03-21 10:38] valeriocos commented on #134
sure! thank you @ambpro

[2019-03-21 10:43] creat89 commented on #121
Yes, we know about that. Which it is a problem related to issue #133 and which I'm working on to solve it as soon as possible.

[2019-03-22 11:16] creat89 commented on #133
For the moment, in order to make available the newest reader of GitHub, I have converted the elements from Crossflow that we use into jars as recommended me @kb634. However, I know that this is not the best solution.

[2019-03-22 11:18] creat89 commented on #130
With the hotfix everything seems to run correct.

[2019-03-22 11:18] #130 closed

[2019-03-25 10:30] mhow2 commented on #123
I can't find the `analysisLogs` folder anymore in the container from the latest deployment. Any comment welcome.

[2019-03-25 13:54] md2manoppello opened #152 "KB: stackoverlow recommender"

[2019-03-25 15:05] creat89 commented on #121
Well, I have merged EHU branch into the dev, so, now it should be able to analyze the projects with the new metrics. I have a doubt with the Severity classifier one, on my side it works perfectly, but I'm not sure if the build method it is going to like the approach that I used. Otherwise, I'll implement a new solution.

[2019-03-25 15:09] creat89 commented on #142
@mhow2, this issue should be solved with the merge commit https://github.com/crossminer/scava/commit/b243dd5d0a48c1bc893a92a03d8c276f93dcc85c

[2019-03-25 15:09] #142 closed

[2019-03-25 15:30] creat89 commented on #148
Some factoid metrics should have been improved with commit https://github.com/crossminer/scava/commit/b243dd5d0a48c1bc893a92a03d8c276f93dcc85c. However, we will check some of those that are related to our deliverables.

[2019-03-25 15:36] creat89 commented on #55
@mhow2, commit https://github.com/crossminer/scava/commit/b243dd5d0a48c1bc893a92a03d8c276f93dcc85c should make available to import a GitLab project from URL.

[2019-03-25 15:42] #55 closed

[2019-03-25 16:56] Danny2097 commented on #148
@mhow2

Thank_ you for brining the documentation issue to us. The factoids were directly ported to Scava from OSSMETER. We will updates these as soon as we can.

I would suggest that you raise this during the meeting in Paris. Perhaps Davide or Yannis maybe able to justify the reasoning behind this decision to implement the star rating in OSSMETER.

With regards to the number of stars, I believe t

[2019-03-26 09:07] mhow2 opened #153 "com.mongodb.MongoException: Invalid ns - Exception thrown during metric provider execution (fileReadabilityQ)"
I'm facing the following exception, below is about `fileReadabilityQ` but it is thrown with `errorProneFactoid` , `ratioUnversionedOSGiImportedPackages`, `NOC_Java_Q`, `NOA_Java_Q`, `commitActivity` and more

[code]

[2019-03-26 15:45] creat89 commented on #134
I've been working with @mhow2, and we're having a similar issue. But in this case, the metrics that have the old date are those that have not been executed.

This is the log, and you can see that only two metrics have been executed:
[code]
These correspond to those that have the date of 2019:
![image](https://user-images.githubusercontent.com/17121539/55011377-b5531b00-4fdd-11e9-9d30-3f3f62a496c4.

[2019-03-26 16:05] creat89 commented on #139
I'm working with @mhow2, on their server (I guess docker image too) and we're having a similar issue. In our case, some metrics despite being executed according to the log, they do not create a a collection or the collection is completely empty. At the beginning I thought that it was due to a metric dependency that was missing, but after some executions, in which the dependency was called and exec

[2019-03-26 16:30] valeriocos commented on #134
sorry @ambpro @creat89 I'm a bit late on testing it

[2019-03-27 11:29] mhow2 opened #154 "metric-platform crash when importing a github project and token is empty"
I just import a project within the admin UI:
![2019-03-27_12-25](https://user-images.githubusercontent.com/9987241/55072514-9f039880-508b-11e9-9461-bdc4c6177259.png)

At the time I press the "save" button, the oss-app container exits with the following error:
[code]

[2019-03-27 13:37] davidediruscio commented on #140
@tdegueul can we close then?

[2019-03-27 13:37] #140 closed

[2019-03-28 08:10] mhow2 opened #155 "GitLab reader issue"
When starting a task on a previously imported GitLab project (https://gitlab.ow2.org/sat4j/sat4j) I get:

[code]

Mongo content for bugtracker config is :

[code]

[2019-03-28 10:19] creat89 commented on #155
@mhow2, I'm guessing that the error is due to the lack of the personal access token for GitLab. @Danny2097 can explain more why it is necessary this for accessing the GitLab API. However, in the meaintime, can you add a personal token to GitLab and try it again?

[2019-03-28 10:28] Danny2097 commented on #155
@mhow2 [here ](https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html) is a link to  information relating to a personal access token and how to obtain one.

[2019-03-28 10:39] creat89 commented on #154
@mhow2 I have removed the lines that made Scava to finish abruptly on commit https://github.com/crossminer/scava/commit/44ce75d387bbcf6325d18a93d51bfd08b9f6b50c. However, despite that, there is a bug in the GitHub importer, that should have prevented this issue.

@md2manoppello, in theory in GitHub importer (line 348: `if (authString != null)`) you check if there is a defined token. Then, in line

[2019-03-28 12:18] mhow2 commented on #155
Thanks. But I now how to obtain a personal token, but that's not the problem here. In addition I'm unsure why we would need a personal token ? If it is about API calls rate limit - like it is for github - I'm not even sure that using a token would overcome the limits.

this being said, I notice that:
- The exception is not handled
- I'm not told which property name I have to add. (I use `githubTok

[2019-03-28 12:51] tdegueul opened #156 "C++ Metrics"
Once #8 is merged, we shall be able to import [CLAIR](https://github.com/cwi-swat/clair) into the metric platform and start developing some C++ metrics.

[2019-03-28 12:55] tdegueul opened #157 "Dependency Dashboard"
The dependency metrics are not yet exploited/represented in the dashboards.

A POC implementation of a dependency dashboard has been developed a while back here: https://crossminer.biterg.io/app/kibana#/visualize/edit/AV7iIuIYfuk55ZFAddqg

We shall reuse a similar dashboard to display dependency metrics in Scava.

[2019-03-28 15:09] Danny2097 commented on #155
Hi @mhow2 please see below.

Thank you for pointing this out. I will begin work on a patch to handle this exception within the Git Lab reader. In the meantime @creat89 has added a _temporary_ hot-fix to the gitlab importer to help prevent this.

We utilise the personal access token as a form of authentication for making calls to certain endpoints. For some Git Lab end points no authentication is r

[2019-03-29 16:12] md2manoppello opened #158 "CROSSREC: add maven versions"

[2019-03-29 17:54] #158 closed

[2019-03-30 15:03] valeriocos commented on #134
Hi @ambpro sorry for the late feedback. I still see projects without execution date information (e.g., netty and activemq). I restarted the analysis for netty yesterday evening, the analysis is still in progress (but the progress bar is still empty)[1]. I have also tried to add a new project, but when saving the anaylsis task, the start date is removed and the task is not created [2].

Let me know

[2019-03-30 15:42] valeriocos commented on #134
For [2], I did a `docker system prune -a` and then followed the instructions at [scava-deployment](https://github.com/crossminer/scava-deployment/tree/dev#scava-deployment). Now the task is correctly added, the list of metrics is partially updated as reported by @creat89

At the time of testing, the scava version is the last one: https://github.com/crossminer/scava/commit/c560b2722fc0caf1af86712e2

[2019-04-02 12:17] mhow2 commented on #155
@ambpro : could you have a look for a way to connect the work done by @crossminer/ehu to the admin UI please ?

[2019-04-02 14:40] ambpro commented on #145
Hello @valeriocos,

while I am working on the refactoring APIs, I discovered that the version of `projects/p/<project>/m/<metric-ID>` accept two optional args (startDate and endDate ) to fetch metrics on a specific interval.
Eg: http://localhost:8182/projects/p/JDBM/m/numTestsHistoric?startDate=20190122&endDate=20190126

What do you think about it?

[2019-04-02 15:02] valeriocos commented on #145
Thank you for the info @ambpro ! that's perfect, I try to integrate the startDate param in the scava2es/scava scripts.

[2019-04-04 08:43] ambpro opened #160 "SCAVA metricId didn't match with metricproviderId"
While I was working on the SCAVA data API refactoring discussed on #145, I found the following observations:
*  The Rest API exposed through `http://localhost:8182/analysis/metricproviders` retrieves the list of the metric providers loaded through the extension points mechnisms. Each metricprovider is identified with a `metricProviderId` field.
* The Rest API exposed through `http://localhost:8182

[2019-04-04 08:46] tdegueul commented on #160
Very good catch. @valeriocos @mhow2 @borisbaldassari can you check whether this helps with #139?

[2019-04-04 10:05] borisbaldassari commented on #160
@tdegueul Not sure how I can check, but it makes a lot of sense at the very least.
I'm indeed using the "viz" metrics to fetch everything automatically for the project. So that could explain why I get zero metrics e.g. from sirius on ci4.
If there is anything I cna test/try further please let me know..

[2019-04-04 10:14] valeriocos commented on #160
@tdegueul same comment as @borisbaldassari . I'll wait for the fix and check if new data is available when querying the scava api endpoints.

[2019-04-05 12:17] geryxyz opened #161 "Create an endpoint which could accept process metric raw data from plug-in"
@md2manoppello

[2019-04-05 12:19] geryxyz opened #162 "provide a new plug-in for model builder which encapsulate Rascal related project scanning"

[2019-04-05 12:22] geryxyz commented on #162
@Szamos96 @idarav we have to pay attention to this issue

[2019-04-05 12:22] geryxyz commented on #161
@Szamos96 @idarav we have to pay attention to this issue

[2019-04-05 15:05] md2manoppello opened #163 "Add recommendation feedback"

[2019-04-05 15:11] md2manoppello commented on #163
@geryxyz

[2019-04-05 15:13] md2manoppello commented on #163
Data model is stored at https://github.com/crossminer/scava/blob/16de4e25ecee298c45a80949074e54723bcb6f17/knowledge-base/org.eclipse.scava.knowledgebase/src/main/java/org/eclipse/scava/business/dto/RecommendationFeedback.java#L1

[2019-04-05 15:18] geryxyz commented on #163
@Szamos96 @idarav please check this.

[2019-04-08 09:37] mhow2 opened #164 "Admin UI : filtering and ticking all checkboxes"
With the current behavior (see screenshot below), when you filter the metrics and tick the upper left checkbox right in the column title, it ticks **all** the available metrics instead of the filtered ones. In the example below, after clicking "save" I find myself with 275 metrics enabled.

![2019-04-08_11-33](https://user-images.githubusercontent.com/9987241/55714121-51bfe900-59f2-11e9-9101-b096d

[2019-04-09 07:35] mhow2 opened #165 "consolidate components logging systems"
In the metric platform, we have [log4j properties](https://scava-docs.readthedocs.io/en/latest/others/deploy/Platform-configuration/) available. In the docker distribution, it is set within `scava-deployment/metric-platform/prop.properties`.
Now it seems that for example, RESTMule logging system doesn't rely on this and the messages gets logged to the main output. For this specific case I'm flaggi

[2019-04-09 10:49] creat89 commented on #155
Hello @mhow2, I have modified the code that handles a GitLab token. So, now (or as soon Jenkins finishes building the platform), you can add the properties the token using the property name `gitlabToken`. And in consequence test the big tracker reader that we have developed for GitLab.

[2019-04-10 08:45] mhow2 commented on #155
With the latest build (nb 146 in the CI) I get the following error when starting a task on a GitLab project:

[code]

[2019-04-10 09:05] mhow2 commented on #155
This might be related to the fact that the project was previously existing in the platform with existing analysis data in db. I need to reproduce with an empty db.

[2019-04-10 09:12] mhow2 opened #167 "java.lang.NullPointerException with "codedetection""
Starting from a scratch docker stack, I'm facing this exception when running an analysis on imported GitHub : https://github.com/INRIA/spoon.git

[code]

Attached the whole logs [metric-pf.log.gz](https://github.com/crossminer/scava/files/3062981/metric-pf.log.gz)

[2019-04-10 09:55] creat89 commented on #167
I have a fix for that issue on that classifier. However, this means that all the classifiers will have a similar issue. But for those, the solution, I still don't have it and might be harder than expected to solve it.

[2019-04-10 12:57] creat89 commented on #167
I have solved the bug in commit https://github.com/crossminer/scava/commit/4ac53b04c2886b423d680e267727fccf06769016 as some others with the same nature.

[2019-04-10 12:57] #167 closed

[2019-04-10 13:01] creat89 commented on #121
@mhow2 can we close this issue?

[2019-04-10 13:06] #64 closed

[2019-04-10 13:07] #95 closed

[2019-04-10 13:08] #74 closed

[2019-04-10 13:10] #103 closed

[2019-04-11 06:59] mhow2 commented on #121
I didn't have time to test. I got stopped by others bugs in the way ;)
Will test it by the end of the week.

[2019-04-11 07:03] mhow2 commented on #75
I'm unsure it's a good idea to close that one. And I don't understand how your previous comment fits to the subject @ambpro. Anyway, if the software gets into a beta testing campaign, versioning & proper release management is something you'll need to add.

[2019-04-11 08:04] ambpro commented on #75
Hi @mhow2,
Sorry for the misunderstanding. As we talk before on #slack, the current crossminer's components didn't  follow any versioning management through the development life cycle. Regarding to the beta testing campaign discussed on the last meeting, please feel free to reopen it whenever you want to discuss this subject.

[2019-04-11 08:33] mhow2 opened #168 "error 500 when requesting .../m/ratioUnusedOSGiImportedPackages"
In the latest build , when I look to http://scava-dev.ow2.org:8182/projects/p/xwiki/m/ratioUnusedOSGiImportedPackages I get an error 500

Which is not the case for others metrics

The project is https://github.com/xwiki/xwiki-platform

If I look to the container output, I get this:

[code]

Any clue ?

[2019-04-11 09:00] mhow2 commented on #121
@creat89 if we stick to the original issue request, we are now able to configure a JIRA source when creating a new SCAVA project. However, @ambpro, it's not possible to edit the JIRA settings within the Admin UI afterwards. If it's known and still work in progress please close the issue.

[2019-04-11 09:39] mhow2 commented on #168
Same for `ratioOptionalMavenDependenciesTimeLine`

[2019-04-11 11:34] tdegueul commented on #168
This is a known bug since the refactoring of metric / metricVisualization IDs by @ambpro. I'm on it.

[2019-04-11 12:40] mhow2 opened #169 "JIRA reader metrics looks incomplete"
So now it seems we're able to have some data retrieve from JIRA, but it looks incomplete (or wrong).

The task ran as [in this JSON snippet](https://privatebin.ow2.org/?e1abd0373c293f26#gn2qx4i39bbetEMEDvnvKWMQcvtJqP+ZEzEZRhwipio=) ( analysis from 2019-03-01 to 2019-04-11).
I selected 48 metrics from the Admin UI, filtering on "bugs".

Resulting metrics as CSV : [xwiki-metrics-values.csv.gz](https

[2019-04-11 14:35] creat89 commented on #169
I cannot reproduce the issue. Here is one of the things I can retrieve:
[code]
 The 124 bugs with unknown severity means that they didn't contain any message. Thus, it was impossible to calculate the severity or the sentiments. While for 111 bugs, there was at least one message and we determined that the severity was normal, and the sentiment could be considered as neutral but with a negative tend

[2019-04-11 14:42] creat89 commented on #169
Just as an extra information, this is what I get form the historic emotion metric:
[code]

[2019-04-12 08:56] mhow2 commented on #169
Yes it was

I did another try with today's build (Apr 12 : http://ci5.castalia.camp:8080/job/scava-metric-platform/job/dev/148 ). I still observe the same behavior when looking at the metrics results.

Here are the logs, one is the container output itself, and the later the log which is set up by prop.properties file in oss-app) :

[scava-deployment_oss-app_1-2019-04-12@08:53.log](https://github.c

[2019-04-13 08:30] borisbaldassari commented on #119
@aabherve during our last meeting we talked about a script or a procedure to backup/restore the db.. Could we use this issue to track progress on this? What you proposed seemed to fit well our (ow2's and eclipse's) needs..

[2019-04-15 08:42] creat89 commented on #169
Commit https://github.com/crossminer/scava/commit/cd9dc0c3641f01e2b8fbe1fdd42f78cf0cb29925 should fix the issue and some others that are related.

[2019-04-15 09:37] mhow2 opened #172 "unable to edit existing task"
in the latest build (150), I am unable to edit an existing task. I get an error 500 from the MP's logs instead then the task vanish.

[Download and see the video](https://nextcloud.ow2.org/index.php/s/HYFR8ZxkQCbYQmP/download) to get how to reproduce.

Logs:
[scava-deployment_oss-app_1-2019-04-15@11:17.log](https://github.com/crossminer/scava/files/3079834/scava-deployment_oss-app_1-2019-04-15%401

[2019-04-15 10:07] mhow2 commented on #169
Hi @creat89 , there is some improvements. But I still don't get `emotions` metrics. Attaching the new log files here:
[metric-pf.log](https://github.com/crossminer/scava/files/3079558/metric-pf.log)
[scava-deployment_oss-app_1-2019-04-15@09:49.log](https://github.com/crossminer/scava/files/3079559/scava-deployment_oss-app_1-2019-04-15%4009.49.log)
[xwiki-metrics-values.csv.gz](https://github.com/c

[2019-04-15 10:22] mhow2 commented on #169
I see only 47 metrics ticked in the task. It is likely that I have missed some of the checkbox in the admin UI. I'll check once again to confirm.

[2019-04-15 10:31] aabherve commented on #119
@borisbaldassari The scava-docs / installation guide has bean updated to include Backup qnd Restoration process for  the platform database
https://github.com/crossminer/scava-docs/blob/master/docs/installation-guide/database-backup.md

[2019-04-15 11:12] mhow2 commented on #169
I've been able to get `bugs.emotions` metrics. I restarted from scratch per my previous comment. In the task definition, I chose metrics with filter "**bug**". eg. not **bugs** because if you do that not all the required metrics gets displayed available to select. Total are 50 metrics selected.

[2019-04-15 13:20] creat89 opened #173 "Subject in updated GitHub Issue"
I'm seeing that comments from GitHub issues do not have always a subject. It seems that this happens on comments that were posted on a different day than the issue was created.

[code]
Then if we change of day:

[code]

[2019-04-15 14:19] creat89 opened #174 "org.eclipse.scava.metricprovider.trans.rascal.bugheadermetadata"
Hello,

Today I pushed an commit and at first sight I though that I modified a file from you without knowing. In Scava there is a folder called `org.eclipse.scava.metricprovider.trans.rascal.bugheadermetadata`, however, the project is called `org.eclipse.scava.metricprovider.trans.bugs.bugmetadata`. Do you know, which should be the correct name either of the folder or the project? I don't think it

[2019-04-15 14:53] creat89 commented on #169
So, now that you can get the metrics correctly, can we close this issue?

[2019-04-15 15:04] creat89 opened #175 "Register Project: Mantis BT, BitBucket"
Hello,

In Scava UI there are missing two bug tracker systems: Mantis BT and BitBucket. Could you add them to the UI, so the user partners can start checking that the readers work correctly?

[2019-04-15 15:10] mhow2 commented on #169
OK. I will reopen if I see anything else missing in the metrics. Thanks !

[2019-04-15 15:10] #169 closed

[2019-04-16 07:00] mhow2 commented on #172
thanks Amin, it seems to work. Can you please tell how you find out where the problem was before closing ?

[2019-04-16 08:22] mhow2 commented on #155
Sorry but I'm not able to have the GitLab reader to work. The above` java.lang.NumberFormatException: null` still happen in latest build. Do you have further info ?

[2019-04-16 09:04] mhow2 opened #176 "JIRA reader not working with Atlassian's SaaS"
It seems the system is not able to retrieve issues at the endpoint/query https://bonita.atlassian.net/rest/api/2/search?startAt=0&maxResults=50&jql=project+%3D+%22BBPMC%22+AND+%28updated+%3E%3D+%222019%2F04%2F01+00%3A00%22+OR+created+%3E%3D+%222019%2F04%2F01+00%3A00%22%29&fields=*all%2C-issuelinks

The above query works in a browser when you are authenticated to the service. But in the reader we g

[2019-04-16 09:08] ambpro commented on #172
Actually, the issue was due to the scava apis refactoring on https://github.com/crossminer/scava/issues/145#issuecomment-472918034.

[2019-04-16 09:15] ambpro commented on #172
Btw, I wasn't able to reproduce the same log's issue on dev environnement. In my side, I had `nullPointerException`.

[2019-04-16 09:28] mhow2 commented on #172
We have this too, in the log attached above

[2019-04-16 09:41] mhow2 commented on #164
hi @ambpro , could you have a look ? it could speed up my testing to resolve this. Cheers

[2019-04-16 11:51] creat89 opened #177 "Add projects and tasks from Eclipse for debugging"
Today I'm getting a `java.lang.NullPointerException` in MetricVisualisationExtensionPointManager, more specifically in line 59:
`IExtensionPoint extensionPoint = Platform.getExtensionRegistry().getExtensionPoint(extensionPointId);`

The reason is that Platform.getExtensionRegistry() is returning null and, in consequence, everything is breaking.

The error happens when I try to call `createAnalysis

[2019-04-16 12:00] creat89 commented on #155
@Danny2097, the issue came from the fact that there can be host different than gitlab.com; in the case of OW2, it is gitlab.ow2.org. I have modified in https://github.com/crossminer/scava/commit/9e2bde41b1ea74f22d647ffa32532f7d4f4d79cc the behavior of the reader to use the URL instead of the projectId for retrieving the data. The changes that you have done in the header checking are still needed I

[2019-04-16 16:36] creat89 opened #178 "Overlapping tasks and dates on same project affects Transient Metrics"
The new features of Scava that consist in updating or changing the  metric to apply as well as the range of dates in which the analysis is going to be done, seems to be affecting some transient metrics, and in consequence, some historic ones.

The problem resides on the fact that the Mongo collections of historic metrics some transient, such as severity or emotions, are never drop, they are only u

[2019-04-17 06:35] mhow2 opened #179 "delete project : matching database is not dropped"
I just observed this which incidentally led to #178 while working with @creat89.
When you delete a project from the UI, it looks like it worked (gone) but if you look at mongo the db is still there.
The software doesn't provide any interesting logs entry to show when doing so.

[2019-04-17 08:12] mhow2 commented on #178
To narrow the behavior we are observing, I have run a task **twice** on project https://github.com/docdoku/docdoku-plm with a selection of metrics to produce `bugs.emotions.comments`. The time period is 13/Jan to 26/Jan 2019.

See the resulting JSON below.

We also notice that on the second pass, we get all the days returned in the response.

<details>
  <summary>First pass</summary>

[code]
</det

[2019-04-17 09:28] mhow2 opened #180 "commitsPerDayTimeLine vs commitsovertimeline consistency"
Still on https://github.com/docdoku/docdoku-plm from 1/Feb/2019 to 31/Mar/2019.

And comparing the data [/p/docdokuplm/m/commitsovertimeline](https://privatebin.ow2.org/?1bc726512c1dc9e1#b+ZR2u/yz8AouZTJ3kE4PR9V9mWZpGz7ITrS+sp7csY=) and  [/p/docdokuplm/m/commitsPerDayTimeLine](https://privatebin.ow2.org/?f0436110dab61595#h6KE81QUe3qRYgvJfE6ww/D9sPC1oh4fREcpDerk+d8=)

In `commitsPerDayTimeLine` I s

[2019-04-17 10:05] creat89 commented on #178
Thinking about this issue, I guess the best approach is to create a database for the project that it is directly linked with the task. So, if the task for a specific project is deleted, the DB for that task and project is dropped. If the task is modified, the DB is overwritten (this would have to be done by dropping the DB and creating one with the same name). The name of the DB could be projectID

[2019-04-18 09:55] mhow2 commented on #180
by "weird", I mean that by the data provided above, we have indeed two commits occurred on 20190228. But no more commits has been submitted from there until 20190305 and this is why I would expect to see `0` instead of `2` in those intermediate days.

[2019-04-18 10:00] tdegueul commented on #180
Indeed, this is a known bug that was originally discovered in the UNP use case. Some metric providers do not "reset" over time when no activity is detected. @lmove has a solution for it and we'll fix it asap. Thanks for reporting!

[2019-04-18 14:37] #173 closed

[2019-04-19 07:50] mhow2 opened #181 "collections for a single project spreaded over two dbs"
In this example, I have a task to run over the project https://github.com/KnowageLabs/Knowage-Server

I selected a few metrics about commits (5 of them):

![2019-04-19_09-37](https://user-images.githubusercontent.com/9987241/56413165-d5959300-6286-11e9-900d-abcb0fd8d1f4.png)

now, when I look at mongo I get two dbs with collections in there.
I also notice that `rascal.generic.churn.filesPerCommit.

[2019-04-19 07:57] mhow2 commented on #179
A bit more of info about this issue. Taking the project https://github.com/KnowageLabs/Knowage-Server and reproducing #181 , I get the two dbs `Knowage-Server` and `KnowageServer`.

When I delete this project from the UI, it seems KnowageServer is dropped but not `Knowage-Server`

[2019-04-19 15:26] tdegueul commented on #181
Yup, this is a known bug imported from OSSMETER.

I encountered another bug today which simply breaks _everything_ when a project's name contains a `.` (the case for instance for https://projects.eclipse.org/projects/tools.cdt).

I would suggest to simply post-process project's names and shortNames to remove every special character (`-`, `_`, `.` and the like). The downside would be that projects

[2019-04-19 15:43] ambpro commented on #181
@tdegueul , please feel free to go ahead in order to fix that! thank you :)

[2019-04-19 16:14] tdegueul commented on #179
b5505d484b11fbfbe9f9e1c0c131954acc4ddc4c should help?

[2019-04-19 16:14] tdegueul commented on #181
b5505d484b11fbfbe9f9e1c0c131954acc4ddc4c should help.

[2019-04-20 14:55] tdegueul commented on #177
Hey @creat89. In which context do you run your code? `Platform.getExtensionRegistry()` will always return `null` unless you're calling it in the context of an Eclipse application, i.e., you cannot call this from your own `main()`. Do you observe this behavior when running the full Scava platform?

[2019-04-20 14:57] tdegueul commented on #174
You can go ahead and remove Rascal from the name, indeed. Don't forget to update https://github.com/crossminer/scava/blob/dev/metric-platform/pom.xml accordingly!

[2019-04-20 15:04] creat89 commented on #177
The code that I'm using is similar to the one that was used in Ossmeter to insert projects in the database. In fact, it's only a modified version that now includes elements that are related to the selection of metrics and dates of the analysis. Until not long ago, I could use it without any problems. You can check the code (it might have changed a bit) in https://github.com/crossminer/EHU

Let me

[2019-04-20 15:47] tdegueul commented on #177
It seems that the code you're invoking in `AnalysisTaskService` is Eclipse-dependent (it accesses the platform, bundles, etc.). It is weird to me that you were ever able to make your code work, unless `AnalysisTaskService` wasn't Eclipse-dependent before.

I do not see any easy solution. You should make sure to invoke your code from an Eclipse context to make it work. If you want to create project

[2019-04-20 15:51] creat89 commented on #177
OK, I'll check the proposed solutions. In all the cases, I will at a certain point to install the docker image in our server. But, that method is always harder to debug.

[2019-04-20 16:25] tdegueul commented on #177
Indeed this is painful. You can have a look [here](https://github.com/crossminer/scava/blob/dev/metric-platform/tests/org.eclipse.scava.platform.tests/src/org/eclipse/scava/platform/tests/ProjectAnalysisTests.java) for more inspiration. These tests directly interact with the rest API to import project, create and run tasks, etc. And they are tests so you can easily run them from Eclipse.

[2019-04-20 16:32] creat89 commented on #177
Thank you, I'll check that too.

[2019-04-20 23:04] tdegueul opened #182 "Display platform exceptions in the admin UI"
Exceptions raised when executing metrics are stored in a collection `errors` in the `scava` database (see the DB model in `org.eclipse.scava.repository.model.ProjectError`, which notably contains the stacktrace).

It would be extremely helpful to display these errors/stracktraces somewhere in the admin UI to ease debugging. Something as simple as a list of errors with the associated project and st

[2019-04-20 23:33] tdegueul commented on #182
Copying error logs from `OssmeterLogger` to this `errors` collection might be helpful too. Currently, only exceptions raised by (Rascal?) metric providers are stored there. Logging every error encountered by the platform in the collection would be best.

[2019-04-22 10:34] tdegueul commented on #180
@mhow2  please give it a try with the latest `dev`, this should be okay now.

[2019-04-23 12:44] tdegueul commented on #99
@geryxyz Any news on the issues you encountered with the `M3Builder`?

[2019-04-23 13:30] geryxyz commented on #99
@tdegueul Our problem was detailed at https://github.com/crossminer/scava/commit/b069ccb70907a72f03ba44805070de99827f4656#commitcomment-32331212
Maybe I missed something, but I think we discussed this in Paris and we concluded that you will provide a self contained JAR/Eclipse plug-in for the RASCAL functionality on the plug-in side (I also sent you a memo about this on the same day). https://gith

[2019-04-23 13:32] tdegueul commented on #99
Okay, I see it now, it seems GitHub does not send notifications for comments on commits so I was never able to see it, hence the reminder ;)

Agree with what we discussed in Paris, but I needed to know what was the issue to build a JAR that actually does the job. Thanks!

[2019-04-24 11:05] creat89 commented on #177
By the way, I guess that the `AnalysisTaskService` wasn't before Eclipse dependent, as part of my code (the one that adds the task) comes from the code found here:

https://github.com/crossminer/scava/tree/dev/metric-platform/platform/org.eclipse.scava.platform/src/org/eclipse/scava/platform/analysis/tests

That's how I determined how to add and activate the tasks using external code.

[2019-04-24 11:43] ambpro commented on #175
Hello @creat89 , could you please test it on your side ?

[2019-04-24 13:16] #177 closed

[2019-04-24 14:23] idarav opened #186 "Fix scava-ide compile errors"
Scava-ide cannot be compiled at this time due some errors in the client generated from the OpenAPI specification

[2019-04-24 20:38] MarcioMateus opened #187 "GitHub Reader: "Do not know how to handle this type of error code: 404""
We are getting the following error on during the execution of the metric platform:

[code]

I believe that the error is not related with the execution of any metric but with the Delta creation.

I also found the following lines before the error (not sure if related):
[code]

[2019-04-24 21:57] tdegueul commented on #187
Seems related to Crossflow, not the platform? @crossminer/york

Just a wild guess: are you trying to clone a private GitHub repository? If so, do you have a GitHub token? Without the proper GitHub token, the server will throw a `404` at you. In the metric platform, you can configure it through the admin UI; I don't know if Crossflow picks it from here or another place though.

[2019-04-25 09:32] creat89 commented on #187
This is more related to GitHub reader which in fact uses CROSSFLOW/RESTMULE, than to CROSSFLOW/RESTMULEuniquely.  As @tdegueul says if you're trying to import a private GitHub repository it is necessary to include a GitHub token. If you're using the UI and importing the project from there, the importer will add automatically the token to the reader. If not, you'll need to add the bugtracker system

[2019-04-25 11:37] idarav commented on #186
I've updated the Swagger Codegen to version 3.0.7 and fixed some minor issues in the openapi.json specification

[2019-04-26 09:33] MarcioMateus commented on #187
Yes, we created the property `githubToken` on the administration dashboard. Nevertheless, the project that we are trying to analyse is public.

[https://github.com/sparkfun/SparkFun_MPL3115A2_Breakout_Arduino_Library](url)

Thanks

[2019-04-26 13:20] creat89 commented on #187
@MarcioMateus, I don't know what to answer you, because I arrived to reproduce sometimes the error, but not always, either using a token or not. In most cases, everything run perfectly, so I don't know which is the exact error. And yes, the error is closer to CROSSFLOW/RESTMULE than to us. It might be the case that the RESTMULE do not like a JSON that returns no issues. Still, I have pushed a comm

[2019-04-26 13:25] MarcioMateus commented on #187
That may be the problem. I think that we probably added the project before defining the token. We added some other projects after the token and didn't have this problem.

We will try it out.

[2019-04-26 14:02] creat89 commented on #187
We have found the reason for the issue. @Danny2097 or @creat89 will push the fix ASAP.

[2019-04-26 14:20] creat89 commented on #187
I have pushed a new commit solving the issue with GitHub reader. The error was from our side. Commit https://github.com/crossminer/scava/commit/0277f175a82a0b1bb267c2dec22362bccdb17ac2 should fix this problem.

[2019-04-26 15:03] creat89 opened #188 "ProjectAnalyser not finding all Metric Providers?"
Hello,

I'm having a problem with ProjectAnalyser, which it doesn't seem to be finding all the metric providers. In fact, it is only finding 21 metrics:

[code]

These are always returned, no more no less. The error could be similar to the one described in issue https://github.com/crossminer/scava/issues/116 and issue https://github.com/crossminer/scava/issues/134. However, there, or at least in h

[2019-04-29 08:29] ambpro commented on #188
A few days ago, we did a refactoring to the way in which the platform loads the metric providers https://github.com/crossminer/scava/commit/24090c282c05749005a3574f1765f5f7300c1c17.
Before, the metric providers were loaded and stored in a mongodb collection each time the platform was launched. At runtime, the endpoint `/analysis/metricproviders` retrieved the list of the metric providers stored on

[2019-04-29 08:33] creat89 commented on #188
OK, so why is it finding only 21 metrics? Is there anyway to know why these and not others? I'm sure there are more than 21 metrics with an extension point.

[2019-04-29 08:42] mhow2 opened #189 "register project : mbox/sympa as source"
Hi @crossminer/ehu
In order to test NLP against mailing lists, we still need a way to include an mbox/sympa archive into the platform through the admin UI / REST API as discussed some weeks ago.
It is possible that @borisbaldassari is expecting it too.

[2019-04-29 14:43] tdegueul commented on #188
Strangely, I cannot reproduce this issue.

Both accessing the list of metrics using the REST API (ie. through `:8182/analysis/metricproviders` using [this code](https://github.com/crossminer/scava/blob/dev/metric-platform/tests/org.eclipse.scava.platform.tests/src/org/eclipse/scava/platform/tests/ApiHelper.java#L86-L103)) and using `platform.getMetricProviderManager().getMetricProviders()` return

[2019-04-29 14:52] creat89 commented on #188
I'll let you know about the results.

However, with respect to your last guess, is no. In this case I'm invoking the platform using the product file (although indicating that has to run as ApiServer and Worker). Because, one thing is to add elements to the database and another completely different to run the platform.

[2019-04-29 16:19] creat89 commented on #188
I have pulled the last version of Scava just to be sure that it is the last version. I'm using the run configuration defined by the Product file (and adding only -worker and -apiServer to the arguments only). And I haven't added nothing to the DB, in fact, I've dropped everything, so Scava populate everything in the initial state. When I call `localhost:8182/analysis/metricproviders` I still get 2

[2019-04-30 10:05] creat89 commented on #188
I have solved the problem, or at least partially. I updated locally a NLP tool, and some of the dependencies were not loaded as a plug-in. This had an effect on the modified NLP tool, which at the same time had an effect on the metrics.

[2019-04-30 10:05] #188 closed

[2019-04-30 16:27] creat89 commented on #175
Hello @ambpro, I've just tested the BitBucket reader and it is returning me the following error:
[code]
As well, I'm seeing that the reader has multiple methods that are redundant. So, I'll ask Dan to remove some (user, repository and owner). In the mean time, could you just show url, login and password. We'll make that the reader uses the url to parse the information necessary regarding owner and

[2019-04-30 16:35] creat89 opened #190 "BitBucket Reader Too Many Parameters"
While checking the bitbucket reader on the UI, I noticed that the reader asks for multiple elements that are redundant. More specifically, it asks for `URL`, `Owner` and `Repository`. These two last elements can be obtained from the `URL`. While the element `User` do not seem to have a particular use.

To simplify the elements necessary to fill while adding a BitBucket project in the UI, I have as

[2019-04-30 17:39] creat89 opened #191 "BitBucket Reader and Former users"
BitBucket reader will break if the creator of an issue (and I guess of a comment too) is Null.

The creator of an issue is going to be Null when it is no longer a user from BitBucket.

A reproducible example is:

https://bitbucket.org/fenics-project/dolfin/issues/7

https://api.bitbucket.org/2.0/repositories/fenics-project/dolfin/issues/7

The object returned by the reader has a null in the report

[2019-04-30 17:57] creat89 opened #192 "BitBucket reader not using SetClient"
Checking the code of BitBucket reader, it seems that it is not using at all the `setClient` method that uses the login and password.

However, the reader still works without authentitication.

[2019-04-30 18:00] creat89 commented on #190
In commit https://github.com/crossminer/scava/commit/1bb6a48f22edb647371d2a5775580d1f7930561a, I have included a method that parses the URL of a BitBucket project. It obtains the host (which now can be different than bitbucket.org), the repository owner and the repository.

However, it still contains multiple parameters that are no longer needed. These will have to be deleted once the code related

[2019-05-01 09:24] creat89 commented on #175
Hello @ambpro, creating a project with Mantis BT seems to be generating the correct entry in the DB. Nonetheless, similar to BitBucket, could you remove from the interface and the project creation code the fields `project_id` and `host`? I'll modify the code of Mantis BT, so this information is obtained from the URL.

[2019-05-01 09:27] creat89 opened #193 "Mantis BT Reader and getFirstDate"
The reader for Mantis BT is using the OSSMeter approach based on the method `getFirstDate()`. Thus, running this reader in the current state, do not generate deltas.

[2019-05-01 09:29] creat89 opened #194 "Mantis BT Reader asking for redundant parameters"
Currently for Mantis BT, it is necessary to indicate Token, URL, host and ProjectID. The last two elements can be obtained from the URL.

[2019-05-01 09:37] creat89 opened #195 "Mantis BT Reader might keep in memory multiple issues from previous dates"
Checking the code of Mantis BT Manager, I have noticed that the list that stores the issues is initialized when the Mantis BT Manager is created. This means that one object will store all the information regarding issues from all the projects analyzed with Mantis BT.

Moreover, the list is never emptied, thus it will store the issues of days already analyzed by the platform.

I think that the list

[2019-05-01 09:39] creat89 commented on #194
@Danny2097, for solving this issue you can use the code that I implemented for BitBucket, which from the URL of a project it determines the host and project id.

[2019-05-01 11:56] #174 closed

[2019-05-01 14:20] Danny2097 commented on #192
This issue has now been addressed in https://github.com/crossminer/scava/commit/c5c765f6b3b68728fa0eed015859e66f8037c26b

[2019-05-01 14:20] #192 closed

[2019-05-01 14:22] Danny2097 commented on #191
This has been addressed in https://github.com/crossminer/scava/commit/c5c765f6b3b68728fa0eed015859e66f8037c26b

Essentially the Bitbucket manager now will check for these instances in both issues and comments. If null is detected, the creator field will be populated with the String "Former User"

[2019-05-01 14:22] #191 closed

[2019-05-01 14:25] Danny2097 commented on #190
I have trimmed the Bitbucket model removing all necessary parameters.  I will push these changes once we have confirmation that changes have been implemented in issue #175 to prevent / avoid errors.

[2019-05-02 09:29] creat89 commented on #194
@Danny2097 the fix to this issue has to be posted once issue #175 has been modified to avoid conflicts in the code.

[2019-05-02 10:20] Danny2097 commented on #193
This issue has been fixed in commit https://github.com/crossminer/scava/commit/311df73cfc7239779f66ba1db9d94d5f9fd0db2b

[2019-05-02 10:20] #193 closed

[2019-05-02 10:21] Danny2097 commented on #195
This issue has been fixed in https://github.com/crossminer/scava/commit/311df73cfc7239779f66ba1db9d94d5f9fd0db2b

[2019-05-02 10:21] #195 closed

[2019-05-02 10:22] Danny2097 commented on #194
I have removed all the unnecessary project parameters and will push once we have confirmation that issue #175 has been addressed.

[2019-05-06 08:19] tdegueul opened #197 "Check whether metric documentation exposed at `/metrics` reflect the @doc annotation in Rascal"

[2019-05-06 08:21] tdegueul commented on #137
Only historical metric providers are exposed to `/metrics`, and it seems there is no historical metric provider attached to `committersToday`. I'll work on that and let you know when we have one.

[2019-05-07 09:42] mhow2 opened #198 "GitHub RESTMULE Client crashes when GitHub Server is down"
the project https://github.com/docdoku/docdoku-plm from Jan/01/2018 to Feb/01/2018 , with metric Factoid    "Bug Tracker Usage" ticked in and tell me how it goes ? On my side the task hang on this state:

![2019-05-07_11-40](https://user-images.githubusercontent.com/9987241/57290086-fea68800-70bc-11e9-8a1e-9eb26af9b2a1.png)

With the related log entries:

[code]

And I also get some seconds later

[2019-05-07 10:24] creat89 commented on #198
I can reproduce the error, however, the day (delta) on which the error happens is random. I've seen the error on the first delta, on the second delta or in the 5th delta. It might be an error due to a GitHub API server downtime. However, when triggered this error, it breaks the platform with an issue that cannot be recovered.

In the case of GitHub the RESTMULE client instead of crashing it should

[2019-05-07 12:55] md2manoppello opened #200 "KB: API migration recommendations"

[2019-05-07 12:57] mhow2 commented on #165
Hi, I'm now flagging @crossminer/york

[2019-05-07 13:16] mhow2 commented on #109
@ambpro, if you have an input it could ease the process for https://github.com/crossminer/scava-deployment/issues/49

[2019-05-07 13:37] mhow2 opened #201 "Puppet: viz metrics id, name, description naming"
Hello @crossminer/aueb.
Here is a metric viz as exposed by the rest API:

[code]

 I noticed that the `id`, `name` and `description` fields in the viz metrics exposed at `/metrics` related to Puppet don't contain any mention to "puppet". For instance I believed until to today that those metrics could apply to JAVA code until I had a look at the `metricId` field, and see `puppet` in `org.eclipse.sc

[2019-05-07 13:51] blueoly commented on #201
Hello @mhow2 . To clarify your suggestion, do you mean that it would be better if we add the word "Puppet" in these three fields?

[2019-05-07 14:12] MarcioMateus commented on #109
Hi @mhow2 , I am not sure about this but I think that after all the steps you performed, you were only running one worker (`w2`).
You created structures in the database for 2 workers (`w1` and `w2`) but in the last time that you started the platform you only assigned "processing resources" to `w2`.

Thus this make sense? I also do not know how to have multiple workers running on the same instance

[2019-05-07 14:20] mhow2 commented on #201
In short yes. For others metrics like `newsgroup.*` or` bugs.*` it's already straighforward.
What I mean overall is that the user that develops on the top of the REST API viz metrics (`/metrics`) should clearly understand by the response, to **which kind** of metric he's facing. In fact even the end user should be aware :  Is it about source code ? communication channels ? One can of course take a

[2019-05-07 15:04] blueoly commented on #201
I see your point and I agree. I will align my naming conventions with the other metrics, like bugs.* metrics. I am in the process of adding the final version of puppet metrics and the first version of Docker metric until tomorrow, so your suggestion was right on time. Thank you and please have a look on our metrics when we add the metrics.

[2019-05-08 08:10] valeriocos opened #203 "Scava endpoint /projects/p/<project>/f returns status code 400"
When issuing petitions of the following form `http://localhost:8182/projects/p/emf/f` the content is properly returned but the response is 400.

[code]

[code]

[2019-05-08 08:11] valeriocos commented on #203
@ambpro any idea about this issue (thanks) ?

[2019-05-09 07:54] mhow2 commented on #109
Hi @MarcioMateus,

Of course it makes sense, because it doesn't seem possible to have multiple `-worker` args. I agree with you, it's not logical.

Waiting @ambpro input about it.

[2019-05-09 08:55] mhow2 commented on #179
Doesn't seem to. I still see that for project https://github.com/docdoku/docdoku-plm the database is not dropped when the project is effectively deleted from the UI/API.

Step to reproduce:
- import https://github.com/docdoku/docdoku-plm
- create and start a task wait for it to begin (so the db is created)
- stop the task
- delete the project
At this point you should still see the `docdokuplm` db

[2019-05-09 12:06] creat89 opened #206 "Projects are not dropped from scava-analysis"
Hello,

This issue is similar to https://github.com/crossminer/scava/issues/179 but different in the sense that projects are not being dropped,  after being deleted in the platform, from the `scava-analysis` db, more specifically from the `projects`.

This happens after at least one analysis task has been created for the project. If the task is deleted or the project is deleted, the entry in  `sca

[2019-05-09 12:23] ambpro commented on #109
Hello @mhow2 @MarcioMateus , sorry for the late reply.
I tried to play with the scava-deployment stack and I confirm this behavior.

Totally agree. In this case, just the `w2` worker is running on the metric-platform.
As the 'docker-compose stop' stops the running containers including the `w1` process, restarting the scava-deployment stack will created a new worker on the metric-platform.

Yes, th

[2019-05-09 15:14] mhow2 commented on #109
I understand. The step I have followed created w2 and that's all. But then I have two workers in the UI so I am in position to think that I have two workers available in the PF. It doesn't tell if they are both "online" - naively speaking but... I see two workers. If one can't take jobs for some reason maybe the UI should reflect that.

Now that everything is explained and agreed, can you please s

[2019-05-09 15:28] ambpro commented on #206
@creat89 , I pushed a quick fix for this issue.

The expected behavior is to remove the associated `project` document including its `analysisTasks` documents from the `scava-analysis` database  when a project is removed from the admin-ui.
However, when a task is removed the `project` document is not concerned.

[2019-05-09 15:48] ambpro commented on #203
@valeriocos,  https://github.com/crossminer/scava/commit/0dd3e8d06bf8b0e82fc7ceb78c36e3cd491c5a4a should fix it.

[2019-05-09 15:54] ambpro commented on #109
@mhow2

To avoid confusion, I think th best solution is to clean up the old workers trace from the database  while restarting the stack.

I 'll try to implement it on docker and give you feedback asap!

[2019-05-09 15:57] MarcioMateus commented on #109
We can probably update the `oss-slave` service to work as second worker when uncommented.

Let me test it.

[2019-05-10 09:01] ambpro commented on #175
@creat89 , https://github.com/crossminer/scava/commit/c273022c53d4ec3613eb6e546581a0fc6106f5eb should fix the bts redundant param.

[2019-05-10 10:14] mhow2 commented on #198
Notice that if you wait enough (like 40min), you might see the process to resume:

`INFO  [ProjectDelta (docdoku-plm,20180218)] (09:55:14): Created Delta (2152771 ms)`

So it might not be "crashed" but extremely slowed down by something.

[2019-05-10 10:22] mhow2 commented on #198
flagging @crossminer/york team

[2019-05-10 10:23] MarcioMateus commented on #109
@mhow2 @ambpro can you give a quick test to `multi-workers` branch in `scava-development`?
https://github.com/crossminer/scava-deployment/commit/25797f5027bdb385f07ce60f54c34ff05599aa81

I modified uncommented and modified the service `oss-slave` to start the worker `w2`. In my tests I was able to analyse two tasks in parallel.

[2019-05-10 10:57] valeriocos commented on #203
Thank you @ambpro , it works. I have just pushed a patch to replace that endpoint: https://github.com/crossminer/scava/pull/208

[2019-05-10 10:57] #203 closed

[2019-05-10 11:38] ambpro commented on #109
@MarcioMateus , crossminer/scava-deployment@25797f5 seems to be ok for me.

[2019-05-12 08:44] blueoly commented on #178
I was testing my metric providers today and I also noticed this behaviour (not only in my providers but generally). Specifically, I noticed that if we run two tasks with overlapping dates, then there are multiple entries about the same dates for the historic metric providers. And this seems a serious issue. If I am not terribly wrong, historic metric providers cannot have any info or control thems

[2019-05-12 08:47] blueoly commented on #201
Hi @mhow2 . I have merged the changes that correspond to your suggestions to the dev branch, so you can check if now the info provided from our metrics are self-explanatory enough and if they are, we can close this issue.

[2019-05-13 09:56] mhow2 commented on #109
Thank you both: I just tested that I am able to run two tasks in parallel as well.
Now, I think the documentation has to be updated. There is an existing empty section "Workers Configuration" at https://scava-docs.readthedocs.io/en/latest/installation-guide/docker-installation/

[2019-05-13 10:18] creat89 commented on #178
@blueoly, I don't think that do not execute a historic metric for a specific day if it already exists is a solution either because users can change the starting date for an early one. For example, if starting date was B and then changed to A, the historic metrics between A and B are going to have some data, but the historic metrics from B and forward are not going to consider the values of A, as t

[2019-05-13 22:15] creat89 opened #210 "WorkingCopyFactory returning last version of file"
Hello,

I'm working on retrieving files posted on a GitHub Wiki (which are stored as git projects) using a vcs reader. While using `WorkingCopyFactory` for getting the different versions of a GitHub Wiki, I've noticed that it is returning me the last version of the file, instead of the one asked by the revision hash.

For example, I'm analyzing `https://github.com/creat89/SummTriver.wiki.git`, the

[2019-05-14 00:02] blueoly commented on #210
Hi @creat89. I am also using WorkingCopyFactory to retrieve the different revisions of a repository and it is working fine. I guess that you are not checking out the correct revision based on the deltas, so you are just getting the version of the last commit. Have a look in the following file, it may help you.

https://github.com/crossminer/scava/blob/dev/metric-platform/metric-providers/org.eclip

[2019-05-14 00:07] blueoly commented on #178
I am not sure that the metric providers will not consider the values of the dates that will not be updated. The values will be there, I think that they can use them. But I do not have so thorough knowledge about how the computation of the historic metric providers works under the platform's hood.

[2019-05-14 00:08] creat89 commented on #210
Hello @blueoly, yes, in fact I learnt how to have access to the files checking your code.

I'm using the following approach:

https://github.com/crossminer/scava/blob/dev/metric-platform/metric-providers/org.eclipse.scava.metricprovider.trans.documentation/src/org/eclipse/scava/metricprovider/trans/documentation/DocumentationTransMetricProvider.java

As you can see the commit reference in getting

[2019-05-14 00:36] blueoly commented on #210
It is strange because it seems that you are doing it correctly, unless I am missing something. I hope that @tdegueul will be able to find what I am missing.

By the way, are you sure that you need to do all these iterations in your code? I think that you have to consider only the revision of the last commit for each delta, as we essentially store only one value for each delta/day to mongodb.

[2019-05-14 05:00] creat89 commented on #210
Unless I'm wrong, I have that amount of iteration because I'm considering the fact that in one day, we can push multiple commits that modify different files. So for a specific day, in commit 1, I may have created Home.md and in commit 2, I created Citation.md. By just reading the last commit,, I'm missing the first file, isn't?

[2019-05-14 05:05] blueoly commented on #210
By checking out the last revision of the day, the working folder will contain both files, so I think that you will not miss anything.

[2019-05-14 05:12] creat89 commented on #210
Yes, I see that point. That's useful if we need to analyze all the files in the repository always. But if I need to analyze only those modified in the commits, I need to read commit by commit and get the name of the modified file. Although I can ask only for the files of the last commit of the day, and then filter them according to the modified files.

[2019-05-14 05:17] blueoly commented on #210
It seems it is relevant to the nature of each metric provider. So, in your specific case, you may have to keep the iterations.

[2019-05-14 06:21] blueoly commented on #157
Hi @valeriocos !
I added the Docker Dependencies metric provider. You can get the metrics through the API with the following call:

/raw/projects/p/{projectId}/m/org.eclipse.scava.metricprovider.trans.configuration.docker.dependencies.DockerDependenciesTransMetricProvider

A github repo with a ton of DockerFiles to check the metrics is the following:

https://github.com/balena-io-library/base-imag

[2019-05-14 06:41] valeriocos commented on #157
Thank you @blueoly for the info. Do you have some suggested values for the start and from dates to set up the task analysis in scava?

[2019-05-14 07:25] mhow2 commented on #198
Reproduced the issue yesterday but this time waiting didn't showed anything more.
I get the same exception as above and the latest entries in the log are:

[code]

[2019-05-14 10:01] Danny2097 opened #212 "Inform users of limitations and configuration modifications relating to MantisBT"
An instance of Mantis BT in it's default configuration does not return `closed` issues when a request is made via the REST API ([See this forum post here](https://www.mantisbt.org/forums/viewtopic.php?f=3&t=20599&p=54037&hilit=issues+does+not+closed#p54037)).

 In order for this reader to function correctly (and to analyse all issues regardless of their state) the administrator is required to modi

[2019-05-14 10:07] creat89 opened #213 "Commit 8e6a3d5e merge issues"
Hello @blueoly and all developers,

Commit https://github.com/crossminer/scava/commit/8e6a3d5ee71f8b0d8e2d0b5d0049f114196217ff  when solving some merge problems added some projects that have been removed from the platform for a time. I have found two projects related to us that should not appear anymore, I'll try to remove them in the next commit.

[2019-05-14 10:21] creat89 commented on #213
This projects were added, however, the content only consisted on the .project file. Please check your repositories.
- https://github.com/crossminer/scava/tree/dev/metric-platform/metric-providers/org.eclipse.scava.requestreplyclassifier.opennlptartarus.libsvm
- https://github.com/crossminer/scava/tree/dev/metric-platform/metric-providers/org.eclipse.scava.sentimentclassifier.opennlptartarus.libsvm

[2019-05-14 11:12] Danny2097 commented on #194
To summarise, I removed the `host` parameter, refactor `project_id` to `project_identifier`.
refactored the reader to reflect the changes to the repo model and also removed unused dependencies.

[2019-05-14 11:12] #194 closed

[2019-05-14 11:27] #190 closed

[2019-05-14 11:28] Danny2097 commented on #175
@ambpro / @creat89
In commit:https://github.com/crossminer/scava/commit/679abf60d2ea5db1dbca2be2a77b5ba034816c80 I made the following changes to the **Mantis** repository model;

- Removed `host`: this was redundant as `url` is sufficient.
- Refactored `project_id` to `project_identifier`.

Due to the nature of MantisBT we are unable to remove the `project_identifier` as this is required when requ

[2019-05-14 12:12] blueoly commented on #213
My apologies. When I tried to resolve the conflicts in the feature.xml, all of the file was shown as conflict because at the end of every line there was a special character added (maybe a Windows special character) and I couldn't resolve properly the conflicts as it seems from the result.

[2019-05-14 12:15] creat89 commented on #213
I think it is solved now, I'll close the issue.

[2019-05-14 12:15] #213 closed

[2019-05-14 12:27] blueoly commented on #157
Your dates seem good. I used 05/04/2019-09/05/2019.

[2019-05-14 14:46] ambpro commented on #175
Hello @creat89, could we close the issue as the requirement is addressed ?

[2019-05-14 15:51] creat89 commented on #175
@ambpro I think @Danny2097 needs that for MantisBT a project identifier field.

[2019-05-14 15:52] Danny2097 commented on #175
Yes this is correct.

[2019-05-15 12:45] mhow2 commented on #198
O/ @patrickneubauer are you able to reproduce this ?
I've been able to analyse the full year 2018 of the project yesterday, all metrics enabled, which is good news. It tooks ~4h.

I noticed that some of the deltas are taking a very long time:

INFO  [ProjectDelta (docdoku-plm,20180205)] (10:23:04): Created Delta (3868331 ms)
INFO  [ProjectDelta (docdoku-plm,20180304)] (11:02:49): Created Delta (15

[2019-05-16 10:50] mhow2 opened #218 "smells viz : y doesn't match any field name in datatable"
See example below. To me the name shouldn't be `Smells` but `ImproperShellSmells` or at least that the name of the columns match the `x`/`y` fields name.

It might affect others metrics.

[code]

[2019-05-16 10:52] valeriocos commented on #218
Thank you @mhow2 for reporting this issue. @blueoly please let me know once the bug is fixed because the scava2es code should be updated accordingly: https://github.com/crossminer/scava/blob/5466590d213a050b79312958e367163866f61380/web-dashboards/scava-metrics/scava2es.py#L225

thanks

[2019-05-16 10:56] mhow2 opened #219 "metric (viz) bugs.cumulativeAverageResponseTime-bugs possibly misses Date"
As told to @creat89 and @Danny2097  , it seems` bugs.cumulativeAverageResponseTime-bugs` doesn't include the `Date` field in `datatable` node. I wonder if it's expected or if the metric could have a meaning without it.

[code]

[2019-05-16 11:46] kb634 commented on #198
Hi @mhow2 we plan to look at this bug as soon as we wrap up current ongoing developments, very likely within the upcoming week. We will update this thread as soon as we have a solution or need more information, and thank you for the information provided already.

[2019-05-16 12:56] md2manoppello commented on #161
KB stores metric raw data by /api/artifacts/store-metrics rest innterface.
Here an instance:
[code]
it returns true if the metric is stored.

[2019-05-16 13:11] md2manoppello commented on #158
@geryxyz
KB lists the versions of used dependencies by /api/recommendation/version/ rest interface.
Here a post instance:
[code]
a simple json query object:
[code]

[2019-05-16 13:26] blueoly commented on #218
Thank you @mhow2 for your suggestions. I fixed the names and merged (714be60) the changes into dev branch.

[2019-05-16 13:35] mhow2 commented on #219
@Danny2097 , below is the info you asked : the list of viz metrics that don't have a 'Date' dimension.
For `coreCommittersChurnBar` it is expected as there is no time dimension in this metric.

[code]

[2019-05-16 18:50] creat89 opened #221 "Commit Problem"
Hello,

One commit removed several elements that make my local version to do not work anymore. Among the elements the removed that I can see is that all the new tools developed on NLP are not anymore linked to the features.xml.

For example, you cannot find anymore the features with NLP, such as org.eclipse.scava.nlp.classifiers.sentimentanalyzer:

https://github.com/crossminer/scava/blob/dev/metr

[2019-05-16 18:59] creat89 commented on #221
I have other examples. From this:

https://github.com/crossminer/scava/blob/da490b86a30747bb61b0317d8d7e292058fedaee/metric-platform/platform-extensions/org.eclipse.scava.repository.model.github/META-INF/MANIFEST.MF

To this:

https://github.com/crossminer/scava/blob/dev/metric-platform/platform-extensions/org.eclipse.scava.repository.model.github/META-INF/MANIFEST.MF

How can that happen?????

[2019-05-16 19:02] blueoly commented on #221
Hi @creat89 . The commit that you posted was mine. But this commit was made in order to re-add the metric providers that I have implemented that were removed by this commit (1b773e9).

[2019-05-16 19:05] creat89 commented on #221
@blueoly, I don't think it was you or only you. Look in https://github.com/crossminer/scava/commits/dev/metric-platform/platform-extensions/org.eclipse.scava.repository.model.github/META-INF/MANIFEST.MF
I don't see your username commiting on that file.

[2019-05-17 06:47] mhow2 opened #222 "bugs.activeusers vs bugs.activeinactiveusers inconsistency (Date) ?"
Is there a reason why we don't get the same result between the two viz metrics ? They don't start at the same timestamp ?

[code]

And,

[code]

[2019-05-17 07:12] creat89 commented on #222
I'm guessing because for starting the metric inactive users you need at least one inactive user. I'm sure that in the db you can see the empty entries from the starting day of analysis. Moreover, the visualization do not fill entries with empty data.

[2019-05-17 07:28] mhow2 commented on #222
Right, but isn't `bugs.activeinactiveusers` expected to track active users too, in the same way `bugs.activeusers` is ?

[2019-05-17 07:30] creat89 commented on #222
I'll ask Yannis.

[2019-05-17 08:02] mhow2 opened #223 "LOCoverfilesovertime : "Language" series has no matching column"
If I'm not wrong, either their should be a col with name `Language` or maybe there is no matter of _Language_ at all in this metric.  Could you advise @tdegueul and relabel the issue as appropriate ?

[code]

[2019-05-17 09:39] davidediruscio commented on #221
Hi Adrian

I guess this is due to the last commit about the new target definition. @tdegueul , @ambpro Am I wrong? could you please have a look?

Thanks
Davide

[2019-05-17 09:47] creat89 commented on #221
Hello @davidediruscio,

We were discussing this issue yesterday on Slack, they are checking the issue.

[2019-05-17 09:48] blueoly commented on #221
Hi Davide,

we had a short discussion with Thomas in Slack yesterday afternoon and the problem is indeed the merge of the target-definition. They are checking it.

[2019-05-17 09:55] creat89 commented on #222
@mhow2 The code will now set the number of inactive and active users since the moment at least one user exist in the DB. This will solve the case that you're observing, however, now, `bugs.inactiveusers` will start showing zeros before there is an inactive user.

[code]

[code]

[code]

I'll push the commit as soon as issue https://github.com/crossminer/scava/issues/221 is solved.

[2019-05-17 13:01] Danny2097 commented on #219
@mhow2, following a discussion with Yannis. We are still unsure why there is no `date` included in the visualisation. We will investigate the feasibility of adding it and get back to you

[2019-05-17 13:15] creat89 commented on #219
hello @mhow2, I'm checking the issue, and the pattern I'm seeing is that these metrics (except for the rascal one) are considered as not using time series. I might be able to add to the json the date as in the DB it appears the field. And in theory if  they are visualized using the visualizer, the data should plot in terms of bugs or threads, instead of the day.

[2019-05-21 09:53] mhow2 commented on #155
@creat89, @Danny2097 : I still have the following issue (with GitLab token registered *before* project creation):

[code]

[2019-05-21 12:30] #168 closed

[2019-05-21 12:32] tdegueul commented on #157
@valeriocos did some great work on this. I close. Please open new issues for other tasks related to the dependency dashboard.

[2019-05-21 12:32] #157 closed

[2019-05-21 12:33] tdegueul commented on #156
A preliminary version of the Arduino/C++ metrics is here: https://github.com/tdegueul/arduino-analysis/. We'll follow up on this.

[2019-05-21 12:33] #156 closed

[2019-05-21 12:34] tdegueul commented on #149
I hope this one was resolved by the last commits related to Delta creation. Please re-open otherwise!

[2019-05-21 12:34] #149 closed

[2019-05-21 13:19] #222 closed

[2019-05-21 13:58] mhow2 commented on #155
@ambpro , please, can you take a look.

[2019-05-21 15:16] #187 closed

[2019-05-22 09:21] #221 closed

[2019-05-22 09:54] mhow2 commented on #155
Today I get this when running a task on https://gitlab.ow2.org/asm/asm and a valid token  (not sure it is related ) :

[code]
Also attaching the internal MP's log :
[metric-pf.log](https://github.com/crossminer/scava/files/3206782/metric-pf.log)

All in all there is no Exception raising anywhere... I don't understand this crash.

[2019-05-22 09:59] mhow2 commented on #180
Yes it's looks ok thank you for taking care.

[2019-05-22 09:59] #180 closed

[2019-05-22 10:04] creat89 commented on #155
@mhow2, I don't think it is related to the GitLab reader anymore. For what you're showing in the message there was an issue with the `org.eclipse.scava.metricprovider.historic.configuration.puppet.dependencies`, which couldn't find a metric. I think you should open an issue tagging @blueoly. Have you seen this issue with other metrics but the configuration ones?

[2019-05-22 12:43] #164 closed

[2019-05-22 13:05] ambpro commented on #172
Hi @mhow2, does the commit https://github.com/crossminer/scava/commit/1586b551d968733d7fe7fc293e69a27d4f0508ec fix the isssue?

[2019-05-22 14:07] md2manoppello opened #231 "KB: The pagination of search results is not working"
@geryxyz please check it

[2019-05-22 14:11] #231 closed

[2019-05-22 14:24] #161 closed

[2019-05-22 14:25] #152 closed

[2019-05-22 14:55] #163 closed

[2019-05-22 14:58] blueoly commented on #155
@mhow2 @creat89 Hello,

after the revertion of the unsuccessful merge from Amin, the definition of the puppet dependencies metric providers were erased from the feature.xml, so it is possible that the metric failed because of that. I have addressed this late last night (or early this morning, it depends on the perspective) with this commit 765074b. Martin, please rebuild docker containers with the

[2019-05-22 15:05] md2manoppello commented on #99
@geryxyz
KB lists the recommends the next api function calls by ```/api/recommendation/focus/``` rest interface.
[code]
Here a post instance:
[code]
and a simple json response object:
[code]

[2019-05-23 11:58] #219 closed

[2019-05-23 15:07] mhow2 opened #237 "import several instances of a same project"
Let's say I import the project https://github.com/docdoku/docdoku-plm.git into the system and analyzed one year of data.

What If I want to update the data ? adding or restarting a task in the existing project and I would bump on #178. On possible workaround would be to import the same project a second time as another name, in which I would start another analysis - but it is currently not possible

[2019-05-23 15:30] mhow2 commented on #179
FYI @ambpro , @tdegueul it is still broken. I am able to reproduce. However, it seems to work with https://github.com/INRIA/spoon so I don't understand what is going on.

[2019-05-23 15:37] tdegueul commented on #179
We had issues with special character in project names so I pushed b5505d484b11fbfbe9f9e1c0c131954acc4ddc4c to unify them. The part of the code that takes care of removing the databases probably does not use `shortName` but something else. @ambpro @aabherve any idea where is the code that deletes the DBs to make sure it uses the `shortName` convention?

[2019-05-23 15:44] mhow2 commented on #155
hi @blueoly ; I just tested with https://gitlab.ow2.org/sat4j/sat4j on a new deployement (dev branch as usual) and I get:

[code]

If you look at your Slack PMs, I provided a gitlabToken - that would help you reproduce the things up directly on your side.

[2019-05-23 15:46] ambpro commented on #179
@tdegueul, the code responsible to remove the projects DBs is [here](https://github.com/crossminer/scava/blob/dev/metric-platform/platform/org.eclipse.scava.platform.client.api/src/org/eclipse/scava/platform/client/api/ProjectDeleteResource.java#L62).

[2019-05-23 15:57] creat89 commented on #155
@mhow2 If you have that issue, that concerns us, as you can see the error is at the delta creation. I'll check the issue.

[2019-05-23 16:29] creat89 commented on #155
@mhow2, I tested by myself the code at that days and for that project, and I couldn't reproduce the issue. It is weird that the server didn't return that part of the headers correctly. I have pushed a commit https://github.com/crossminer/scava/commit/70a07f7d73c8eb2e98ebc664e3c2bd14c63e6636 which should solve the issue once for all. Moreover, print on the logger the issue encountered.

[2019-05-23 16:37] tdegueul commented on #179
Thanks @ambpro! #238 should solve the problem then, right? If it looks good to you, please merge! Let us know how it goes @mhow2!

[2019-05-24 07:09] mhow2 opened #241 "issue with failing org.eclipse.scava.metricprovider.historic.configuration.puppet.dependencies"
Hi @blueoly,

Please can you take a look at this. Running an analysis on https://gitlab.ow2.org/sat4j/sat4j just crash the worker with the following error:

[code]

[2019-05-24 08:11] ambpro commented on #179
Thank you @tdegueul for the fix, it works fine right now. @mhow2, I am able to drop both the https://github.com/KnowageLabs/Knowage-Server and https://github.com/docdoku/docdoku-plm projects.

[2019-05-24 10:12] mhow2 opened #242 "scava2es "could not find collection""
Hi @valeriocos,
If you're not aware already (but I think you are), when scava2es runs it seems the MP complains for non existing collections (it is not an except of the log).

[code]

[2019-05-24 10:27] mhow2 commented on #218
Look good to me, thank you @blueoly

[2019-05-24 10:27] #218 closed

[2019-05-24 10:32] mhow2 commented on #179
Thanks. It seems to work, closing !

[2019-05-24 10:32] #179 closed

[2019-05-24 10:36] mhow2 commented on #206
On my side (and as of today build), when I delete a project I observe what @ambpro explained above, which looks consistent.

[2019-05-24 10:36] mhow2 commented on #189
Waiting for a merge in "dev" so I can test.

[2019-05-24 10:37] mhow2 commented on #201
LGTM !

[2019-05-24 10:37] #201 closed

[2019-05-24 10:38] #206 closed

[2019-05-24 10:44] mhow2 commented on #176
What about that one ?

[2019-05-24 10:46] mhow2 commented on #172
it is.

[2019-05-24 10:46] #172 closed

[2019-05-24 10:50] mhow2 commented on #160
`bugs.cumulativeNewUsers`'s datatable looks ok on my side currently. What about this issue @ambpro ?

[2019-05-24 10:56] Danny2097 commented on #189
@mhow2 I am currently working on resolving some merge conflicts before I can merge to the `dev` branch. I will update you as soon as this has been completed.

[2019-05-24 11:03] mhow2 commented on #154
Now, I'm having the following:

[code]

[2019-05-24 11:11] creat89 commented on #154
Is it a public repository?

[2019-05-24 11:16] mhow2 commented on #154
Good question : the answer is yes. As SCAVA is not able to crawl non public repo, as far as I know.

[2019-05-24 11:45] ambpro commented on #160
the commit https://github.com/crossminer/scava/commit/f221683f24d9fc99e4ae2f9a97093d8042a1e17b should fix this issue, I close it !

[2019-05-24 11:46] #160 closed

[2019-05-24 11:58] creat89 commented on #154
I couldn't replicate the issue, with and without token, and using directly the bug tracker reader or using the importer. The worst thing is that RESTMULE client do not tell us much more than Error 404, which could only mean that the repository wasn't found or was private.

The bug tracker reader is able to read private repositories if the token provided has been allowed to read that repository. I

[2019-05-24 12:57] blueoly commented on #241
Hi @mhow2 !

I think that commit bb18cd6 solves this issue. I have mistakenly added as dependency for PuppetDependenciesHistoricMetricProvider itself instead of its Transient counterpart (PuppetDependenciesTransMetricProvider). It now should work properly. Please, if you check it and it is fine, close the issue.

[2019-05-27 14:29] mhow2 opened #244 "file (or socket) descriptors leak"
As already mentioned in Slack in the general channel:

I'm running the regular docker stack with one slave.
Two analysis in // , year 2018, all metrics on projects https://github.com/INRIA/spoon/ and https://gitlab.ow2.org/clif/clif-legacy

Once started, I gather both MP's PIDs 10959 (w1 clif-legacy),  10985 (w2 spoon) and run:

`watch 'sudo lsof -p 10959 -p 10985 |wc ; sudo lsof -p 10959 -p 10985

[2019-05-27 19:35] blueoly commented on #244
If my code was to blame for this issue, then aac36db should fix it. @mhow2 please check it.

[2019-05-28 07:17] mhow2 commented on #109
Hi @ambpro, @MarcioMateus
I see two things to do before closing this issue. The first one is to updated the documentation (see above) and the second is to check everything is ready-to-use in https://github.com/crossminer/scava-deployment/blob/dev/docker-compose-build.yml and https://github.com/crossminer/scava-deployment/blob/dev/docker-compose-dockerhub.yml

[2019-05-28 07:37] mhow2 commented on #244
Unfortunately, it doesn't solve the issue. I'm still hitting several thousand of threads. Did you test it on your side ?

On my side, I did produce a [stack trace](https://github.com/crossminer/scava/files/3226108/ossapp.threaddump.gz) please have a look.

[2019-05-28 07:44] mhow2 commented on #244
I just reproduced the issue with https://gitlab.ow2.org/clif/clif-legacy you can have a look to this project specifically when testing.

[2019-05-28 14:18] creat89 commented on #244
I was able to reproduce the issue. Here is the things that I used to reproduce it:
- Project: https://gitlab.ow2.org/clif/clif-legacy
- Date range: 01/01/2018 - 31/12/2018
- How was reproduced: Using Eclipse in Debug Mode (The next post will be in normal mode)
- Description:
The issue started to become noticeable when the delta to analyze was the 15/03/2018. The logs shown by Eclipse showed that t

[2019-05-28 15:17] mhow2 opened #246 "strange result with bugs.unansweredBugs"
Still on the good old https://github.com/docdoku/docdoku-plm project

In the following result provided by the platform, I got the feeling there is something wrong as the value suddenly going from zero to 65 on 20180316.

Could you have a look ?

[code]

[2019-05-28 15:38] creat89 commented on #244
I was able to reproduce the issue again, but this time in normal mode instead of debug mode. Here is the things that I used to reproduce it:

 - Project: https://gitlab.ow2.org/clif/clif-legacy
 - Date range: 01/01/2018 - 31/12/2018
 - How was reproduced: Using Eclipse
 - Metrics used: Only one, org.eclipse.scava.metricprovider.trans.plaintextprocessing.PlainTextProcessingTransMetricProvider as Ma

[2019-05-28 16:34] creat89 commented on #246
Hello @mhow2,

Believe it or not, a miracle happened the 16/03/2018 on docdoku-plm project: A github user woke up with the goal of replying, updating, even closing very old issues. 🤣

Here are some examples:
- [871](https://github.com/docdoku/docdoku-plm/issues/871)
- [838](https://github.com/docdoku/docdoku-plm/issues/838)
- [873](https://github.com/docdoku/docdoku-plm/issues/873)
- [885](https:/

[2019-05-28 16:34] #246 closed

[2019-05-29 00:03] blueoly commented on #244
I took a look at the recordings that Adrian sent. The recordings do not show that there is an excessive use of memory. I could not come to a conclusion.

[2019-05-29 05:18] creat89 commented on #244
I will test today with other readers. Just to know whether the issue comes from the platform or from gitlab reader.

[2019-05-29 10:13] mhow2 opened #247 "review viz metric description and names"
We need to make the metrics name and description - which are available from the REST API then displayed in the dashboards and so - to be as clear as possible.  For instance, for `bugs.bugs` currently has `The number of bugs per day, up to and including the current date.` when in fact it could be more consistent with `The number of bugs per day that have been updated, commented or submitted up to a

[2019-05-29 10:21] mhow2 opened #248 "dealing with zero values in viz metrics (especially duration-related ones)"
as discussed with @creat89 and @valeriocos, `bugs.averageResponseTime` (among other metrics) reports day sample with :

[code]
However value 0 here doesn't mean the response time is of zero seconds, it rather means there was no data to report on at all. So I guess we shouldn't have a `datatable` entry for those.

We have to remember than in later processes we should be able to sum the values and g

[2019-05-29 12:12] tdegueul commented on #244
Hi everyone,

After closer inspection, I may have found the problem based on two observations:

  - Thread explosion coincide with Delta creation
  - The problematic threads are of the form `pool-X-thread-1`, with `X` reaching the tens of thousands

This means that during Delta creation, the platform is creating thousands of Thread pools that all contain a single thread. Diving a bit into the code

[2019-05-29 12:24] creat89 commented on #244
Hello @tdegueul, I cannot tell exactly as I'm not the developer of that code, it is @Danny2097. I agree that the thread should be terminated and yes, the goal is to wait until we can have more calls to do the requests. However, if I understand well the code, that thread is only triggered once we have reached too many requests. The tests have been done using OW2's Gitlabs server, which do not set a

[2019-05-29 12:34] tdegueul commented on #244
I'm not sure when the code is actually invoked.

The method `public void setClient(GitLabTracker gitlabTracker) throws IOException {` is kinda weird. The method recursively calls itself (?) through the use of threads (?) (ie. creates a `Runnable` that calls the method that creates the `Runnable`), and, if there is **no** "too many requests" (`open_id.contains("Too Many Requests") == false`), runs

[2019-05-29 12:35] Danny2097 commented on #244
The idea behind the scheduled executer is to provide a mechanism to the readers which when the call counts reach zero or when a Oauth token expires it will pause until the either a new token is generated or the call counter resets.

I am open to other suggestions to implement this kind of functionality into the readers.

[2019-05-29 13:30] Danny2097 commented on #244
Following discussions with @tdegueul  and @creat89  I have removed (eb506921c55cddb592ee1933d470a006d6297731, 8b232557ccb488be17554eb9dcfca25b7c9927bb, d68be58097cbeb634b670ed6defda0d08fb72d07) the problematic code from the following readers `gitlab` `bitbucket`. We are currently working on a fix for `eclipse forums` as this supports OAuth authentication.

[2019-05-29 14:25] tdegueul commented on #244
It seems this was the issue and `clif-legacy` isn't running wild on my machine anymore... Please let us know @mhow2!

[2019-05-29 15:53] creat89 commented on #248
hello @mhow2, I have pushed in https://github.com/crossminer/scava/commit/8582cec9574d23130d69ae02e11e6505aa918134 some modifications to metrics that had that issue. Let me know.
Visualization Metrics modified:
- bugs.averageResponseTime
- bugs.cumulativeAverageResponseTime
- bugs.bugOpenTime
- bugs.severity.averageResponseTime
- newsgroups.averageResponseTime
- newsgroups.cumulativeAverageRespons

[2019-05-29 16:17] Danny2097 commented on #189
Hi @mhow2 @ambpro,
We recently merged the `EHUforums` branch in to the `dev` branch. As a result the *Sympa* reader is now available within the platform and now requires the ability to register a Sympa project via the UI.

I have provided details below regarding the current project parameters:

The following are *Mandatory*:

- `MAILINGLISTNAME`= _Name of the mailing List_
- `MAILINGLISTDESCRIPTIO

[2019-05-30 13:48] nnamokon opened #251 "register project : irc as source"
Irc reader is now available within the platform and requires the ability to register an Irc project via the UI. Please see the project `org.eclipse.scava.repository.model.cc.irc` parameters below:

Mandatory parameters:
URL = URL for where the Irc dumps are going to be stored
NAME= Name of the Irc
DESCRIPTION = description of the Irc
COMPRESSEDFILEEXTENSION = file extension of the compressed archi

[2019-05-30 17:02] creat89 opened #252 "Register project: Documentation Readers"
Hello,

I have finished the last elements for the documentation readers and they can be now added to the platform UI.

More specifically there are two (three depending on the capacities of the UI) types of documentation:
- Git-Based (`org.eclipse.scava.repository.model.documentation.gitbased`). The requirements are the same as a Git project (ony `URL`), as it is based on it.
- Systematic (`org.ecl

[2019-05-31 07:33] mhow2 commented on #248
Thanks @creat89.
One needs to redo the project analysis to get proper records in database, right ?

[2019-05-31 07:37] creat89 commented on #248
Yes, I think so. As they are based on Mongo DB and I modified when elements were stored.

[2019-05-31 10:29] mhow2 opened #253 "scava2es fails to upload to ES at some point"
We have the following issue that is coming back. I thought it was solved in some way, but it's not.

At the beginning of the import process, it seems to work but after ~115 chunks ES is going away

[code]

Then:

[code]

[2019-05-31 10:32] mhow2 commented on #253
Maybe we need to "wait" for ES a little more, either with a timer between each chunk or better, if possible by checking if the cluster is ready to take more data.

[2019-05-31 10:52] mhow2 commented on #253
It seems I have solved the issue by tweaking `http.max_content_length` to `500mb` in the ES container. Default is `100mb`. Of course I suppose that we could either reduce the number of items per bulk.  @valeriocos could you update this config value upstream in the container config file ?

[2019-05-31 11:05] valeriocos commented on #253
Thank you @mhow2 for reporting this issue. What do you think if we add a new env variable here:
https://github.com/crossminer/scava-deployment/blob/dev/docker-compose-build.yml#L176 ? The variable will set the bulk-size here: https://github.com/crossminer/scava-deployment/blob/dev/dashboard/importer-scava-metrics.sh#L7

[2019-05-31 11:38] mhow2 commented on #244
Today I have deployed the new build and tried twice on the same project `clif-legacy`, whole 2018, all metrics.

The first time I got crazy a load average (like 100) so I stopped the platform.

Now that I'm running the second try, it is not "wild" but I can tell for sure there is still an issue somewhere. Currently at 63% of the analysis, there are about 4000 threads running on the server and arou

[2019-05-31 11:53] creat89 commented on #244
@mhow2 Which project/reader is the concerning one?

[2019-05-31 11:54] creat89 commented on #244
@mhow2 Which metrics are you running? Are you using all the metrics?

[2019-05-31 12:03] mhow2 commented on #244
All metrics.
I got clif-legacy analysis to finish ! ... Well it's finished but I still see 2700 sockets open and about 5000 threads.

[2019-05-31 12:25] creat89 opened #254 "Kibana Scava-Sentiment"
Hello,

I'm checking that the Kibana, when we ask for Scava-Sentiment we get the data regarding emotions instead of sentiment. Is there any particular reason for that? There are two different metrics one for sentiments and other for emotions. In the former, there are only three possible values positive, negative and neutral, which are represented as numerical values between -1 and 1. For the emoti

[2019-05-31 12:32] valeriocos commented on #254
Thank you @creat89 for opening this issue. The idea is to rework this dashboard according to what you reported (and also according to a previous comment from @mhow2 https://github.com/crossminer/scava/pull/235#issuecomment-495562622).

If you agree, once the dashboard is ready I'll ask you to review it. Thanks

[2019-05-31 12:36] creat89 commented on #254
Cool, I didn't found issue #235, but, yes, I've seen that you have discussed that already. I'll help you if you have questions or want feedback.

[2019-06-01 11:43] creat89 opened #255 "Indexing execution timing"
I think that in occasions the indexing metrics are being called before the the transient metrics have finished of doing its work.

In ProjecyAnalyser.java code, I see that the indexing tools have been split from the other branches, as if they were factoids. However, the code that runs factoids are after a code that ensures that it will be run at the end of the day of analysis.

If I remember well,

[2019-06-01 12:01] creat89 commented on #255
Commit https://github.com/crossminer/scava/commit/feecc8d1c4437d2e3668dde94ebea5e6707f013b shoulf fix the issue, but more testing must be done. Now, by commenting some lines, the indexing metrics are run after the historic metrics, but before the factoids.

[2019-06-01 12:43] creat89 commented on #244
hello @mhow2, I have pushed a commit that might be also related to this issue: https://github.com/crossminer/scava/commit/feecc8d1c4437d2e3668dde94ebea5e6707f013b

Because the indexin metrics was being executed at the same time than the transient metrics, instead at the end. Le me know if you see any changes.

[2019-06-02 13:57] valeriocos commented on #253
@mhow2 a PR is available on scava-deployment repo: https://github.com/crossminer/scava-deployment/pull/64. Would you mind review it, thanks ?

[2019-06-02 14:43] valeriocos commented on #242
I'm not sure this is an issue with scava2es, I would say that it comes from `oss-app` for the following reasons:
1) The message `Could not find collection` is produced by `oss-app` (please see an excerpt below).

[code]
2) The scava2es does nothing else than query the SCAVA API. In particular, first it retrieves the metrics available for a project using the call `http://localhost:8182/metrics/p/<s

[2019-06-02 14:49] valeriocos commented on #242
@mhow2 I guess the right person to address this issue may be @ambpro . I remove myself as assignee.

[2019-06-02 23:45] blueoly commented on #244
Hello. I just faced the following error, while I run all the metrics for a period for around a month at this repo https://github.com/ruby/ruby .

https://gist.github.com/blueoly/5d8d8d77ffe9b8a7e216a045dc74456c

[2019-06-03 04:03] creat89 commented on #244
@blueoly, I had that issue but here https://github.com/crossminer/scava-deployment/issues/63. I'm not sure it's related to this issue. I thought that it was related to using a local generated version of the metric platform.

[2019-06-03 06:36] mhow2 commented on #244
I'm just posting this two pics to illustrate the fact that the thread/memory allocation is growing even after the task (on `clif-legacy`) is reported as finished in the admin UI.
![threads-pinpoint=1559283364,1559553796](https://user-images.githubusercontent.com/9987241/58780884-9a52e780-85da-11e9-90e4-30d396755db2.png)
![memory-pinpoint=1559285956,1559546884](https://user-images.githubusercontent

[2019-06-03 08:05] phkrief opened #260 "Like for TripAdvisor"
Would it be doable the present the comments (resp. the forums) like TripAdvisor does:
![image](https://user-images.githubusercontent.com/6196602/58785726-5fef4780-85e6-11e9-8a4d-5ec74346f4da.png)
Where instead of Excellent, Very Good, Average, Poor, Terrible, we could have Love, Joy, Surprise, Sadness, Fear and Anger.
But, the most important, if it is possible, would be able to retrieve the commen

[2019-06-03 08:06] mhow2 opened #261 "dev dashboard : update default font size for avg/median... display"
![2019-06-03_10-02](https://user-images.githubusercontent.com/9987241/58786094-1e12d100-85e7-11e9-8381-d461bf6144fd.png)

a size of `18` would be enough.

[2019-06-03 08:23] mhow2 commented on #260
Do you mean it would be the overall emotions distribution for the whole forum (all threads) of a specific project ? (related to the selected time span in Kibiter). Could be interesting for bugs comments too in our UC.

[2019-06-03 08:32] phkrief commented on #260
yes, it is what I meant and yes, of course, it would be listed for a specific time period define in Kibana.

IMHO, for each metrics, when it is possible, we should be able to point to the code, the comment or the configuration file which contributed to the metrics

[2019-06-03 09:53] mhow2 opened #262 "possible issue with viz bugs.bugOpenTime"
on `clif-legacy` project, I have the issue https://gitlab.ow2.org/clif/clif-legacy/issues/317629#notes which I expect to fall into the viz metric `bugs.bugOpenTime` but I get an empty `datatable` instead when running the analysis on year 2018

[2019-06-03 10:47] creat89 opened #263 "Gitlab Reader not updating closing time"
When a bug in Gitlab has been closed, the reader is not setting the closing date in the issue object. This affects in consequence the outcome of metrics such as opentime.

This issue is related to issue https://github.com/crossminer/scava/issues/262.

[2019-06-03 10:51] creat89 commented on #262
@mhow2, there is a bug in GitLab reader, that was the reason why the metric wasn't generating the correct output.

[2019-06-03 11:30] blueoly commented on #244
Hi @creat89 ,

I saw your issue but in my case I noticed a memory related warning before the error stack trace and this is the reason I put it here.

OpenJDK 64-Bit Server VM warning: INFO: os::commit_memory(0x0000000678f00000, 665321472, 0) failed; error='Cannot allocate memory' (errno=12)

I do not know if this is the case for you too.

[2019-06-03 12:07] tdegueul commented on #244
@mhow2 @blueoly If you're using the latest version of  `scava-deployment`, the port 8192 should now be exposed by `oss-app` to enable remote debugging and profiling. Do you have public instances of Scava where the problem occurs and the port 8192 is exposed that I could connect to?

[2019-06-03 12:10] blueoly commented on #244
It was not a public instance. I will ask my admin to open that port and I will come back to you.

[2019-06-03 13:48] creat89 commented on #244
Yes, in my case it works. I guess I used the wrong port on Saturday

[2019-06-03 15:25] ambpro commented on #242
@mhow2 the commit 8374e04945fae6f2235a92ed40c2b57677478db1 should fix the issue.

[2019-06-03 15:43] valeriocos commented on #242
Thank you @ambpro I'm going to check it right now

[2019-06-03 21:00] Danny2097 commented on #263
I have fixed the issue in the code. Will test and push in the morning.

[2019-06-04 06:22] valeriocos commented on #242
Thank you @ambpro for the fix, the log message shows up less than before- However for some metrics which have empty/null values (`newsgroups.cumulativeArticles`), the log message is still outputed.

[code]

[2019-06-04 06:28] valeriocos commented on #253
Can we close this issue @mhow2 ?

[2019-06-04 06:36] valeriocos commented on #261
It should be fixed with: https://github.com/crossminer/scava/pull/264

[2019-06-04 06:50] mhow2 commented on #253
Hi @valeriocos, OK we can close.
But as said in a previous comment here, I would tweak [`http.max_content_length`](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-http.html) a little up in [acsdocker/elasticsearch:6.3.1-secured](https://hub.docker.com/r/acsdocker/elasticsearch/dockerfile) that would allow us to raise the bulk size and speed up upload (I guess).

[2019-06-04 06:53] valeriocos commented on #125
Any news on this issue @tdegueul ? Should I check whether some specific factoids are reflected in the dashboards ?

[2019-06-04 07:13] valeriocos commented on #253
thanks for the quick reply @mhow2 , please have a look at the PR to increase the max_content_lenght: https://github.com/crossminer/scava-deployment/pull/65

[2019-06-04 07:38] #253 closed

[2019-06-04 07:39] valeriocos commented on #253
PR crossminer/scava-deployment#65 @mhow2 , let's close the issue. Feel free to reopen it if the error pops up again

[2019-06-04 07:51] ambpro commented on #242
Hello @valeriocos, thansks for your check.
Just for your information, the commit https://github.com/crossminer/scava/commit/8374e04945fae6f2235a92ed40c2b57677478db1 fixes the predicate condition about the collection if it exists on the database. before, the condition was always evaluated as `true` even the collection exists on the mongodb. If the log message still appears that means that the reque

[2019-06-04 07:55] valeriocos commented on #242
Thank you @ambpro for the clarification. I guess we can close the issue then, what do you think @mhow2 ?

[2019-06-04 07:56] mhow2 opened #265 "prosoul : Can't find value for for XXX"
:exclamation: I notice the following error because of env `DASHDEBUG=1`
In the current prosoul build we have hundred of errors like follow at startup (and notice "for for") :

[code]

[2019-06-04 08:01] mhow2 commented on #242
Ok, closing

[2019-06-04 08:01] #242 closed

[2019-06-04 08:06] mhow2 commented on #262
Thanks. Let's merge this one to #263

[2019-06-04 08:06] #262 closed

[2019-06-04 08:37] valeriocos commented on #261
![Captura de pantalla de 2019-06-04 10-22-20](https://user-images.githubusercontent.com/6515067/58864262-a9a66380-86b4-11e9-9a91-193db928e9ea.png)

I have just deployed the latest version and the issue is fixed. If it's ok on your side @mhow2 , feel free to close this issue.

[2019-06-04 08:39] mhow2 commented on #223
Hi @tdegueul , do you have a clue ? Thanks.

[2019-06-04 08:40] mhow2 commented on #200
@md2manoppello : can I ask what this issue is about ?

[2019-06-04 08:41] mhow2 commented on #181
looks fixed

[2019-06-04 08:41] #181 closed

[2019-06-04 08:46] mhow2 commented on #62
@valeriocos do you think we can close this issue ?

[2019-06-04 08:48] valeriocos commented on #62
yes, thanks @mhow2 !

[2019-06-04 08:48] #62 closed

[2019-06-04 09:30] mhow2 commented on #198
@kb634 , @crossminer/york
See the following screenshot, we still have an issue:

![screen](https://user-images.githubusercontent.com/9987241/58868203-238e1b00-86bc-11e9-8fe1-e14e107d864a.png)

[2019-06-04 09:32] valeriocos commented on #265
Thank you @mhow2 for reporting this issue. I did a docker system prune, deployed the last docker-compose and I'm not able to replicate the issue:
[code]

Is it possible you are not using the last prosoul image ?

[2019-06-04 09:33] creat89 commented on #198
@mhow2, we might still have the issue as I need to repackage RESTMULE. The current implementation is not Tycho and do not generate any Jenkins, so I need to link it manually.

[2019-06-04 09:58] creat89 commented on #198
@kb634 From which branch of CROSSFLOW/RESTMULE should I create the jar?

[2019-06-04 10:09] #263 closed

[2019-06-04 11:00] kb634 commented on #198
@creat89 Hi Adrian, the patch is in the 'crossflow' branch, I am not closing this issue until you or @mhow2 can verify it fixes the issue. Cheers.

[2019-06-04 11:59] mhow2 commented on #261
Thanks !

[2019-06-04 11:59] #261 closed

[2019-06-04 13:09] valeriocos opened #266 "[api-recommendations] Get the KB project that corresponds to metric platform project"
It would be nice to be able to get the project in the KB that corresponds to the project in the metric platform based on its ID (`shortName`).

[2019-06-04 15:39] valeriocos commented on #265
As discussed offline, the message appears only when `DASHDEBUG` is set to 1 in the prosoul section of the scava-deployment's docker-compose.

The message is due to an empty value returned by the assessment: https://github.com/Bitergia/prosoul/blob/master/django-prosoul/prosoul/prosoul_assess.py#L386

Probably the log message should be improved, for instance including the from and to dates

[2019-06-04 15:44] creat89 commented on #198
Commit https://github.com/crossminer/scava/commit/2c187104a8c1091f05999c43de2882a33f6604bb should implement the changes that were done in CROSSFLOW/RESTMULE

[2019-06-04 15:54] valeriocos commented on #265
A PR is available on Prosoul: https://github.com/Bitergia/prosoul/pull/150
@mhow2 I'll merge it, so then we can check the log messages (which now includes the from and to date) with the metrics data.

[2019-06-05 07:07] mhow2 commented on #265
Thanks !

[2019-06-05 07:07] #265 closed

[2019-06-05 07:10] mhow2 opened #271 "SLF4J error"
Can someone take a look at this error ? It happens just right after starting a task (in my case, it is https://gitlab.ow2.org/clif/clif-legacy, all metrics, year 2018).

[code]

[2019-06-05 07:20] creat89 commented on #271
Despite that error, it shouldn't affect the platform. It might be one external library having issues finding correctly the logger.

[2019-06-05 07:25] mhow2 commented on #244
So, running the analysis again on https://gitlab.ow2.org/clif/clif-legacy, all metrics, year 2018

The analysis hang at 7% on `historic` metric. JMX is available at scava-dev.ow2.org:8192

[2019-06-05 09:24] creat89 opened #273 "Highlight better errors in Task Creation UI"
Hello,

Today while creating a new task in the UI, by mistake I put the wrong end date, in consequence the save button was impossible to click. The reason was a wrong end date. It might be useful to highlight better that there is a problem with the dates, as currently only a slim line changes of color from black to red if something is wrong.

![image](https://user-images.githubusercontent.com/1712

[2019-06-05 09:39] #255 closed

[2019-06-05 12:55] mhow2 commented on #244
This observation doesn't seem related with the current leak issue. Please ignore it.

[2019-06-05 14:51] valeriocos commented on #260
@phkrief @mhow2 please have a look at: https://github.com/crossminer/scava/pull/274 , it includes the `trip advisor` visualization

It doesn't seem to be possible right now, since the SCAVA API just returns aggregated data (number of comments), not the single comments.

[2019-06-05 14:52] valeriocos commented on #254
@creat89 could you please have a look at the dashboard at: https://github.com/crossminer/scava/pull/274 and provide feedback ?

Thanks

[2019-06-05 14:54] mhow2 opened #276 "stuck tasks : need people to test reproducing"
It seems I'm lucky enough with the platform to have task that hangs at some point.
The issue happen very random, and what I see from the platform with the steps below is several `git pull` are spawned. It looks weird, at least to me, it feels like the process isn't thread safe. But it can also be a matter with the server itself....

To try to reproduce the thing I'm observing with https://gitlab.o

[2019-06-05 14:57] tdegueul commented on #276
Please see whether 213db8a1623436fe708cf9f250b2dd5752188651 has any influence.

[2019-06-06 06:58] valeriocos commented on #276
scava version: `3860ee1b1 (HEAD -> dev) [dashboard] Update title of sentiment dashboard`

I detect the same problem, below the steps I did:
- `docker system prune -a`
- `docker-compose -f docker-compose-build.yml build --no-cache`
- `docker-compose -f docker-compose-build.yml up`
- add gitlab token
- add project `https://gitlab.ow2.org/clif/clif-legacy`
- fill task `30/01/2018 to 31/01/2018` all m

[2019-06-06 07:43] valeriocos commented on #254
PR merged: https://github.com/crossminer/scava/pull/274

I close this issue @creat89 (since the PR got positve feedback), feel free to reopen it if needed, thanks!

[2019-06-06 07:43] #254 closed

[2019-06-06 08:42] valeriocos commented on #260
@phkrief @mhow2 we can close this issue if you agree (since the visualization was added at: https://github.com/crossminer/scava/pull/274). We may open another issue to address what @phkrief was suggesting (`retrieve the comments which have been rated "Terrible"`)

[2019-06-06 08:59] phkrief commented on #260
This is fine with me. Please close it and thanks again for your support.
I will create the new enhancement

[2019-06-06 09:02] valeriocos commented on #260
you're welcome @phkrief , thanks!

[2019-06-06 09:02] #260 closed

[2019-06-06 09:03] phkrief opened #278 "Retrieve the comments which have been rated "Terrible""
It will be helpful to retrieve the comments which have been analysed by the NLP to list, for example, the comments which have been tagged as "Angry" or "Sadness", for example.

I have in mind the same kind of behavior as we can fin in TripAdvisor when I want to see only the comment tagged as "Terrible", for example.

[2019-06-06 10:28] mhow2 commented on #276
Doesn't seem to on my side.

[2019-06-06 11:45] creat89 commented on #278
This is covered by the indexer. Currently the platform (if the metrics are selected) will index all the comments in an issue tracker, articles in communications channels and even documentation entries. The indexing consists in storing the text but also other information such as emotions (such as anger, sadness, joy), sentiment polarity (from -1 to 1, i.e from negative to positive), if they contain

[2019-06-06 15:42] ambpro commented on #178
Hello all, with reference to the issue discussions above and after having a deep looking on the overlapping tasks issue, we planned the following workaround:
* Prevent the possibility to analyze precedent and current days while running multiple tasks with a overlapping analyzing ranges. This feature will allow to avoid having redundant collections
* Block the possibility to change the `start-date`

[2019-06-06 16:22] MarcioMateus commented on #178
Hi Amin,

These ideas make a lot of sense.

I don’t know how you plan to introduce these changes, but if you go for a step-by-step feature release, then in the first feature tasks with different metrics should be able to run over the same time range.

[2019-06-07 06:53] mhow2 commented on #178
makes sense, yes but as Marcio said let's see how to proceed

[2019-06-07 07:16] davidediruscio commented on #178
Hi Amin,

I think the changes you are planned make sense also to me. Could you please
elaborate a bit more the first bullet point?

Thanks
Davide

Il giorno gio 6 giu 2019 alle ore 18:42 Amin Boudeffa <
notifications@github.com> ha scritto:

--
-------------------------------------------------------------------------------------------------------------
Prof. Davide Di Ruscio
Department of Informat

[2019-06-07 07:30] valeriocos commented on #278
interesting @creat89! where can I see this index ?

[2019-06-07 07:39] creat89 commented on #278
If the indexing metrics have been selected in the task manner, scava will produce indexes. just query elasticsearch as the name of the indexes changes according to the type of data analyzed. Dan can tell you more.

[2019-06-07 07:55] valeriocos commented on #278
Thanks for the quick reply and explanation @creat89 . I'm going to check it, however we can discuss about it in York

[2019-06-07 08:42] ambpro commented on #178
@MarcioMateus

@davidediruscio

elaborate a bit more the first bullet point?

First of all, within the new abilities of the admin-ui to update metrics and time ranges trigger a problem of the analysed data consistency when having overlapping time range tasks. Some historic/transient metric-providers seem to be affecting by wrong results ( or redundant results) if we know that these metrics don't d

[2019-06-07 10:03] creat89 commented on #178
Hello @ambpro, I think they are ok, but still I have some questions.

If the user deletes the first task, that was between `21/01/2019-->23/01/2019`,  is the user able to create a task with an older date, such as `18/01/2019-->23/01/2019`? But more importantly, is the user able to rerun metrics that were originally run in the task `21/01/2019 ---> 23/01/2019`? If it will not be possible (to any of

[2019-06-07 10:54] creat89 opened #279 "Negative Progress"
Hello,

For unknown reasons the progress bar showed me a negative progress:
![image](https://user-images.githubusercontent.com/17121539/59099426-f9866400-891a-11e9-9928-14d5c8129c97.png)
There were some issues during the running, but, still I wonder why the progress was negative.

[2019-06-07 10:58] ambpro commented on #178
Hi @creat89,

Yes, deleting the first task implies that the linked metrics collections will be dropped on the project analysis database. Then, the new created one should cover the execution of range `18/01/2019` --> `23/01/2019`.

Yes, totally.

No need to do that!

[2019-06-07 11:03] blueoly commented on #279
I have noticed something similar happening but only in the first moments of the analysis. Initially, the value of the progress bar is -25% and after 1-2 seconds it starts acting normally.

[2019-06-07 11:34] valeriocos commented on #279
Hi @blueoly @creat89 this issue is probably related to https://github.com/crossminer/scava/issues/276

[2019-06-07 12:29] creat89 commented on #279
@valeriocos no. I don't think it is related as at the end the task finished completely without any other issue. Also, I'm not analyzing a project related to vcs but communication channels.

[2019-06-07 12:30] creat89 commented on #178
Perfect!

[2019-06-07 14:08] Danny2097 opened #281 "`articleNumber` missing for Threader"
The objects added to the delta in both the `Sympa` and `Mbox` readers require the field `articleNumber` to be populated with a unique `long` value in order to be compatible with the threader. Currently they are unable to successfully be threaded.

`articleNumber` in the NNTP reader is obtained from the library ` org.apache.commons.net.nntp.Article`

[2019-06-07 14:58] Danny2097 commented on #281
I have implemented a solution which populates the `articleNumber` with the unix-timestamp based on the time the message was sent. This way the ID is persistent and the chance of two emails being sent at the same millisecond is really low.

[2019-06-07 15:08] Danny2097 commented on #281
This issue has now been addressed in commit 7f28cf53f8147adb4068ccd178aa32076477c064

[2019-06-07 15:08] #281 closed

[2019-06-10 08:47] mhow2 commented on #276
I've been running a task over 11 months (2018), all metrics, with project https://github.com/INRIA/spoon and haven't encountered the issue yet. So maybe it's more related to gitlab projects ?

[2019-06-10 10:27] Danny2097 opened #283 "Register Eclipse Forums"
Following recent pushes and fixes to the Eclipse Forum Reader it is now ready to be registered as a source in SCAVA. @ambpro could you add them to the UI, so the user partners can start checking that the readers work correctly?

[2019-06-10 10:36] nnamokon commented on #189
Hi @mhow2 @ambpro,
The Mbox reader is now available within the platform and now requires the ability to register a project via the UI. I have provided details below regarding the current project parameters:
Mandatory parameters:
MBOXNAME= Name of the Mbox
MBOXDESCRIPTION = description of the Mbox
COMPRESSEDFILEEXTENSION = file extension of the compressed archive. (currently supports 'tarballs' (ta

[2019-06-10 15:30] mhow2 commented on #247
Hi @nnamokon please could you report on this ?
I'm also concerned (as discussed with @valeriocos and in issue https://github.com/Bitergia/prosoul/issues/110) with some metric that have the same exact `name` value. We have to remember that the metric name is the string which is used in dashboards or prosoul to as labels. So to me the name should be unique and accurate enough to what it applies.

Fo

[2019-06-12 12:44] nnamokon commented on #247
Hi @mhow2 and @valeriocos,
All the metric <names> are now unique and reflect the information being passed.

[2019-06-12 14:26] md2manoppello commented on #266
KB gets project by metric provider short name.
Here a post instance
[code]
and a simple json response
[code]

[2019-06-12 14:26] #266 closed

[2019-06-12 18:11] valeriocos commented on #247
Thank you @nnamokon for the info.

[2019-06-13 09:09] mhow2 commented on #176
Hi, do we have any news on this ?

[2019-06-13 09:19] mhow2 opened #286 "admin ui : finishing JIRA integration"
Now that we can register JIRA settings at project creation time (#121) we want to be able **to edit those settings for existing projects**.

Additionally , this is very unclear what to put in JIRA `URL` and `Project` fields. And the password is not hidden. Ideally there should be something to test the JIRA settings before starting the task.

[2019-06-13 09:23] mhow2 commented on #276
Please, is someone can have a look ? @ambpro ?

[2019-06-13 09:47] creat89 commented on #276
@davidediruscio I'll try to reproduce the issue and help, but I'm not charged of the git readers, which seems to be the cause of the issue.

[2019-06-13 10:03] creat89 commented on #176
I couldn't reproduce the issue and I don't know why JIRA server should return an error 401 when the data is openly accessible. If the reader would have reached the rate limit of calls, the error would be 429. Nonetheless, I've pushed some commits, as it seems that the JIRA reader was broken after I modified some versions of their dependencies. But, this issue was much before that change.

[2019-06-13 12:00] creat89 commented on #276
I've been trying to reproduce the issue with other Gitlab repositories but I don't see the issue, and I couldn't see any part of the workingcopy code where could it be an issue.

[2019-06-13 13:22] #175 closed

[2019-06-13 14:10] creat89 opened #287 "Non-project related readers"
Hello,

We have two readers that are not related to any project in particular:
- Stack Overflow (or any other source from Stack Exchange)
- Hacker news

These readers use York's Workflow to work but also tools developed for the analysis of text, such as plain text, code detector and indexing. In the case of Stack Overflow it is impossible (or very expensive) to use deltas, although a systematic ru

[2019-06-13 20:21] md2manoppello commented on #200
@mhow2 It provides recommendations about updating libraries on a project under development.
This functionality is under development.

[2019-06-14 06:42] mhow2 commented on #276
Thanks @creat89 . Notice that the procedure above doesn't make the issue to happen for every try. You may have to run it several times. Please @MarcioMateus , @borisbaldassari , could you try ? It would just take about 5min of your time. Thanks.

[2019-06-14 06:46] mhow2 commented on #109
I see the documentation has been updated, perfect ! Thanks

[2019-06-14 06:46] #109 closed

[2019-06-14 06:47] mhow2 commented on #121
Please see #286 for admin frontend integration step.

[2019-06-14 06:47] #121 closed

[2019-06-14 07:01] mhow2 commented on #104
Still interested.

[2019-06-14 07:04] mhow2 commented on #105
And especially we need the analysis duration for past tasks (along with the number of metrics).

[2019-06-14 12:19] #155 closed

[2019-06-14 14:17] mhow2 commented on #276
@blueoly , could you help to find what is the issue ?

[2019-06-14 14:56] creat89 commented on #276
@blueoly, @tdegueul, I have some question.

- Is it possible that multiple versions of the same commit (or commits from the same day) are being requested at (more or less) the same time and causing collisions?  In the sense that different metrics based on files, which do not have common dependencies, might be asking for multiple local versions at the same time for the same project?
- I see that ev

[2019-06-14 15:22] ambpro commented on #251
Hi, @nnamokon,

Could you please explain with more details the nature of the `COMPRESSEDFILEEXTENSION` field?
From the `Irc` data model it should be a string! isn't it?

[2019-06-14 15:27] ambpro commented on #189
Hello @Danny2097 @nnamokon,

Could you please explain with more details the nature of the COMPRESSEDFILEEXTENSION field?
From the `sympa` and `mbox` data models they should be a string !?

[2019-06-14 15:32] creat89 commented on #189
@ambpro, yes it should be a string. Currently, the values of that string can be either (.tar.gz) or (.tgz).

[2019-06-14 15:57] blueoly commented on #276
@mhow2 Martin, I will try to reproduce it tonight and come back with any updates.

@creat89 There is no chance to request many commits from the same day. My metrics and I am pretty sure that @tdegueul metrics use only the last commit of each day.

I am not sure but I believe that requesting the same commit multiple times is not a problem because this commit will be already checked out form the fir

[2019-06-14 16:06] blueoly commented on #276
We also add the --verbose flag in the git pull command to see when and if it gets stuck.

[2019-06-14 16:07] blueoly commented on #276
We also add the --verbose flag in the git pull command to see when and if it gets stuck. Its output will be visible through the platform logging, right?

[2019-06-14 21:28] MarcioMateus commented on #276
I did some testing on this case. I saw a behaviour similar to the that one that @valeriocos reported. However, in one run the task crashed (at -68% progress)

I saw the following exception on `oss-app` log:

[code]

After this I saw multiple repetitions of the last line.

This this ring any bell? I am not sure if this behaviour is related with the problem inicial problem reported by @mhow2 or is a

[2019-06-17 09:05] ambpro commented on #283
Hello @Danny2097
the commit https://github.com/crossminer/scava/commit/5cf097f8509a0602bbca3d4ec51eeac8006ea0b9 should add a support for the eclipse-forums.

[2019-06-17 09:06] ambpro commented on #189
Hello all,
the commit https://github.com/crossminer/scava/commit/5cf097f8509a0602bbca3d4ec51eeac8006ea0b9 should add a support for both mbox/sympa sources.

[2019-06-17 09:07] ambpro commented on #251
@nnamokon, the commit 5cf097f should add a support for the irc source.

[2019-06-17 11:04] Danny2097 commented on #276
Hi @MarcioMateus, myself and @creat89 do not think that https://github.com/crossminer/scava/issues/276#issuecomment-502269094 is related to this issue (#276). However, please provide us with some further information surrounding the stack trace and we can look into it further.

[2019-06-17 15:45] MarcioMateus commented on #276
I did a new test. The task froze for some minutes at -100% (minus!) but started and then crashed on at -22%.

You can see below the stack trace of the metrics. Several metrics presented some kind of error.
[stack-trace.json.txt](https://github.com/crossminer/scava/files/3297736/stack-trace.json.txt)

I still see similar error on `oss-app`:
[code]

But before this error, if find multiple times this

[2019-06-18 09:19] ambpro commented on #252
@creat89, the commit 2cbbe67 should add a support to the documentation readers.

[2019-06-18 09:41] mhow2 commented on #276
hi @MarcioMateus
I don't think the issue you are reporting is the same, believing the observations @valeriocos and myself made (stuck `git pull` processes). I think you could open another issue report for yours.
However, if you can try to reproduce the steps we have described, that would be helpful.

[2019-06-18 09:42] Danny2097 commented on #276
@MarcioMateus Open another issue for relating to the client and I will look into it.

[2019-06-18 09:59] MarcioMateus opened #297 "Client Connection Failure"
When analysing the project  https://gitlab.ow2.org/clif/clif-legacy, using an analysis task form 30/01/2018 to 31/01/2018 with all metrics. The task froze for some minutes at -100% (minus!) but started and then crashed at -22%.

You can see below the stack trace of the metrics. Several metrics presented some kind of error.
[stack-trace.json.txt](https://github.com/crossminer/scava/files/3297736/st

[2019-06-18 10:45] mhow2 commented on #276
This is a profiler snapshot for VisualVM, shot at the time the issue happens

[stucktask-cliflegacy.nps.gz](https://github.com/crossminer/scava/files/3301133/stucktask-cliflegacy.nps.gz)

[2019-06-18 11:50] ambpro commented on #145
Hello @valeriocos, are you agree to close this ticket now as the requirements list have been implemented?

[2019-06-18 12:02] valeriocos commented on #145
sure! thanks @ambpro

[2019-06-18 12:02] #145 closed

[2019-06-18 13:13] nnamokon commented on #189
Hi @ambpro ,
Minor correction - URL is required to register Mbox project as well.

[2019-06-18 13:50] creat89 commented on #252
Hello @ambpro, for Documentation Git-Based I get the following issue when I create a project:
[code]

After, if I want to add or see the projects page I get the following issue:
[code]

[2019-06-18 13:53] ambpro commented on #252
By looking on the stack trace,  I guess that the above issue is already fixed by the commit https://github.com/crossminer/scava/commit/7e232944198e100368ab0de9037337fcd757f8db.

[2019-06-18 14:00] creat89 commented on #252
Ok, I'll build again the platform once the build will be finished

[2019-06-18 21:48] mhow2 opened #298 "register project : github issue tracker"
We need a way to provide the GitHub issue tracker URL when registering a new project by hand. (there is no button for it).

[2019-06-19 06:56] mhow2 commented on #276
The same happened to me on project https://github.com/RocketChat/Rocket.Chat so it's not especially related to gitlab

[2019-06-19 07:34] davidediruscio commented on #287
I think we discussed yesterday this, right? The idea is to provide users
with a web page to specify a string that will be used to query
elasticsearch indexes.

[2019-06-19 11:28] creat89 commented on #276
I guess that in order to improve the debugging of this issue, it is necessary to make more verbose when it is being called the pull commands in each project. Apart from the method that downloads a local copy of a repository and calls pull every checkout, is there any other metric doing pulls? This is in order to focus only on the readers and metrics that could trigger this issue, instead of runnin

[2019-06-26 09:00] mhow2 commented on #298
@creat89 , @Danny2097  , @ambpro , @aabherve ... or anyone :) I need help on this.
@ambpro told me that the issues could be implicitely crawled when a github VCS url is set but I don't believe it's the case.

To reproduce https://github.com/docdoku/docdoku-plm.git and start the analysis between 2018-01-01 and 2018-01-31 with bug metrics.

Notice there are results for issues created/updated/closed

[2019-06-26 09:40] creat89 commented on #298
Hello @mhow2, @ambpro,

No, the git reader (VCS) will only retrieve elements regarding code or commits. It will work for GitHub, GitLab, BitBucket, etc., but it will not analyze the bug tracker aspect, because as it names indicates, in only analyzes the vcs components. There is a separate reader for GitHub Issues, GitLab Issues. Internally, you're not aware of this because the importer is the one

[2019-06-26 09:42] creat89 commented on #298
As well, in the case of the GitHub and Gitlab BTS reader, they do not have a connection to the token stored in Crossminer. As this element is retrieved at importation time.

[2019-06-27 06:58] mhow2 commented on #298
@ambpro , @creat89 :  so it's something missing in UI right ? Amin, I'm thinking about something depending on the time you have to implement : the "import" function in adminUI, instead of importing the project straight could present a pre-filled project creation form instead. It would allows one to add readers to a github/gitlab/eclipse project.

I have to say it again : currently it's not possibl

[2019-06-27 07:03] creat89 commented on #298
I'll try to check this week the elements necessary to create a bts project. I don't remember if for github you need to add the URL or split the URL into owner and project. But in all the cases,, it would be minor the modifications in our side.

[2019-06-27 07:05] mhow2 commented on #298
Thanks @creat89. The split thing might be needed for gitlab too.

[2019-06-27 07:07] creat89 commented on #298
Gitlab should be faster as I'm pretty sure that the input is the URL and I created the parsed not so long ago. But I let you know.

[2019-06-27 14:44] mhow2 opened #301 "missing html_url meta with gitlab importer"
currently, the html URL of the repository at import time is set like follow in SCAVA (from the REST response):

`"homePage": "https://gitlab.ow2.org/asm/asm"`
(and `html_url` is missing)

FYI there is no "homePage" property in GitLab in a sense of "official website homepage".

I guess we should modify the line at:

 https://github.com/crossminer/scava/blob/dev/metric-platform/platform-extensions/o

[2019-06-28 12:41] mhow2 opened #303 "bugs.newbugs : zero values (JIRA)"
I've been running an analysis on project https://github.com/lutece-platform/lutece-core for year 2018, all metrics and which uses JIRA for bts. Here are the issues created that year

http://dev.lutece.paris.fr/jira/browse/LUTECE-2223?jql=project%20%3D%20LUTECE%20AND%20created%20%3E%3D%202018-01-01%20AND%20created%20%3C%3D%202018-12-31%20ORDER%20BY%20created%20DESC

Unfortunately, I get zero values

[2019-06-28 12:50] creat89 commented on #303
For which metric(s)? Are you using the GitHub importer or are you creating a JIRA reader?

[2019-07-01 06:13] geryxyz opened #305 "update IDE plugin"

[2019-07-01 06:19] mhow2 commented on #303
- `bugs.newbugs` (specified the topic) is a metric
- I'm creating a Jira reader. But I don't understand the question because there is no way to "use a github importer" to create a jira reader.

[2019-07-01 07:24] mhow2 commented on #303
My bad. There was a small about of "1" in the ocean of zeros. Sorry.

[2019-07-01 07:24] #303 closed

[2019-07-01 07:33] mhow2 commented on #286
Hi Amin,
I justed test the changes you told me. It doesn't seem to work properly:
![Peek 01-07-2019 09-32](https://user-images.githubusercontent.com/9987241/60418454-3de7e580-9be3-11e9-8ab0-d9d21f0dff26.gif)

[2019-07-01 09:35] mhow2 opened #306 "task never performed but project status is "up to date""
Hi @ambpro,
When I create a new project (by import/URL), then add a task - and not starting it, I see the project status is "up to date". We should see something like "no data yet" instead wdyt ?